@import '../../../common/variables';

.bcs-AppActivity {
    width: 100%;

    &.bcs-is-pending {
        opacity: 0.4;
    }
}

.bcs-AppActivity-confirm {
    z-index: $overlay-z-index;
}

.bcs-AppActivity-confirmTarget {
    display: inline-block;
}

.bcs-AppActivity-content {
    color: $bdl-gray-80;
}

.bcs-AppActivity-icon {
    width: 32px;
    height: 32px;
}

.bcs-AppActivity-link {
    &.link {
        color: $blue;
    }
}

.bcs-AppActivity-headline {
    color: $bdl-gray;
    font-weight: bold;
}
