.be-empty {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    svg {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
    }
}
