@import '../../styles/variables';

.contact-name {
    font-size: 14px;
}

.contact-sub-name {
    color: $bdl-gray-50;
    font-size: 12px;
}

.contact-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
