@import '../../styles/variables';

.item-properties {
    margin: 0;

    dt {
        color: $bdl-gray-80;
    }

    dd {
        margin-bottom: 20px;
        line-height: 16px;
    }

    textarea.description-textarea {
        width: 100%;
        min-height: 34px;
        max-height: 110px;
        margin-left: -1px;
        padding: 0;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        transition:
            background-color .2s,
            border-color .2s,
            margin-left .2s,
            padding .2s;
        resize: none;

        &:hover {
            box-shadow: none;
        }

        &:focus {
            max-height: none;
            margin-left: 0;
            padding: 6px;
            background-color: $bdl-gray-02;
            border-color: $bdl-box-blue;
        }
    }

    .url-input {
        input {
            width: 100%;
            margin: 0;
        }

        &:not(.show-error) input {
            height: 16px;
            padding: 0;
            border: none;
            box-shadow: none;
            transition:
                border .2s,
                height .2s,
                padding .2s;

            &:focus {
                height: 32px;
                padding: 7px;
                border: 1px solid $bdl-box-blue;
            }
        }
    }

    .bdl-RetentionLink {
        display: inline;
        margin-left: 4px;
    }

    button {
        display: block;
    }
}
