@import '../../styles/variables';

.access-stats {
    .access-stats-view-details {
        margin-top: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .access-stats-header {
        margin: 0 0 10px;
        color: $bdl-gray-40;
    }

    .access-stats-list {
        margin: 0;
    }
}
