@import '../../../../common/variables';

.bcs-BaseCommentInfo {
    display: flex;
    align-items: 'bottom';
    justify-content: flex-start;
    padding: 2;
    font-size: $bdl-fontSize--dejaBlue;

    .bdl-Media-figure {
        line-height: 0;
    }
}

.bcs-BaseCommentInfo-avatar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bcs-BaseCommentInfo-data {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .bcs-ActivityTimestamp {
        color: $bdl-gray-65;
    }

    .bcs-Comment-headline {
        font-weight: bold;
    }
}

.bcs-BaseCommentInfo-data-timestamp {
    display: flex;
    color: $bdl-gray;
}
