@import '../variables';

.bct-content {
    display: flex;
    flex: 1 0 350px;
    flex-direction: column;

    .bct-item-list {
        flex: 1;
        position: relative;

        // sass-lint:disable class-name-format
        .ReactVirtualized__Table__Grid {
            outline: none;
        }
    }
}
