@import '../variables';

.bct-content {
    display: flex;
    flex: 1;
    flex-direction: column;

    .bct-item-list,
    .bct-empty-state {
        flex: 1;
        position: relative;

        // sass-lint:disable class-name-format
        .ReactVirtualized__Table__Grid {
            outline: none;
        }
    }

    .bct-empty-state {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
