@import '../../../../../styles/variables';
@import '../../../../../styles/mixins/overlay';

.bcs-DeleteConfirmation {
    width: 214px;

    .overlay {
        @include bdl-Overlay-container;

        padding: 20px;
    }
}

.bcs-DeleteConfirmation-promptMessage {
    margin-bottom: 20px;
}

// overrides for confirm/cancel button spacing
.btn.bcs-DeleteConfirmation-delete,
.btn.bcs-DeleteConfirmation-cancel {
    margin-left: 0;
}

.btn.bcs-DeleteConfirmation-cancel {
    margin-right: 10px;
}
