@import '../../../common/variables';

.be .btn-plain.be-timeline-time {
    position: absolute;
    height: 6px;
    background-color: $blue;
    border-radius: $bdl-border-radius-size-med;
    cursor: pointer;
    opacity: .6;

    &:focus,
    &:active,
    &:hover {
        opacity: 1;
    }
}
