@import '../../../common/variables';

.be .btn-plain.be-timeline-time {
    background-color: $blue;
    border-radius: 6px;
    cursor: pointer;
    height: 6px;
    opacity: .6;
    position: absolute;

    &:focus,
    &:active,
    &:hover {
        opacity: 1;
    }
}
