@import '../../../styles/variables';

.content-explorer {
    .content-explorer-search-new-folder-container {
        display: flex;
        align-items: center;
        height: 38px;
        margin-top: 20px;

        .quick-search .overlay {
            max-height: 345px;
        }
    }

    .content-explorer-search-container {
        width: 100%;
        margin-right: 5px;

        .search-input {
            width: 100%;
            height: 34px;
            font-size: 14px;
        }
    }

    .content-explorer-new-folder-button {
        flex: 1 0 auto;
        height: 34px;
    }

    .content-explorer-breadcrumbs-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 10px;

        .content-explorer-breadcrumbs-up-button {
            margin: 0 10px 0 0;
            padding: 8px 10px 10px 12px;
        }

        .breadcrumbs {
            /* Needed to properly ellipsize breadcrumbs text when its container uses flexbox */
            min-width: 0;

            .icon-all-files {
                margin-right: 10px;
            }
        }
    }

    .bdl-ContentExplorerFolderTreeBreadcrumbs {
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 15px;

        .bdl-ContentExplorerFolderTreeBreadcrumbs-button {
            margin: 0 10px 0 0;
            padding: 5px;
        }

        .bdl-ContentExplorerFolderTreeBreadcrumbs-icon {
            margin-right: 10px;
        }

        .bdl-ContentExplorerFolderTreeBreadcrumbs-text {
            color: $bdl-gray-62;
        }
    }

    .content-explorer-select-all-container {
        display: block;
        height: 8 * $bdl-grid-unit;

        .content-explorer-select-all-items-counter {
            margin-left: 2px;
        }

        .content-explorer-select-all-checkbox-label {
            float: right;
            margin-right: 42px;
        }

        .content-explorer-select-all-checkbox {
            float: right;
            margin-right: -21 * $bdl-grid-unit;
        }
    }

    .bdl-ContentExplorerIncludeSubfolders {
        display: inline-block;
        width: 100%;
        height: 8 * $bdl-grid-unit;
        vertical-align: middle;

        .bdl-ContentExplorerIncludeSubfolders-toggle {
            display: block;
            float: left;
        }

        .bdl-ContentExplorerIncludeSubfolders-icon-container {
            display: inline-block;
            margin-left: 118px;
            padding: 3;
            vertical-align: middle;
        }

        .bdl-ContentExplorerIncludeSubfolders-checkbox {
            float: right;
            margin-right: 4.45 * $bdl-grid-unit;
            vertical-align: middle;
        }
    }

    .content-explorer-empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 14px;
    }

    .content-explorer-action-buttons-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        border-top: 1px solid $bdl-gray-10;

        .btn {
            @include bdl-Button--large;
        }

        .status-message {
            position: absolute;
            left: 0;
            margin-top: 5px;
        }

        .content-explorer-copy-button {
            margin-right: 0;
        }
    }
}

.content-explorer .modal-actions .status-message {
    margin-right: auto;
}

.bdl-ContentExplorerModal--responsive .modal-content,
.bdl-ContentExplorer--responsive {
    display: flex;
    flex: 1;
    flex-direction: column;

    .content-explorer-breadcrumbs-up-button {
        display: none;
    }
}
