@import '../../../styles/variables';

.content-explorer {
    .content-explorer-search-new-folder-container {
        align-items: center;
        display: flex;
        height: 38px;
        margin-top: 20px;
    }

    .content-explorer-search-container {
        margin-right: 5px;
        width: 100%;

        .search-input {
            font-size: 14px;
            height: 34px;
            width: 100%;
        }
    }

    .content-explorer-new-folder-button {
        flex: 1 0 auto;
        height: 34px;
    }

    .content-explorer-breadcrumbs-container {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-top: 20px;

        .content-explorer-breadcrumbs-up-button {
            margin: 0 10px 0 0;
            padding: 8px 10px 10px 12px;
        }

        .breadcrumbs {
            /* Needed to properly ellipsize breadcrumbs text when its container uses flexbox */
            min-width: 0;

            .icon-all-files {
                margin-right: 10px;
            }
        }
    }

    .content-explorer-empty-state {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        height: 100%;
        justify-content: center;
    }

    .content-explorer-action-buttons-container {
        border-top: 1px solid $off-white;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        position: relative;

        .status-message {
            left: 0;
            margin-top: 5px;
            position: absolute;
        }

        .content-explorer-copy-button {
            margin-right: 0;
        }
    }
}
