@import '../../../styles/variables';

.content-explorer {
    .content-explorer-search-new-folder-container {
        display: flex;
        align-items: center;
        height: 38px;
        margin-top: 20px;

        .quick-search .overlay {
            max-height: 345px;
        }
    }

    .content-explorer-search-container {
        width: 100%;
        margin-right: 5px;

        .search-input {
            width: 100%;
            height: 34px;
            font-size: 14px;
        }
    }

    .content-explorer-new-folder-button {
        flex: 1 0 auto;
        height: 34px;
    }

    .content-explorer-breadcrumbs-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 10px;

        .content-explorer-breadcrumbs-up-button {
            margin: 0 10px 0 0;
            padding: 8px 10px 10px 12px;
        }

        .breadcrumbs {
            /* Needed to properly ellipsize breadcrumbs text when its container uses flexbox */
            min-width: 0;

            .icon-all-files {
                margin-right: 10px;
            }
        }
    }

    .bdl-ContentExplorerFolderTreeBreadcrumbs {
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 5px;

        .bdl-ContentExplorerFolderTreeBreadcrumbs-button {
            margin: 0 10px 0 0;
            padding: 5px;
        }

        .bdl-ContentExplorerFolderTreeBreadcrumbs-icon {
            margin-right: 10px;
        }

        .bdl-ContentExplorerFolderTreeBreadcrumbs-text {
            color: $bdl-gray;
        }
    }

    .bdl-ContentExplorer-subheader {
        display: flex;
        align-items: center;
        height: 10 * $bdl-grid-unit;

        .checkbox-container,
        .toggle-container {
            margin: 0;
        }

        .toggle-simple-label {
            display: flex;
            align-items: center;
            min-width: auto;
        }

        .content-explorer-select-all-checkbox {
            margin-right: 18px;

            &:first-child {
                margin-left: auto;
            }
        }
    }

    .content-explorer-select-all-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        height: 10 * $bdl-grid-unit;

        .content-explorer-select-all-items-counter {
            margin-left: 2px;
        }

        .content-explorer-select-all-checkbox-label {
            margin-right: 10px;
            margin-left: auto;
        }
    }

    .bdl-ContentExplorerIncludeSubfolders-icon {
        margin-left: 4px;

        path {
            fill: $bdl-box-blue;
        }
    }

    .content-explorer-empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 14px;
    }

    .content-explorer-action-buttons-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        border-top: 1px solid $bdl-gray-10;

        .btn {
            @include bdl-Button--large;
        }

        .status-message {
            position: absolute;
            left: 0;
            margin-top: 5px;
        }

        .status-message-link {
            position: absolute;
            left: 0;
            margin-top: 5px;
            color: $bdl-box-blue;
            font-size: $bdl-fontSize--dejaBlue;
            line-height: $bdl-line-height;
        }

        .content-explorer-copy-button {
            margin-right: 0;
        }
    }
}

.bdl-ContentExplorerBreadcrumbs-crumbLink {
    width: 100%;
}

.content-explorer .modal-actions .status-message {
    margin-right: auto;
}

.bdl-ContentExplorerModal--responsive .modal-content,
.bdl-ContentExplorer--responsive {
    display: flex;
    flex: 1;
    flex-direction: column;

    .content-explorer-breadcrumbs-up-button {
        display: none;
    }
}
