@import '../../styles/variables';

.nav-sidebar {
    z-index: 2;
    width: 200px;
    padding: 25px 10px 0 20px;
    overflow: hidden auto;
    background-color: $bdl-gray-02;
    border-right: 1px solid $bdl-gray-10;
}

.nav-list {
    margin-bottom: 20px;

    > h2 {
        margin: 0;
        color: $bdl-gray-40;
        font-size: 10px;
        line-height: 28px;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    > ul {
        margin: 0;

        > li {
            margin: 5px 0;
        }
    }

    > .placeholder {
        width: 180px;
        padding: 0 18px 0 28px;
        color: $bdl-gray-30;
    }

    a {
        color: $bdl-gray-65;
    }

    .nav-list-collapse-header {
        position: relative;
        display: flex;
        align-items: center;
    }

    .nav-list-collapse {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 10px);
        margin: 5px;
        padding: 0 5px;

        > svg {
            @include bdl-transition($bdl-transitionDurationBase, transform);
        }
    }

    &.is-collapsed {
        > ul,
        .placeholder {
            display: none;
        }

        .nav-list-collapse > svg {
            transform: rotateZ(-90deg);
        }
    }
}
