@import '../../common/variables';

.bcpr-btns {
    display: flex;

    .be & .bcpr-bcow-btn,
    .be & .btn-plain.bcpr-btn {
        display: flex;
        margin: 0 10px 0 0;
        padding: 0 5px 0 5px;

        &:hover,
        &:active {
            background: none;
        }
    }
}

.bcpr-header {
    align-items: center;
    background-color: $haze;
    border-bottom: 1px solid $see-see;
    display: flex;
    flex: 0 0 60px;
    font-size: 13px;
    justify-content: space-between;
    padding: 0;

    .bp-header {
        flex: 1;
        height: 60px;
    }

    .bp-base-header {
        padding: 0 0 0 15px;
    }
}

.bcpr-header--basic {
    .bp-header {
        background: $threes;
        border-bottom: 0;
    }

    .bcpr-name,
    .btn-plain.bcpr-btn {
        color: $haze;
    }
}

.bcpr-name {
    align-items: center;
    display: flex;

    span {
        font-weight: 600;
        padding-left: 5px;
    }
}

.bp-header button.ba-btn-annotate-point-exit,
.bp-header button.ba-btn-annotate-draw-cancel {
    background-color: $twos;
    border: solid $off-white 1px;
    color: $off-white;

    &:hover {
        background-color: $black;
    }
}

.bp-header button.ba-btn-annotate-draw-post {
    background-color: $off-white;
    color: $twos;

    &:hover {
        background-color: $white;
    }
}

.bcpr-header .ba-point-post-cancel-container,
.bcpr-header .ba-draw-post-cancel-container {
    margin-right: 20px;
    position: absolute;
    right: 0;

    button {
        height: 32px;
        margin: 8px;
    }
}

.bcpr-header .ba-draw-undo-redo-container {
    margin: 0 auto;

    .ba-btn-annotate-draw-redo,
    .ba-btn-annotate-draw-undo,
    button.ba-btn-annotate-draw-redo,
    button.ba-btn-annotate-draw-undo,
    .is-disabled.ba-btn-annotate-draw-redo,
    .is-disabled.ba-btn-annotate-draw-undo {
        background: none;
        border: none;
        margin: 5px;

        svg {
            fill: $off-white;
            vertical-align: middle;
        }
    }
}
