@import '../../styles/variables';

/**************************************
 * Radio
 **************************************/

.radio-label {
    align-items: center;
    display: inline-flex;
    position: relative;
    user-select: none;

    > input[type='radio'] {
        flex: none;
        height: 14px;
        margin: 0;
        opacity: 0;
        width: 14px;

        + span::before {
            background-color: $white;
            border: 7px solid $white;
            border-radius: 9001px;
            box-shadow: 0 0 0 1px $nines, 0 -1px 1px rgba(0, 0, 0, .4);
            content: '';
            height: 14px;
            left: 0;
            position: absolute;
            top: 3px;
            transition: border-width .1s;
            width: 14px;
        }

        &:checked + span::before {
            background-color: $primary-color;
            border: 3px solid $white;
        }

        &:focus + span::before {
            box-shadow: 0 0 0 1px $primary-color;
        }

        &:disabled + span::before {
            background-color: $bfive;
            border-color: $karl-fog;
            box-shadow: 0 0 0 1px $dtwo;
        }

        + span + span {
            margin-left: 10px;
        }
    }
}

.radio-container {
    margin: 0 0 20px;
}

.radio-description {
    color: $downtown-grey;
    margin-left: 24px;
    margin-top: 2px;
}
