@import '../variables';

.be.bcs {
    @import '~box-react-ui/lib/styles/common/forms';

    background-color: $haze;
    display: flex;
    width: 340px;
}

.be .bcs-loading {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 0;
    margin: 0 auto;
    white-space: nowrap;
    width: 10px;
}
