@import '../variables';

.be.bcs {
    @import '~box-react-ui/lib/styles/common/forms';

    background-color: $haze;
    display: flex;
    width: 340px;
}

.bcs-loading {
    align-items: center;
    display: flex;
    flex: 1;
}
