@import '../variables';

.bcs-details-description {
    height: 80px;
    margin: 0 20px;

    label span {
        color: $sevens;
        display: block;
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 3px;
    }

    textarea,
    textarea:hover,
    textarea:active,
    textarea:focus {
        background-color: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        height: 50px;
        margin: 0 0 -5px -1px;
        padding: 0;
        resize: none;
        transition: background-color .2s, border-color .2s, margin .2s, padding .2s;
        width: 100%;

        // &:focus {
        //     background-color: $white;
        //     border-color: $blue;
        //     margin: 0;
        //     padding: 5px 10px;
        // }
    }
}
