@import '../variables';

.bcs .bcs-nav-btn {
    display: flex;
    position: relative;

    .bcs-nav-btn-border {
        height: 60px;
        left: -1px;
        pointer-events: none;
        position: absolute;
        width: 3px;
    }

    .btn-plain {
        background-color: transparent;
        display: block;
        height: 60px;
        width: 59px; // 1px for left border
    }

    &.bcs-nav-btn-is-selected {
        .bcs-nav-btn-border {
            background-color: $blue;
        }

        svg path {
            fill: $blue;
        }
    }

    &:hover {
        background-color: $ffive;

        &:not(.bcs-nav-btn-is-selected) svg path {
            fill: $fours;
        }
    }
}
