@import '../variables';

.bcs-content {
    position: relative;
    width: 340px;

    .bcs-title {
        border-bottom: 1px solid $off-white;
        font-size: 16px;
        font-weight: 200;
        height: 60px; // Same as section top below
        line-height: 60px;
        margin: 0 25px 15px 20px;
        padding: 0;
    }

    .bcs-scroll-content-wrapper {
        bottom: 0;
        left: 0;
        overflow: auto;
        padding-top: 10px;
        position: absolute; // Prevents non-sidebar parts from re-painting
        right: 0;
        top: 60px; // Same as title above

        .bcs-scroll-content {
            height: 100%;
            width: 323px; // 17px less than the total width for scroll bar
        }
    }
}
