@import '../variables';

.bcs-section-content {
    padding: 15px 0 5px;
}

.bcs-section {
    margin: 0 20px 20px 30px;
}

.bcs-section-caret {
    transform: rotate(-90deg);
    transition: transform 100ms ease-in-out;
}

.bcs-section-title {
    align-items: center;
    border-bottom: 1px solid $off-white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px;
    text-align: left;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        border-bottom-color: $blue;
    }

    .btn-plain {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

.bcs-section-has-custom-branding {
    .bcs-section-title {
        &:hover,
        &:active,
        &:focus {
            border-bottom-color: $twos;
        }
    }
}

.bcs-section-open {
    .bcs-section-caret {
        transform: rotate(0deg);
    }
}
