@import '../../../common/variables';

.be-faces {
    position: relative; // For section title icons

    .inline-alert {
        margin: 0 0 20px;
    }

    .btn-plain.be-face-edit {
        position: absolute;
        top: -46px;
        right: 15px;
        width: 24px;
        height: 24px;
        padding-top: 1px;
        border-radius: $bdl-border-radius-size;

        &:hover svg path {
            fill: $bdl-gray;
        }

        &.be-faces-is-editing {
            background-color: $bdl-gray-10;

            .icon-edit > .fill-color {
                fill: $bdl-gray-05;
            }
        }
    }

    .be-faces-buttons {
        margin-right: -5px;
        padding-top: 7px;
        text-align: right;
    }
}
