.bcu-item-action {
    display: flex;
    align-items: center;
    justify-content: center;

    .bcu-ItemAction-loading,
    .bcu-IconInProgress-loading {
        position: relative; // Override default Blueprint position: `absolute`
    }

    button {
        // Vertically center icon
        svg {
            display: block;
        }

        .bcu-IconInProgress {
            // Hide cross icon without hover
            svg {
                display: none;
            }
        }

        // Display cross icon on hover and hide loading indicator
        &:hover .bcu-IconInProgress {
            svg {
                display: block;
            }

            .bcu-IconInProgress-loading {
                display: none;
            }
        }
    }
}
