@import '../../../styles/variables';
@import './variables';

.btn.bdl-close-btn {
    width: $close-btn-size;
    height: $close-btn-size;
    padding: unset;
    background-color: $bdl-gray-10;
    border: unset;
}
