@import '../../../styles/variables';
@import './variables';

.overlay-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $overlay-header-height;
    padding: 13px 16px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

    .oh-content {
        flex-grow: 1;
    }
}
