.email-shared-link {
    .bdl-PillSelectorDropdown {
        margin: 0;

        .bdl-Tooltip-target {
            display: block;
        }
    }

    .text-area-container {
        display: block;
        height: 0;
        margin: 0;
        overflow: hidden;

        .bdl-Tooltip-target {
            display: block;
        }
    }

    .text-area-container {
        transition: height 0.2s;
    }

    .bdl-EmailSharedLink-tooltipWrapper {
        width: 100%;
    }

    .bdl-PillSelector,
    textarea {
        width: 100%;
    }

    &.is-expanded {
        .bdl-PillSelectorDropdown {
            margin-bottom: 20px;
        }

        .text-area-container {
            height: 100px;
        }

        .bdl-PillSelector {
            height: 58px;
        }
    }
}
