.email-shared-link {
    .bdl-PillSelectorDropdown {
        margin: 0;
    }

    .text-area-container {
        display: block;
        height: 0;
        margin: 0;
        overflow: hidden;
    }

    .text-area-container {
        transition: height .2s;
    }

    .bdl-PillSelector,
    textarea {
        width: 100%;
    }

    &.is-expanded {
        .bdl-PillSelectorDropdown {
            margin-bottom: 20px;
        }

        .text-area-container {
            height: 100px;
        }

        .bdl-PillSelector {
            height: 58px;
        }
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.pill-selector-wrapper {
    @extend .bdl-PillSelectorDropdown;
}

.pill-selector-input-wrapper {
    @extend .bdl-PillSelector;
}
