@import '../../styles/variables';

/**************************************
 * Badges
 **************************************/

.badge {
    background: $bdl-gray-10;
    border-radius: 3px;
    color: $bdl-gray-62;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    padding: 2px 4px 3px;
    text-align: center;
    text-decoration: none;
}

.badge-info {
    background: $bdl-box-blue-50;
    color: $white;
}

.badge-warning {
    background: $bdl-yellorange;
    color: $white;
}

.badge-highlight {
    background: $bdl-light-blue;
    color: $white;
}

.badge-alert,
.badge-error {
    background: $bdl-watermelon-red;
    color: $white;
}

.badge-success {
    background: $bdl-green-light;
    color: $white;
}
