{
    "presets": [
        [
            "es2015", { "modules": false }
        ],
        "es2016",
        "es2017",
        "react",
        "flow"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-regenerator",
        [
            "react-intl",
            {
                "enforceDescriptions": true,
                "messagesDir": "./i18n/json"
            }
        ]
    ],
    "env": {
        "npm": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss", ".css"]
                    }
                ]
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss", ".css"]
                    }
                ]
            ]
        }
    }
}
