{
    "parser":"babel-eslint",
    "plugins":[
       "flowtype",
       "prettier",
       "jsx-a11y"
    ],
    "extends":[
       "prettier",
       "prettier/flowtype",
       "prettier/react",
       "plugin:flowtype/recommended",
       "plugin:prettier/recommended",
       "plugin:jsx-a11y/recommended",
       "react-app"
    ],
    "env":{
       "node":true,
       "browser":true,
       "jest":true
    },
    "parserOptions":{
       "ecmaVersion":6,
       "sourceType":"module",
       "ecmaFeatures":{
          "jsx":true
       }
    },
    "rules":{
       "camelcase":[
          0
       ],
       "prettier/prettier":[
          "error",
          {
             "parser":"flow",
             "trailingComma":"es5",
             "tabWidth": 4,
             "printWidth": 120,
             "arrowParens": "always",
             "singleQuote": true
          }
       ],
       "jsx-a11y/href-no-hash": "off",
       "flowtype/space-after-type-colon": [ 2, "always", { "allowLineBreak": true } ]
    }
 }
