*.iml
*.swp
*~~bak
.DS_Store
.idea
_site
__diff_output__
dist
es
i18n/*.js
i18n/json
node_modules
npm-debug.log
npm-error.log
reports
scripts/rsync.json
styleguide
test/screenshots
test/videos
test/dev.html
yarn-debug.log
yarn-error.log
