*.iml
*.swp
*~~bak
.DS_Store
.idea
_site
__diff_output__
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json
dist
es
i18n/*.js
i18n/json
i18n/bundles
node_modules
npm-debug.log
npm-error.log
reports
scripts/rsync.json
storybook
styleguide
test/screenshots
test/videos
test/dev.html
yarn-debug.log
yarn-error.log