*~
*~~bak
.circleci
.conventional-changelog-lintrc
.DS_Store
.editorconfig
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.flowconfig
.git
.github
.gitignore
.idea
.jest
.mergify.yml
.npmignore
.npmrc
.nvmrc
.prettierignore
.prettierrc.js
.storybook
.stylelintignore
.sublime-project
.swp
.vimrc
.vscode
.yarnrc
babel.config.js
build
chromatic.config.json
CODEOWNERS
commitlint.config.js
coverage
cypress.json
desktop.ini
examples
flow/
flow-typed/npm/
i18n/json
jest.config.js
jsconfig.json
npm-debug.log
npm-error.log
postcss.config.js
release.config.js
reports
scripts
stylelint.config.js
test
Thumbs.db
tsconfig.json
yarn-debug.log
yarn-error.log
yarn.lock
