*~
.vimrc
.sublime-project
.swp
coverage
reports
desktop.ini
npm-debug.log
yarn-debug.log
.npmrc
Thumbs.db
.idea
src
.babelrc
.DS_Store
.editorconfig
.eslintrc.json
.eslintrc
.git
.gitignore
.npmignore
.stylelintignore
.stylelintrc
.vscode
.yarnrc
build
postcss.config.js
reports
test
yarn.lock
.travis.yml
flow
.flowconfig
browserslist
.conventional-changelog-lintrc
*~~bak
