{
    "extends": "stylelint-config-standard",
    "plugins": ["stylelint-order"],
    "rules": {
        "indentation": 4,
        "at-rule-no-vendor-prefix": true,
        "media-feature-name-no-vendor-prefix": true,
        "property-no-vendor-prefix": true,
        "selector-no-vendor-prefix": true,
        "value-no-vendor-prefix": true,
        "number-leading-zero": never,
        "declaration-no-important": true,
        "order/properties-alphabetical-order": [true, { "severity": "warning" }]
    }
}
