language: node_js
node_js:
    - "8"
cache:
  yarn: true
  directories:
    - node_modules
jobs:
  include:
    - # commit lint
      script: commitlint-travis
    - # code lint
      script: npm-run-all clean build:i18n lint
    - # flow types
      script: npm-run-all clean build:i18n; yarn flow
    - # tests
      script: yarn test
    - # build
      script: npm-run-all clean build:i18n build-ci
