language: node_js
node_js:
    - "10"
cache:
  yarn: true
  directories:
    - node_modules
    - ~/.cache/Cypress
before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
    - export PATH=$HOME/.yarn/bin:$PATH
    - export TZ=America/Los_Angeles
jobs:
  include:
    - name: "Commit Lint"
      script: commitlint-travis
    - name: "Code Lint"
      script: yarn lint
    - name: "DEBUG"
      script: uname -a && yarn run flow ls
    - name: "Flow Types"
      script: yarn run flow
    - name: "Unit Tests"
      script: yarn test
    - name: "E2E Tests"
      script: yarn test:e2e
    - name: "Build Babel"
      script: npm-run-all clean build:i18n build:ci:es
    - name: "Build Webpack"
      script: npm-run-all clean build:i18n build:ci:dist
