# Default
*                                           @box/webapp

# Root
/*                                          @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements

# Source
/src/                                       @box/webapp
/src/*                                      @box/ui-elements
/src/api/                                   @box/ui-elements
/src/api/box-edit/                          @box/partners
/src/api/Feed.js                            @box/preview
/src/api/uploads/                           @box/create-communicate
/src/components/                            @box/ui-elements
/src/elements/                              @box/ui-elements
/src/elements/content-explorer/             @box/ui-elements
/src/elements/content-open-with/            @box/partners
/src/elements/content-picker/               @box/ui-elements
/src/elements/content-preview/              @box/preview
/src/elements/content-sharing/              @box/partners
/src/elements/content-sidebar/              @box/preview
/src/elements/content-uploader/             @box/create-communicate
/src/elements/wrappers/                     @box/ui-elements
/src/features/                              @box/webapp
/src/features/access-stats/                 @box/preview
/src/features/content-insights/             @box/preview
/src/features/item-details/                 @box/preview
/src/features/metadata-based-view/          @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/styles/                                @box/ui-elements @box/design-system

# Tests
/test/                                      @box/webapp
/test/integration/                          @box/webapp
/test/integration/content-explorer/         @box/ui-elements
/test/integration/content-open-with/        @box/partners
/test/integration/content-picker/           @box/ui-elements
/test/integration/content-preview/          @box/preview
/test/integration/content-sidebar/          @box/preview
/test/integration/content-uploader/         @box/create-communicate
