# Default
*                                           @box/webapp

# Root
/*                                          @box/foundation @box/webapp
/LICENSE                                    @box/ui-elements
/scripts/                                   @box/foundation @box/webapp
/THIRD_PARTY_LICENSES                       @box/ui-elements

# Source
/src/                                       @box/foundation @box/webapp
/src/*                                      @box/create-communicate @box/preview @box/ui-elements
/src/api/                                   @box/create-communicate @box/preview @box/ui-elements
/src/api/Feed.js                            @box/collab @box/preview
/src/api/box-edit/                          @box/partners
/src/api/tasks                              @box/collab @box/preview
/src/elements/                              @box/create-communicate @box/preview @box/ui-elements
/src/elements/content-explorer/             @box/ui-elements
/src/elements/content-open-with/            @box/partners
/src/elements/content-picker/               @box/ui-elements
/src/elements/content-preview/              @box/preview
/src/elements/content-sidebar/              @box/preview
/src/elements/content-sidebar/activity-feed @box/collab @box/preview
/src/elements/content-uploader/             @box/create-communicate
/src/elements/wrappers/                     @box/ui-elements
/src/features/                              @box/webapp
/src/features/access-stats/                 @box/preview
/src/features/item-details/                 @box/preview
/src/features/metadata-based-view/          @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements

# Tests
/test/                                      @box/foundation @box/webapp
/test/integration/                          @box/webapp
/test/integration/content-explorer/         @box/ui-elements
/test/integration/content-open-with/        @box/partners
/test/integration/content-picker/           @box/ui-elements
/test/integration/content-preview/          @box/preview
/test/integration/content-sidebar/          @box/preview
/test/integration/content-uploader/         @box/create-communicate
