# Source
/src/                                       @box/ui-elements-extended
/src/api/                                   @box/ui-elements
/src/common/                                @box/ui-elements-extended
/src/components/                            @box/ui-elements-extended
/src/elements/                              @box/ui-elements
/src/features/                              @box/webapp
/src/features/item-details/                 @box/ui-elements
/src/features/access-stats/                 @box/ui-elements
/src/features/metadata-instance-editor/     @box/ui-elements
/src/features/metadata-based-view/          @box/ui-elements
/src/icons/                                 @box/ui-elements-extended
/src/styles/                                @box/ui-elements-extended
/src/utils/                                 @box/ui-elements-extended

# Test
/test/                                      @box/ui-elements-extended
/test/integration/                          @box/webapp

# Root
/*.*                                        @box/ui-elements-extended
/.*                                         @box/ui-elements-extended
/.mergify.yml                               @box/ui-elements
/CODEOWNERS                                 @box/ui-elements
/LICENSE                                    @box/ui-elements
/THIRD_PARTY_LICENSES                       @box/ui-elements
/scripts/                                   @box/ui-elements-extended
/examples/                                  @box/webapp
/flow/                                      @box/ui-elements-extended
/flow-typed/                                @box/ui-elements-extended
/i18n/                                      @box/webapp

# Features
/src/elements/content-sidebar/activity-feed/task-new/   @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/task-form/  @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/task/       @box/collab @box/ui-elements-extended
/src/elements/content-sidebar/activity-feed/comment/    @box/collab @box/ui-elements-extended
/src/api/tasks/                                         @box/collab @box/ui-elements-extended
