@import '../../styles/variables';

.hotkey-modal .modal-content {
    display: flex;
    flex-direction: column;

    .hotkey-list {
        margin: 10px 0 0;
        overflow: auto;
        border-top: 1px solid $bdl-gray-10;
        border-bottom: 1px solid $bdl-gray-10;
    }
}

.hotkey-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;

    .hotkey-description {
        flex: 1;
    }

    .hotkey-key {
        flex: 0 0 50%;
        font-weight: bold;
        font-size: 11px;
        text-align: right;

        kbd {
            margin: 1px;
            padding: 2px 4px;
            background: $white;
            border: 1px solid $bdl-gray-30;
            border-radius: $bdl-border-radius-size;
            box-shadow: 0 1px 0 $bdl-gray-30;
        }
    }

    &:nth-child(even) {
        background-color: $bdl-gray-05;
    }
}
