@import '../../../styles/variables';

$lsb-width: 200px;
$lsb-width-medium: 70px;
$lsb-z-index: 20 !default;

// New colors
$charcoal: #3f3f3f;
$efs: #efefef;
$light-blue: #e6f0fc;
$light-charcoal: #5f5f5f;

// Left Sidebar color labels
$lsb-menu-icon-fill: $bdl-gray-40;
$lsb-menu-shadow-fill: rgba($charcoal, .3);
$lsb-menu-selected-custom-link-bg: $efs;
$lsb-menu-selected-link-bg: $light-blue;
$lsb-menu-selected-bg-highlight: $bdl-box-blue;
$lsb-menu-selected-text: $charcoal;
$lsb-menu-selected-outline: $light-charcoal;
$lsb-menu-hover-link-bg: $bdl-gray-05;
$lsb-menu-notification-icon: #fc627a;

// Left Sidebar sizes
$lsb-icon-width: 14px;
$lsb-padding-x: 26px;
$lsb-item-height: 28px;
$lsb-item-separator-margin: 10px;
$lsb-scroll-shadow-height: 10px;
$lsb-drop-zone-margin: 6px;

// Font sizes
$lsb-font-size: 13px;
