@import './variables';
@import '../../../styles/sizes.media';

@mixin lsb-icon-sizing($pixel-width) {
    width: $pixel-width;
    min-width: $pixel-width;
    height: $pixel-width;
    min-height: $pixel-width;
}

.left-sidebar-icon-wrapper {
    @include lsb-icon-sizing($lsb-icon-width);

    display: flex;
    align-items: center;
    margin-right: 9px;

    svg {
        @include lsb-icon-sizing($lsb-icon-width);
    }

    @include medium-size {
        @include lsb-icon-sizing(20px);

        margin-right: 0;

        .is-forced-open & {
            @include lsb-icon-sizing($lsb-icon-width);

            margin-right: 9px;
        }

        svg {
            @include lsb-icon-sizing(20px);

            .is-forced-open & {
                @include lsb-icon-sizing($lsb-icon-width);
            }
        }
    }

    .fill-color {
        fill: $lsb-menu-icon-fill;
    }
}
