@import '../../styles/variables';

.usm-collaborator-list {
    display: flex;
    flex-direction: column;

    .collaborator-list {
        height: 210px;
        margin: 0;
        overflow-y: scroll;
        border: solid 1px $bdl-gray-20;
        border-radius: $bdl-border-radius-size;
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 8%) inset;
    }
}

@include breakpoint($small-medium-screen) {
    .usm-collaborator-list {
        .collaborator-list {
            height: auto;
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }
    }
}
