@import '../../styles/variables';

.collaborator-list {
    border: solid 1px $seesee;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08) inset;
    height: 210px;
    margin: 0;
    min-width: 400px;
    overflow-y: scroll;

    .collaborator-list-item {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        .user {
            align-items: center;
            display: flex;
            white-space: nowrap;
        }

        .avatar {
            height: 32px;
            margin-right: 8px;
            width: 32px;
        }

        .name {
            color: $twos;
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .name .link {
            color: $twos;
        }

        .email .link {
            color: $seventy-sixers;
        }

        .name .link:hover,
        .email .link:hover {
            text-decoration: underline;
        }

        .name.group {
            line-height: 32px;
        }

        .email {
            color: $seventy-sixers;
            font-size: 12px;
            line-height: 16px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .role {
            color: $seventy-sixers;
            line-height: 32px;
        }
    }

    .collaborator-list-item.more {
        justify-content: inherit;

        .link {
            color: $box-blue;
            line-height: 32px;
            text-decoration: none;
        }

        .collaboration-badge {
            margin-right: 8px;
        }
    }
}
