@import '../../../variables';

.be .bcs-task {
    .bcs-task-approvers-container {
        margin-left: 49px;

        .bcs-task-approvers-header {
            border-bottom: 1px solid $off-white;
            display: flex;
            justify-content: space-between;
            margin-bottom: 3px;
            margin-top: 5px;
            padding-bottom: 6px;

            strong {
                color: $seventy-sixers;
            }
        }

        .bcs-task-due-date {
            color: $nines;
            font-size: 11px;

            span:first-child {
                padding-right: 3px;
            }
        }

        .bcs-task-pending-assignment,
        .bcs-task-completed-assignment,
        .bcs-task-rejected-assignment {
            align-items: center;
            border-radius: 4px;
            display: flex;
            font-weight: 600;
            height: 34px;
            justify-content: space-between;
            margin-top: 10px;
            padding-left: 8px;

            .bcs-task-assignment-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .bcs-task-assignment-actions {
                display: flex;
                justify-content: flex-end;
                margin-right: 8px;
            }
        }

        .bcs-task-x-icon,
        .bcs-task-check-icon {
            height: 18px;
            width: 18px;
        }

        .bcs-task-completed-assignment {
            border: 1px solid $shady-acres;
            color: $shady-acres;

            .bcs-task-assignment-actions {
                flex-basis: 20px;
            }

            .bcs-task-check-icon .fill-color {
                fill: $shady-acres;
            }
        }

        .bcs-task-rejected-assignment {
            border: 1px solid $amaranth;
            color: $amaranth;

            .bcs-task-assignment-actions {
                flex-basis: 20px;
            }

            .bcs-task-x-icon .fill-color {
                fill: $amaranth;
            }
        }

        .bcs-task-pending-assignment {
            background-color: fade-out($box-blue, .9);
            color: $box-blue;

            .bcs-task-assignment-actions {
                flex-basis: 40px;
            }

            .bcs-task-check-btn {
                margin-right: 3px;
                position: relative;
            }

            .bcs-task-x-btn {
                position: relative;
            }

            .bcs-task-x-icon .fill-color,
            .bcs-task-check-icon .fill-color {
                fill: $box-blue;
            }
        }
    }

    &.bcs-is-pending {
        .bcs-task-approvers-container {
            opacity: .4;
        }
    }
}
