@import '../../styles/variables';

.hotkey-modal .modal-content {
    display: flex;
    flex-direction: column;

    .hotkey-list {
        border-bottom: 1px solid $off-white;
        border-top: 1px solid $off-white;
        margin: 10px 0 0;
        overflow: auto;
    }
}

.hotkey-item {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;

    .hotkey-description {
        flex: 1;
    }

    .hotkey-key {
        flex: 0 0 50%;
        font-size: 11px;
        font-weight: bold;
        text-align: right;

        kbd {
            background: $white;
            border: 1px solid $sf-fog;
            border-radius: 3px;
            box-shadow: 0 1px 0 $sf-fog;
            margin: 1px;
            padding: 2px 4px;
        }
    }

    &:nth-child(even) {
        background-color: $ffive;
    }
}
