@import '../variables';

.be-modal.be-modal-transcript .be-modal-dialog-content-full-bleed {
    display: flex;
    flex-direction: column;

    .be-modal-content {
        flex: 1;
        font-family: monospace;
        font-size: 12px;
        overflow: auto;
        padding: 0 15px;
        user-select: text;

        p {
            margin: 20px 0;
        }
    }

    .be-modal-btns {
        padding: 0 0 15px;
    }

    .be-modal-transcript-header {
        align-items: center;
        border-bottom: 1px solid $off-white;
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
        padding: 15px 0 10px;

        .be & .btn-plain.be-transcript-copy,
        .be & .btn-plain.be-transcript-collapse {
            margin-left: 15px;

            &:hover svg path {
                fill: $sevens;
            }
        }
    }
}
