@import '../variables';

.buik-btn {
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: none;
    transition: background-color .05s ease-in-out, border-color .05s ease-in-out;
    white-space: nowrap;
    zoom: 1;

    &::-moz-focus-inner {
        border: 0 none;
    }

    &:active,
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }

    &:not(.buik-btn-is-disabled) {
        &:hover {
            background-color: darken($white, 3%);
        }

        &:active {
            background-color: darken($white, 8%);
            border-color: $grey;
        }

        &:focus {
            border-color: darken($grey, 14%);
            box-shadow: 0 1px 2px fade-out($twos, .9);
        }
    }

    &.buik-btn-is-disabled,
    &.buik-btn-is-loading {
        cursor: default;
        top: 0; /* prevents disabled button from being depressed on click */
    }

    &.buik-btn-is-loading {
        .buik-btn-content {
            visibility: hidden;
        }

        .buik-btn-loading-indicator {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &.buik-btn-is-disabled {
        box-shadow: none;
        opacity: .4;
    }

    &.buik-btn-primary {
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:not(.buik-btn-is-disabled) {
            &:focus {
                border-color: $blue;
                box-shadow: inset 0 0 0 1px fade-out($white, .2), 0 1px 2px fade-out($twos, .9);
            }

            &:hover {
                background-color: lighten($blue, 8%);
                border-color: lighten($blue, 8%);
            }

            &:active {
                background-color: darken($blue, 8%);
                border-color: darken($blue, 8%);
                box-shadow: none;
            }
        }

        &.buik-btn-is-loading {
            .buik-btn-content {
                background-color: $grey;
            }
        }
    }

    &.buik-btn-plain {
        background: none;
        border: 0 none;
        cursor: pointer;
        font-size: 13px;
        margin: 0;
        outline: none;
        padding: 0;

        &:hover,
        &:active,
        &:focus {
            background: none;
            box-shadow: none;
            text-decoration: underline;
        }
    }

    // Vertically center icon
    svg {
        display: block;
    }
}
