@import '../../elements/common/variables';
@import '../../styles/variables';

// Grid View

.table {
    a:hover,
    a:focus {
        text-decoration: underline;
    }
}

.table-row {
    color: $bdl-gray-80;
}

@import './Table.media';
