@import '../variables';

@function sas-background-image-function($color) {
    @return linear-gradient(45deg, transparent 50%, $color 50%), linear-gradient(135deg, $color 50%, transparent 50%);
}

.be {
    select.be-share-access-select {
        appearance: none;
        background: none;
        background-image: sas-background-image-function($sevens);
        background-position: right 14px center, right 10px center;
        background-repeat: no-repeat;
        background-size: 4px 4px, 4px 4px;
        border: 1px solid $grey;
        border-radius: 2px;
        color: inherit;
        cursor: pointer;
        padding: 5px 25px 5px 10px;

        &:hover {
            border-color: $blue;
        }

        &:focus,
        &:active {
            background-image: sas-background-image-function($blue);
            border-color: $blue;
            color: $blue;
            outline: none;
        }

        &:disabled {
            background-image: sas-background-image-function($off-white);
            border-color: $off-white;
            color: $off-white;
        }

        /* stylelint-disable */
        &:-moz-focusring,
        &::-moz-focus-inner {
            color: transparent !important;
            text-shadow: 0 0 0 $twos !important;
        }

        &::-ms-expand {
            display: none !important;
        }
        /* stylelint-enable */
    }
}
