@import '../../styles/variables';

.aria-menu {
    background: $white;
    border: 1px solid $sf-fog;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 fade-out($black, .9);
    list-style: none;
    margin: 0;
    padding: 8px 0;
    white-space: nowrap;

    &:not(.should-outline-focus):focus {
        outline: none;
    }

    [role="separator"] {
        border: 0;
        border-top: 1px solid $sf-fog;
        height: 0;
        margin: 8px 0;
    }

    a,
    a:hover,
    a:focus,
    .lnk,
    .lnk:hover,
    .lnk:focus {
        text-decoration: none;
    }
}

.menu-item {
    align-items: center;
    color: $better-black;
    cursor: pointer;
    display: flex;
    min-height: 30px;
    padding: 5px 35px 5px 15px;
    position: relative;

    &.btn-plain:hover {
        padding: 5px 35px 5px 15px;
    }

    &.menu-section-header {
        color: $black;
        font-size: 10px;
        font-weight: 600;
    }

    &[aria-disabled] {
        cursor: default;
        opacity: .4;
    }

    &.is-select-item {
        padding-left: 30px;
        position: relative;

        /* checkmark */
        &.is-selected::before {
            border-color: $better-black;
            border-style: none solid solid none;
            border-width: 2px;
            content: '';
            height: 12px;
            left: 14px;
            margin: auto;
            position: absolute;
            top: 8px;
            transform: rotate(45deg);
            width: 6px;
        }
    }

    &:not([aria-disabled]) {
        &:focus,
        &:hover {
            background-color: $off-white;
            color: $better-black;
        }

        &:focus {
            outline: 1px dashed $twos;
        }
    }

    svg {
        margin-right: 10px;
    }
}
