@import '../variables';

.buik-aria-menu {
    background: $white;
    border: 1px solid $see-see;
    box-shadow: 0 2px 6px 0 fade-out($twos, .9);
    list-style: none;
    margin: 0;
    padding: 8px 0;
    white-space: nowrap;

    [role="menuitem"] {
        color: inherit;
        cursor: pointer;
        display: block;
        height: 30px;
        line-height: 21px;
        outline: none;
        padding: 5px 40px 5px 15px;

        &[aria-disabled] {
            cursor: default;
            opacity: .4;
        }
    }

    [role="menuitem"]:not([aria-disabled]) {
        &:focus,
        &:hover {
            background-color: $off-white;
        }
    }

    [role="separator"] {
        border: 0;
        border-top: 1px solid $see-see;
        height: 0;
        margin: 8px 0;
    }

    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
}
