@import '../../styles/variables';

.submenu-target {
    position: relative;

    &::after {
        border: 4px solid transparent;
        border-left-color: $bfive;
        border-right-style: none;
        content: "";
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .submenu {
        left: 100%;
        position: absolute;
        right: auto;
        top: 0;

        &.is-left-aligned {
            left: auto;
            right: 100%;
        }

        &.is-hidden {
            left: -9999px;
            right: auto;
        }

        &.is-bottom-aligned {
            bottom: 0;
            top: auto;
        }
    }
}
