@import '../../../common/variables';

.be {
    .bcs-Version {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 $sidebarActivityFeedSpacingHorizontal;
        padding: 9px;
        color: $bdl-gray;
        background-color: $bdl-box-blue-05;
        border-radius: $bdl-border-radius-size;
    }

    .bcs-Version-actions {
        display: flex;
        justify-content: flex-end;
    }

    .bcs-Version-info {
        flex: none;
        width: 16px;
        height: 16px;

        path {
            fill: $bdl-box-blue;
        }
    }

    .bcs-Version-message {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bcs-Version-range {
        white-space: nowrap;
    }
}
