@import '../variables';

.bcp-content {
    display: flex;
    flex: 1;
    flex-direction: column;

    .bcp-item-list {
        flex: 1;
        min-height: 300px;
        position: relative;

        // sass-lint:disable class-name-format
        .ReactVirtualized__Table__Grid {
            outline: none;
        }
    }
}
