@import '../variables';

.bcp-footer {
    align-items: center;
    background-color: $almost-white;
    border-top: 1px solid $off-white;
    display: flex;
    flex: 0 0 70px;
    justify-content: space-between;
    padding: 0 20px;

    .bcp-selected-count {
        margin-left: 2px;
    }

    .bcp-selected-max {
        animation: buik_pulse .5s 2 linear;
        color: $red;
        display: inline-block;
        font-size: 11px;
    }

    .bcp-footer-right .buik-btn {
        margin-left: 8px;
    }
}

@keyframes buik_pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}
