@import '../../../common/variables';

.bcs-AnnotationActivityLink {
    display: inline-block;
    overflow-x: hidden;
    color: $bdl-box-blue;
    font-weight: bold;

    &[aria-disabled='true'] {
        color: $bdl-gray-65;
    }

    .bcs-AnnotationActivityLink-message {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
