@import '../../../common/variables';
@import '../../mixins';

.bcs-AnnotationActivity {
    position: relative;
    z-index: 1;
}

// the comment activity item
.bcs-AnnotationActivity-media {
    opacity: 1;
    transition: opacity 0.33s;

    &.bcs-is-pending {
        opacity: 0.4;
        pointer-events: none;
    }
}

.bcs-AnnotationActivity-avatar {
    position: relative;
}

.bcs-AnnotationActivity-headline {
    // Because the annotation menu is absolutely positioned,
    // this padding reserves that space so long headlines won't overlap with the menu
    margin-right: 26px;

    // target only Edge because this breaks other browsers
    // but fixes Edge
    @supports (-ms-ime-align: auto) {
        word-break: break-all;
    }
}

// tethered styles for delete confirmation modal
.bcs-AnnotationActivity-deleteConfirmationModal {
    z-index: $overlay-z-index;
}

.bcs-AnnotationActivity-menu {
    position: absolute;
    top: $sidebarActivityFeedSpacingVertical;
    right: $sidebarActivityFeedSpacingHorizontal;
    z-index: 1;
}

.bcs-AnnotationActivity-timestamp {
    display: flex;
    white-space: nowrap;
}

.bcs-AnnotationActivity-link::before {
    margin-right: 2 * $bdl-grid-unit;
    margin-left: 2 * $bdl-grid-unit;
    color: $bdl-gray-50;
    content: '\2022';
}

// override for activity feed defaults
.be {
    .bcs-AnnotationActivity-editor.bcs-CommentForm {
        margin-top: 20px;
        padding: 0;
        border-top: none;
    }

    .bcs-AnnotationActivity-link {
        display: flex;
        font-weight: bold;
        font-size: 12px;
    }
}
