@import '../../styles/variables';

.bdl-ContactRestrictionNotice {
    .bdl-SelectButton {
        margin-top: $bdl-grid-unit * 2;
    }

    .bdl-SelectFieldDropdown {
        z-index: $overlay-z-index;
        max-width: 100%;
    }
}

.bdl-ContactRestrictionNotice-contactEmail {
    text-decoration: underline;
}

.bdl-ContactRestrictionNotice-description {
    margin-bottom: $bdl-grid-unit * 2;
}

.bdl-ContactRestrictionNotice-loadingIndicator {
    margin: 14px auto $bdl-grid-unit * 2 auto;
}

.bdl-ContactRestrictionNotice-removeBtn {
    color: $bdl-gray;
    text-decoration: underline;
}
