@import '../../styles/variables';

// Menus are rendered at the root of the DOM, so this style is not nested
.usm-menu-description {
    color: $seventy-sixers;
    display: block;
    font-size: 12px;
}

.usm-ftux-tooltip {
    max-width: 325px;
    padding: 20px;

    .ftux-tooltip-title {
        font-weight: 700;
    }

    .tooltip-close-button {
        right: 4px;
        top: 8px;
    }

    .ftux-tooltip-controls {
        overflow: hidden;
    }

    .ftux-tooltip-button {
        float: right;
        margin: 0;
    }

    .ftux-tooltip-link {
        color: $white;
        text-decoration: underline;
    }

    h4 {
        margin: 0 0 10px;
    }

    p {
        margin: 0;
    }
}

.usm-share-access-menu .menu-item.is-select-item.is-selected::before,
.usm-share-permissions-menu .menu-item.is-select-item.is-selected::before {
    bottom: inherit;
}

.unified-share-modal {
    /** overrides for USM sub-components */
    .text-area-container {
        position: static;
    }

    .selector-dropdown-wrapper {
        .is-visible {
            z-index: 1;
        }
    }

    .loading-indicator-veil {
        z-index: $modal-dialog-z-index + 2;
    }

    /*** Invite collaborators section ***/
    .invite-collaborator-container {
        position: relative;
    }

    .invitee-menu-wrap {
        display: flex;
        margin-top: 10px;
    }

    /*** Email form ***/
    .inline-alert {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .pill-selector-wrapper .pill-selector-input-wrapper, // need both selectors for specificity
    textarea {
        /* override for DOM element in `TextArea` which provides no id/class for targeting */
        width: 100%;
    }

    .pill-selector-wrapper {
        margin-bottom: 10px;
    }

    .pill-selector-wrapper.scrollable {
        .overlay-wrapper {
            border: 1px solid $sf-fog;
            height: 280px;
            overflow-y: scroll;
            position: absolute;
        }

        .overlay {
            border: none;
        }
    }

    .is-expanded {
        .text-area-container {
            margin: 20px 0 0;
            min-height: 89px;
        }

        .text-area-container textarea::placeholder {
            color: $nines;
        }
    }

    .pill-selector-input-wrapper {
        border: 1px solid $seesee;
        margin-top: 10px;
        min-height: $bdl-line-height * 4;

        .pill-selector-input::placeholder {
            color: $nines;
        }

        &.is-disabled {
            background-color: $haze;
            box-shadow: none;
            color: $bfive;

            .pill-selector-input::placeholder {
                color: $nines;
            }

            &:hover {
                border-color: $sf-fog;
            }
        }
    }

    /*** Shared link section ***/
    .shared-link-toggle-row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .share-toggle-container {
            flex: 0 1 80%;
            margin-bottom: 0;
            overflow-y: hidden;

            .toggle-container {
                margin-bottom: 0;
            }

            .toggle-simple-label {
                color: $twos;
                cursor: pointer;
            }
        }

        .shared-link-settings-btn-container {
            flex: 0 1 20%;
            text-align: right;

            .shared-link-settings-btn {
                color: $primary-color;
                margin-left: 5px;
            }
        }
    }

    .shared-link-field-row {
        display: flex;
        margin: 10px 0;

        .shared-link-field-container {
            align-items: center;
            flex: 1;
        }

        .text-input-with-copy-button-container {
            margin-bottom: 0;
        }

        .text-input-container {
            flex: 1;

            input {
                margin-top: 0;
            }
        }

        .email-shared-link-btn {
            margin: 0 0 0 5px;
            padding: 10px 10px 9px;
        }
    }

    .shared-link-access-row {
        .btn-plain {
            margin-right: 10px;

            &.can-edit-btn {
                color: $seventy-sixers;
            }
        }
    }

    .upgrade-badge {
        margin-right: 5px;
    }

    .upgrade-link {
        color: $box-blue;
    }

    .upgrade-description {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .shared-link-expiration-badge {
        padding: 0 5px;

        .icon-clock {
            display: inline-block;
            margin-bottom: -3px;
        }
    }

    .manage-all-btn {
        color: $box-blue;
        float: right;
        margin: -5px 0 10px 0;
    }
}
