@import '../../../styles/variables';

$prefix: bdl-MetadataViews-ListView;

.#{$prefix} {
    display: flex;
    flex-direction: row;

    .list-view-top-left-grid .list-view-column-header {
        padding-left: 53px;
    }

    button.#{$prefix}-columnHeader {
        border: none;
        color: $seventy-sixers;
        display: flex;
        font-weight: 400;
        justify-content: flex-start;
        letter-spacing: .035em;
        padding-left: 0;
        padding-top: 24px;
        text-transform: none;
        width: 100%;

        &--sortable {
            cursor: pointer;
        }

        .bdl-icon-sort-chevron.#{$prefix}-isSortAsc {
            transform: rotate(180deg);
        }
    }

    .#{$prefix}-columnCell {
        border-top: 1px solid $off-white;
        color: $seventy-sixers;
        display: flex;
        justify-content: flex-start;
        padding-top: 16px;
    }

    .ReactVirtualized__Grid {
        outline: none;
    }
}
