@import '../../../styles/variables';

.metadata-views-list-view {
    display: flex;
    flex-direction: row;

    .list-view-top-left-grid .list-view-column-header {
        padding-left: 53px;
    }

    button.bdl-ListView-columnHeader {
        border: none;
        color: $seventy-sixers;
        display: flex;
        font-weight: 400;
        justify-content: flex-start;
        letter-spacing: .035em;
        padding-left: 0;
        padding-top: 24px;
        text-transform: none;
        width: 100%;

        .bdl-icon-sort-chevron {
            height: 17px;
            width: 17px;
        }

        .bdl-icon-sort-chevron.bdl-ListView-isSortAsc {
            transform: rotate(180deg);
        }
    }

    .bdl-ListView-columnCell {
        border-top: 1px solid $off-white;
        color: $seventy-sixers;
        display: flex;
        justify-content: flex-start;
        padding-top: 16px;
    }
}
