@import '../../../styles/variables';

.metadata-views-list-view {
    display: flex;
    flex-direction: row;

    .list-view-top-left-grid .list-view-column-header {
        padding-left: 53px;
    }

    button.bdl-ListView-columnHeader {
        border: none;
        color: $seventy-sixers;
        display: flex;
        font-weight: 400;
        justify-content: flex-start;
        letter-spacing: .035em;
        padding-left: 0;
        padding-top: 24px;
        text-transform: none;
        width: 100%;

        &.bdl-ListView-isHeaderSortable {
            cursor: pointer;
        }

        .bdl-icon-sort-chevron.bdl-ListView-isSortAsc {
            height: 12px;
            margin-left: 2px;
            margin-top: 3px;
            transform: rotate(180deg);
            width: 12px;
        }
    }

    .bdl-ListView-columnCell {
        border-top: 1px solid $off-white;
        color: $seventy-sixers;
        display: flex;
        justify-content: flex-start;

        .bdl-ListView-iconRename {
            border: none;
            cursor: pointer;
            height: 20px;
            width: 20px;
        }
    }

    .ReactVirtualized__Grid {
        outline: none;
    }

    .ReactVirtualized__Grid__innerScrollContainer {
        /* Currently there is an issue where overflow is hidden for the Grid
            which results in dropdowns getting cut off at the bottom of each row

            TODO: The correct solution would be to use Portal + Tether. This approach will be attempted during
            the Raise the Bar phase.
        */
        overflow: visible !important;
    }
}
