@import '../variables';

.be .be-header {
    display: flex;
    flex: 0 0 70px;
    align-items: center;
    padding: 0 25px 0 0;
    border-bottom: 1px solid var(--border-divider-border);

    .be-is-small & {
        padding-right: 20px;
    }

    .be-search {
        flex: 1;
        max-width: 520px;
        padding-left: 20px;
    }

    input[type='search'] {
        width: 100%;
        font: inherit;
        -webkit-appearance: none;
    }
}
