@import '../../styles/variables';

$badgeable-position-offset: 3px;
$badgeable-icon-size: 14px;

$badgeable-position: ($badgeable-icon-size/2);

.badgeable-container {
    display: inline-block;
    line-height: 1;
    position: relative;

    .badges {
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;

        %badge {
            pointer-events: all;
            position: absolute;
        }

        .top-left-badge {
            @extend %badge;

            left: $badgeable-position + $badgeable-position-offset;
            top: -$badgeable-position + $badgeable-position-offset;
            transform: translateX(-100%);
        }

        .top-right-badge {
            @extend %badge;

            left: calc(100% - #{$badgeable-position + $badgeable-position-offset});
            top: -$badgeable-position + $badgeable-position-offset;
        }

        .bottom-left-badge {
            @extend %badge;

            bottom: -$badgeable-position + $badgeable-position-offset;
            left: $badgeable-position + $badgeable-position-offset;
            transform: translateX(-100%);
        }

        .bottom-right-badge {
            @extend %badge;

            bottom: -$badgeable-position + $badgeable-position-offset;
            left: calc(100% - #{$badgeable-position + $badgeable-position-offset});
        }
    }
}
