@import '../variables';

.bce-footer {
    align-items: center;
    background-color: $almost-white;
    border-top: 1px solid $off-white;
    display: flex;
    flex: 0 0 70px;
    justify-content: flex-end;
    max-height: 70px;
    padding: 0 20px;

    &:empty {
        display: none;
        flex-basis: 0;
    }
}
