@import '../variables';

.buik-modal.buik-modal-preview {
    .buik-modal-content {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .buik-modal-preview-btn-close {
        border-color: transparent;
        float: right;
        margin-top: 4px;

        &:hover,
        &:active {
            background: none;
        }
    }

    .buik-preview-header {
        border-bottom: 1px solid $see-see;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        padding: 0 0 0 15px;
    }

    .buik-preview-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 45px;
    }
}
