@import '../variables';

.be-modal.be-modal-share {
    .be-modal-content {
        position: relative;

        input[type="text"] {
            border-radius: 3px 0 0 3px;
            border-right: 0 none;
            text-overflow: ellipsis;
            width: 296px;

            .be-is-small & {
                width: 237px;
            }
        }
    }

    .be-modal-button-copy {
        border-radius: 0 3px 3px 0;
        font-size: 10px;
        font-weight: bold;
        height: 36px;
        letter-spacing: 1px;
        line-height: 36px;
        margin: 0 0 0 -5px;
        padding: 0 10px;
        text-transform: uppercase;
    }

    .be-modal-btns {
        align-items: center;
        justify-content: space-between;
    }
}
