@import '../../styles/variables';

/**************************************
 * Selector Dropdown
 **************************************/

.SelectorDropdown {
    position: relative;
    z-index: 3; /* increase z-index based on max-height of dropdown wrapper */

    .overlay-wrapper,
    .overlay {
        display: block;
        width: 100%;

        .SelectorDropdown-divider {
            display: block;
            width: calc(100% - 30px);
            height: 1px;
            margin: 5px 15px;
            border: 0;
            border-bottom: 1px solid $bdl-gray-30;
            pointer-events: none;
        }

        .SelectorDropdown-title {
            margin: 5px 15px;
            color: $bdl-gray-30;
            font-weight: bold;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            pointer-events: none;
        }
    }

    .text-input-container {
        margin-bottom: 5px;
    }

    .link-group {
        ul {
            list-style: none;
        }
    }

    .link {
        color: $bdl-gray-80 !important;

        &.is-selected {
            background-color: fade-out($bdl-gray, .95);
        }
    }
}
