@import '../../styles/variables';

/**************************************
 * Selector Dropdown
 **************************************/

.SelectorDropdown {
    position: relative;
    z-index: 3; /* increase z-index based on max-height of dropdown wrapper */

    .overlay-wrapper,
    .overlay {
        display: block;
        width: 100%;

        .SelectorDropdown-divider {
            border: 0;
            border-bottom: 1px solid $bfive;
            display: block;
            height: 1px;
            margin: 5px 5%;
            pointer-events: none;
            width: 90%;
        }

        .SelectorDropdown-title {
            color: $bfive;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            margin: 5px 15px;
            pointer-events: none;
            text-transform: uppercase;
        }
    }

    .text-input-container {
        margin-bottom: 5px;
    }

    .link-group {
        ul {
            list-style: none;
        }
    }

    .link {
        color: $sunset-grey !important;

        &.is-selected {
            background-color: fade-out($blue-steel, .95);
        }
    }
}
