// Z-Indexes
$modal-dialog-z-index: 160 !default;
$menu-z-index: 170 !default;
$submenu-z-index: 171 !default;
$overlay-z-index: 190 !default;
$tooltip-z-index: 190 !default;
$notifications-wrapper-z-index: 200 !default;

// Borders
$bdl-border-radius-size: 4px;
$bdl-border-radius-size-med: $bdl-border-radius-size * 1.5;
$bdl-border-radius-size-large: $bdl-border-radius-size * 2;
$bdl-border-radius-size-xlarge: $bdl-border-radius-size * 3;

// Drop shadows
$bdl-header-box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);

// Spacing
$bdl-grid-unit: 4px !default;
$bdl-grid-unit-px: 4 !default; // unitless grid unit (defined in pixels for manual multiplication in JS)

// Headers
$bdl-header-height: 64px;
