$bdl-line-height: 20px;

// Font sizes
$bdl-fontSize: 13px;
$bdl-fontSize-minimum: 11px;
$bdl-fontSize--dejaBlue: 14px;

// "--dejaBlue" size will become default at some point
// Migration Steps:
// 1. New or restyled code should use --dejaBlue variable
// 2. Find any hardcoded font sizes and change to use variables
// 3. Once most components are DJB styled, change bdl-fontSize to 14px
// 4. Fix any issues with components due to change of base variable
// 5. Replace all references to $bdl-fontSize--dejaBlue with $bdl-fontSize and delete --dejaBlue
