.bcu-droppable-content {
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;
    position: relative;

    .bcu-item-list {
        flex: 1;
        position: relative;

        // sass-lint:disable class-name-format
        .ReactVirtualized__Table__Grid {
            outline: none;
        }
    }
}
