@import '../variables';

.bcu-footer {
    align-items: center;
    background-color: $almost-white;
    border-top: 1px solid $off-white;
    display: flex;
    flex: 0 0 70px;
    justify-content: space-between;
    padding: 0 20px;

    .bcu-footer-right .buik-btn {
        margin-left: 8px;
    }
}
