@import '../variables';

.be-pagination {
    display: flex;
}

.be-pagination-count {
    align-items: center;
    display: flex;

    .be-is-small & {
        display: none;
    }
}

.be-pagination-nav {
    margin-left: 5px;
    margin-right: 5px;
}
