// Border width
$thumbnail-card-border: 1px;

// Fixed max-height of the thumbnails in the cards
$thumbnail-height: 144px;

// Width dimension of the cards
$thumbnail-card-min-width: 250px;
$thumbnail-card-max-width: $thumbnail-card-min-width + 150px;
