/**************************************
 * Alignments
 **************************************/

.align-rtl {
    direction: rtl;
}

.align-start {
    text-align: left;
    text-align: start; /* Experimental, IE10+ */
}

.align-end {
    text-align: right;
    text-align: end; /* Experimental, IE10+ */
}

.align-center {
    text-align: center;
}
