/**************************************
 * Paddings
 **************************************/

/* Spacing classes */
.pan {
    padding: 0 !important;
}

.pas {
    padding: 5px !important;
}

.pam {
    padding: 10px !important;
}

.pal {
    padding: 20px !important;
}

.ptn {
    padding-top: 0 !important;
}

.pts {
    padding-top: 5px !important;
}

.ptm {
    padding-top: 10px !important;
}

.ptl {
    padding-top: 20px !important;
}

.prn {
    padding-right: 0 !important;
}

.prs {
    padding-right: 5px !important;
}

.prm {
    padding-right: 10px !important;
}

.prl {
    padding-right: 20px !important;
}

.pbn {
    padding-bottom: 0 !important;
}

.pbs {
    padding-bottom: 5px !important;
}

.pbm {
    padding-bottom: 10px !important;
}

.pbl {
    padding-bottom: 20px !important;
}

.pln {
    padding-left: 0 !important;
}

.pls {
    padding-left: 5px !important;
}

.plm {
    padding-left: 10px !important;
}

.pll {
    padding-left: 20px !important;
}

.phn {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.phs {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.phm {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.phl {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.pvn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pvs {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pvm {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pvl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
