@import '../../../common/variables';

.be-keywords {
    .be-keywords-buttons {
        margin: 7px -5px 0 0;
        text-align: right;

        .btn {
            margin: 0 0 0 5px;
        }
    }

    .bdl-EditableKeywords {
        margin: 0;

        .bdl-PillSelector {
            width: 100%;
            margin: 0;

            input[type='text'].bdl-PillSelector-input {
                min-width: 97%;
                height: 24px;
                margin: 2px 0 0 2px;
                padding: 0;
                border: 1px solid $almost-white;
                box-shadow: none;
            }
        }
    }
}
