@import '../../../common/variables';

.be-keywords {
    position: relative;

    .btn-plain.be-keyword-edit {
        position: absolute;
        top: -46px;
        right: 15px;
        width: 24px;
        height: 24px;
        padding-top: 1px;
        border-radius: $bdl-border-radius-size;

        &:hover svg path {
            fill: $bdl-gray;
        }

        &.be-keyword-is-editing {
            background-color: $bdl-gray-10;

            .icon-edit > .fill-color {
                fill: $bdl-gray-05;
            }
        }
    }
}
