@import '../../styles/variables';

.bdl-ImageTooltipContent-image {
    display: flex;
}

.bdl-ImageTooltipContent-imageChild {
    width: 100%;
}

.bdl-ImageTooltipContent-contentWrapper {
    padding: ($bdl-grid-unit * 6) ($bdl-grid-unit * 8);
    color: $bdl-gray-80;
    font-size: 14px;
    background-color: $white;
    box-shadow: 0 3px 6px 0 rgba($black, .1);
}

.bdl-ImageTooltipContent-title {
    margin-top: 0;
    color: $bdl-gray;
    font-weight: bold;
}

.bdl-ImageTooltipContent-content {
    margin: 0;
}
