@import '../../styles/variables';

.bdl-ImageTooltip {
    display: none;
    width: 320px;
    max-width: 320px;
    padding: 0;
    font-size: 14px;
    text-align: center;

    &.bdl-is-image-loaded {
        display: block;
    }

    // We have to specifically reset the padding-right for .with-close-button
    &.with-close-button {
        padding-right: 0;
    }

    .tooltip-close-button {
        top: $bdl-grid-unit * 4;
        right: $bdl-grid-unit * 4;
        width: $bdl-grid-unit * 4;
    }
}
