@import '../variables';

.bcpr {
    display: flex;
    flex-direction: column;

    .bcpr-body {
        display: flex;
        flex: 1;
    }

    .bcpr-container {
        display: flex;
        flex: 1;
        position: relative;
    }

    .bcpr-content {
        flex: 1;
    }

    .bp-navigate {
        /* stylelint-disable declaration-no-important */
        display: none !important;
        /* stylelint-enable declaration-no-important */
    }

    .bcpr-navigate-right {
        right: 0;
    }

    .bcpr-navigate-left {
        left: 0;
    }

    .bcpr-navigate-left,
    .bcpr-navigate-right {
        display: block;
        height: 64px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition-property: opacity;
        width: 50px;

        &:hover {
            opacity: 1;
        }
    }

    .bcpr-nav-is-visible {
        .bcpr-navigate-left,
        .bcpr-navigate-right {
            opacity: 1;
        }
    }

    &.be-is-small {
        .bcpr-body {
            position: relative;
        }

        .bcs {
            position: absolute;
            right: 0;
        }
    }
}
