@import '../variables';

.bcpr {
    .bcpr-loading {
        color: $twos;
        position: relative;
        text-align: center;
        z-index: 1;

        .bcpr-loading-text {
            font-size: 14px;
        }
    }
}
