@import '../variables';

.bcpr-sidebar {
    background-color: $almost-white;
    display: flex;
    flex: 0 0 60px;

    &.bcpr-sidebar-visible {
        border-right: 1px solid $off-white;
        flex: 0 0 420px;
    }

    .bcpr-sidebar-btns {
        background-color: $white;
        border-right: 1px solid $off-white;
        display: flex;
        flex-direction: column;
        padding-top: 3px;

        .buik-btn.buik-btn-plain {
            border-left: 2px solid transparent;
            border-radius: 0;
            height: 60px;
            width: 57px;

            &.bcpr-sidebar-btn-selected {
                border-left-color: $blue;
            }
        }
    }
}
