@import '../variables';

.bcpr-sidebar-section {
    margin: 0 20px 20px;
}

.buik-btn.buik-btn-plain.bcpr-sidebar-section-title {
    text-decoration: none;
    width: 100%;

    .buik-btn-content {
        align-items: center;
        border-bottom: 1px solid $off-white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        line-height: 30px;
        margin: 0 0 15px;

        .bcpr-sidebar-section-title-text {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        .buik-btn-content {
            align-items: center;
            border-bottom-color: $blue;
        }
    }
}
