@import '../variables';

.bcpr-sidebar-content {
    flex: 1;
    position: relative; // So that the scroll wrapper is absolute

    .bcpr-sidebar-title {
        // border-bottom: 1px solid $off-white;
        font-size: 16px;
        font-weight: 200;
        line-height: 30px;
        margin: 15px 20px;
    }

    .bcpr-sidebar-scroll-content-wrapper {
        bottom: 0;
        left: 0;
        overflow: auto;
        position: absolute; // Prevents non-sidebar parts from re-painting
        right: 0;
        top: 50px;

        .bcpr-sidebar-scroll-content {
            padding: 15px 0 0;
            width: 354px;
        }
    }
}
