@import '../variables';

.bcpr-sidebar-section {
    background-color: $white;
    border: 1px solid $efive;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 $lightest-black;
    margin: 0 20px 20px;

    .bcpr-sidebar-section-content {
        padding: 0 20px 15px;
    }
}

.buik-btn.buik-btn-plain.bcpr-sidebar-section-title {
    padding: 18px 20px;
    text-decoration: none;
    width: 100%;

    .buik-btn-content {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        .bcpr-sidebar-section-title-text {
            margin: 0;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
