@import '../../../common/variables';

.be-transcript {
    position: relative;

    .be-transcript-actions {
        position: absolute;
        top: -46px;
        right: 15px;
    }

    .bdl-Button--plain.be-transcript-edit,
    .bdl-Button--plain.be-transcript-copy,
    .bdl-Button--plain.be-transcript-expand,
    .btn-plain.be-transcript-edit,
    .btn-plain.be-transcript-copy,
    .btn-plain.be-transcript-expand {
        width: 24px;
        height: 24px;
        margin-left: 7px;
        padding-top: 1px;
        border-radius: 3px;

        &:hover svg path {
            fill: $bdl-gray;
        }

        &.be-transcript-is-editing {
            background-color: $bdl-gray-10;

            .icon-edit > .fill-color {
                fill: $bdl-gray-05;
            }
        }
    }

    .bdl-Button--plain.be-transcript-copy.be-transcript-copied,
    .btn-plain.be-transcript-copy.be-transcript-copied {
        background-color: $bdl-gray-10;
        transition: background-color 1s;

        svg path {
            fill: $bdl-green-light;
        }
    }

    .be-transcript-edit-message {
        margin-bottom: 15px;
        color: $bdl-gray-62;
    }

    .be-transcript-content-collapsed {
        max-height: 400px;
        overflow: auto;
    }
}
