@import '../../styles/variables';

.bdl-FooterIndicator {
    background: $fours;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    height: 32px;
    margin: 0 15px;
    position: fixed;
    width: 170px;
    z-index: 10;
}

.bdl-FooterIndicator-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

.bdl-FooterIndicator-iconWrapper {
    display: flex;
    margin-right: 9px;
}

.bdl-FooterIndicator-text {
    color: $white;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
