@import '../../styles/variables';

.bdl-FooterIndicator {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 170px;
    height: 32px;
    margin: 0 15px;
    background: $bdl-gray-80;
    border-radius: $bdl-border-radius-size $bdl-border-radius-size 0 0;
}

.bdl-FooterIndicator-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

.bdl-FooterIndicator-iconWrapper {
    display: flex;
    margin-right: 9px;
}

.bdl-FooterIndicator-text {
    overflow: hidden;
    color: $white;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bdl-FooterIndicator-tooltipTarget {
    display: block;
    height: 100%;
}
