@import '../../styles/variables';

.invite-collaborators-modal {
    .label {
        color: $sevens;
        font-weight: 700;
    }

    .icon-info {
        bottom: 2px;
        position: relative;
        vertical-align: middle;
    }

    .invite-file-editors {
        margin-bottom: 30px;
    }

    .text-area-container {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    .invite-permissions-container {
        display: flex;
        margin-bottom: 20px;
    }

    .select-container {
        width: 100%;
    }

    .select-input-container {
        margin: 0;
    }

    .selector-dropdown-wrapper {
        margin: 0 0 20px;

        .overlay {
            max-height: 210px;
            overflow: auto;
        }

        .pill-selector-input-wrapper {
            height: 60px;
            width: 100%;
        }
    }

    .upgrade-badge {
        margin-right: 5px;
    }

    .upgrade-link {
        display: block;
        margin-bottom: 15px;
    }
}
