@import '../../styles/variables';

.menu-toggle {
    display: flex;
    align-items: center;

    > .toggle-arrow {
        flex: none;
        margin-left: 5px;
        transition: transform $bdl-transition-duration-200ms ease-in;

        .dropdown-menu-enabled &,
        .is-toggled & {
            transform: rotate(180deg);
        }

        .lnk & {
            margin-top: 2px;

            & path {
                fill: $bdl-box-blue;
            }
        }
    }

    .btn-primary & .fill-color {
        fill: $white;
    }

    .lnk.is-disabled & .fill-color {
        fill: $bdl-gray-50;
    }
}
