@import '../../styles/variables';

.menu-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $bdl-gray-02;

    .menu-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 16px;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

        .menu-header-text {
            .menu-header-title {
                color: $bdl-gray;
                font-weight: bold;
                font-size: 16px;
            }

            .menu-header-subtitle {
                color: $bdl-gray-62;
                font-size: 12px;
            }
        }

        .menu-header-right {
            .menu-header-close-btn {
                width: 32px;
                height: 32px;
                padding: unset;
                background-color: $bdl-gray-10;
                border: unset;
            }
        }
    }

    & > .aria-menu {
        flex-grow: 1;
        background: unset;
        background-color: unset;
        background-color: $bdl-gray-02;
        border: unset;
        border-radius: unset;
        box-shadow: unset;

        .menu-item {
            color: $bdl-gray-80;
        }
    }
}
