@import '../../styles/variables';
@import '../../styles/inputs';

$font: lato, 'Helvetica Neue', helvetica, arial, sans-serif;
$minimumWidth: 300px;
$sidebarHeaderHeight: 60px;
$sidebarSubHeaderHeight: 56px;
$sidebarContentWidth: 340px;
$sidebarContentIncreasedWidth: 380px;
$sidebarContentMinHeight: 93px;
$sidebarActivityFeedSpacingHorizontal: 20px;
$sidebarActivityFeedSpacingVertical: 20px;
$sidebarActivityFeedSelectedItemSpacing: 10px;
$sidebarTabResponsiveSize: 48px;

@mixin rendering {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

@mixin reset {
    @include rendering;

    /* stylelint-disable declaration-no-important */
    box-sizing: border-box !important;
    font-size: 13px;
    /* stylelint-enable declaration-no-important */
    font-family: $font;

    * {
        @include rendering;

        /* stylelint-disable declaration-no-important */
        box-sizing: border-box !important;
        /* stylelint-enable declaration-no-important */
        font-family: inherit;

        &::after,
        &::before {
            box-sizing: inherit;
            color: inherit;
            font-family: inherit;
            text-rendering: inherit;
        }
    }
}

@mixin placeholder {
    color: $bdl-gray-65;
    font-weight: normal;
    font-family: $font;

    // Firefox sets opacity for placeholder to less than 100%
    // See https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder#opaque_text
    opacity: 1;
}
