@import './variables';
@import '../../styles/common/buttons';
@import '../../styles/common/inline-notifications';
@import '../../styles/modifiers/accessibility';
@import '../../styles/common/overlay';
@import '../../styles/common/pills';
@import '../../components/pill-selector-dropdown/PillSelector';
@import '../../components/notification/Notification';

@mixin be-content {
    color: $twos;
    letter-spacing: .3px;
    line-height: 20px;

    /* stylelint-disable */
    ::-webkit-input-placeholder {
        @include placeholder;
    }

    ::-moz-placeholder {
        @include placeholder;
    }

    :-ms-input-placeholder {
        @include placeholder;
    }

    ::-webkit-file-upload-button {
        cursor: pointer;
    }
    /* stylelint-enable */

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    .btn-plain,
    input,
    textarea,
    select,
    .select-button {
        font: inherit;
    }
}

.be {
    @include reset;

    // links have tag styles
    @import '../../styles/common/links';
    // Forms have tag styles
    @import '../../styles/common/forms';

    @include be-content;

    background: $white;
    border: 0 none;
    /* stylelint-disable declaration-no-important */
    box-sizing: border-box !important;
    /* stylelint-enable declaration-no-important */
    height: 100%;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .ReactModal__Body--open & {
        position: relative;
    }
}

.be-modal {
    // This class can be used to apply the base content reset to portalled elements are outside of the .be root
    // Also add the .be class to the inner content to get the rest of the styles
    @include reset;
    @include be-content;
}

.be-app-element {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

// Input element styled like a link
.be-input-link {
    color: $blue;
    cursor: pointer;
    display: block;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }

    input {
        display: none;
    }
}

// Input styled like a button
.be-input-btn {
    cursor: pointer;
    display: block;

    input {
        display: none;
    }
}

.be-hidden {
    display: none;
}
