@font-face {
    font-weight: normal;
    font-family: 'Lato';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
}

@font-face {
    font-weight: bold;
    font-family: 'Lato';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
}
