@font-face {
    font-weight: normal;
    font-family: Lato;
    font-style: normal;
    src: local('Lato Regular'), local('Lato-Regular'), url('https://cdn01.boxcdn.net/fonts/1.0.17/lato/Lato-Regular.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.17/lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-weight: bold;
    font-family: Lato;
    font-style: normal;
    src: local('Lato Bold'), local('Lato-Bold'), url('https://cdn01.boxcdn.net/fonts/1.0.17/lato/Lato-Bold.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.17/lato/Lato-Bold.woff') format('woff');
}
