@use '@box/blueprint-web-assets/tokens/tokens';
@import './variables';

.be-modal {
    .be-modal-btns {
        display: flex;
        justify-content: center;
        padding: 15px 0 0;

        .btn {
            @include bdl-Button--large;

            margin-left: 8px;
        }
    }

    .be-modal-error {
        color: $red;
    }
}

.be-modal-wrapper-content,
.be-modal-dialog-content-full-bleed {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    background-color: $white;
    border: 0 none;
    border-radius: 0;
    outline: none;
}

.be-modal-wrapper-overlay {
    position: fixed;
    inset: 0;
    background-color: $darker-black;
}

.be-modal-create-folder .be-modal-dialog-content,
.be-modal-rename .be-modal-dialog-content,
.be-modal-share .be-modal-dialog-content,
.be-modal-delete .be-modal-dialog-content {
    padding: 0;
    border-radius: tokens.$radius-4;
}

.be-modal-rename .be-modal-dialog-content {
    input[type='text'] {
        width: 100%;
    }
}

.be-modal-dialog-content {
    @extend .be-modal-wrapper-content;

    position: absolute;
    inset: 50% auto auto 50%;
    width: 400px;
    margin-right: -50%;
    padding: 25px;
    border-radius: $bdl-border-radius-size;
    transform: translate(-50%, -50%);

    .be-is-small & {
        width: 340px;
    }
}

.be-modal-dialog-overlay {
    @extend .be-modal-wrapper-overlay;

    position: absolute;
}
