@import '../../styles/variables';

.ContentInsightsSummary {
    display: flex;
    flex-direction: column;

    .OpenContentInsightsButton {
        margin-top: $bdl-grid-unit * 5;
        margin-right: 0;
        margin-left: 0;
    }

    &--redesigned .OpenContentInsightsButton {
        margin-top: $bdl-grid-unit * 4.5;
    }
}
