@import '../../styles/variables';

.GraphCardGhostState {
    display: flex;
    flex-direction: column;
}

.GraphCardGhostState-header {
    display: flex;
    flex: 0 0 70px;
    flex-direction: column;
    justify-content: space-around;
}

.GraphCardGhostState-headlinePill {
    margin-top: $bdl-grid-unit * 2;
    margin-bottom: $bdl-grid-unit * 6;
}
