@import './variables';

.GraphCardPreviewsSummary-chart.ca-BarChart {
    flex: 0 0 $ContentInsights-chart-height-small;
    margin-top: $bdl-grid-unit * 5.5;

    .ca-Bar-value {
        background: $ContentInsights-chart-color-previews;
    }

    &.GraphCardPreviewsSummary-chart--redesigned {
        margin-top: $bdl-grid-unit * 4.5;
    }
}
