@import '../../styles/variables';

.GraphGhostState {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    .bdl-Ghost + .bdl-Ghost {
        margin-left: $bdl-grid-unit * .5;
    }
}
