@import '../../styles/variables';

.bdl-CollapsibleSidebar-logo {
    .bdl-CollapsibleSidebar-logoLink {
        display: flex;
        flex: 1 0 auto;
        max-width: 200px;
        padding-right: $bdl-grid-unit * 5;
    }
}
