@import '../../../styles/variables';

@mixin dropdown-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
    height: 34px;
    margin: auto;
    margin-top: auto;
    padding: 8px;
    position: auto;
    width: 160px;
}

@mixin error-border {
    border: 1px solid $bdl-watermelon-red;
}

.condition-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 10px;
    width: 100%;

    .condition-delete-button {
        align-items: center;
        display: flex;
        width: 35px;

        .delete-button {
            background: none;
            border: 0;
            color: $downtown-grey;
            cursor: pointer;
            display: flex;
            font-size: 11px;
            font-weight: bold;
            padding-bottom: 0;
            padding-left: 10px;
            padding-top: 0;
            position: relative;
        }
    }

    .condition-connector {
        align-items: center;
        display: flex;
        padding-left: 10px;
        padding-right: 70px;
        width: 70px;

        .condition-connector-text {
            color: $black;
            margin: auto;
            position: relative;
        }
    }

    .condition-column-dropdown-container {
        align-items: center;

        .filter-dropdown-single-select-field-container {
            flex: 1;
        }

        .select-field {
            .select-button {
                border-radius: 5px;
                width: 160px;
            }

            .select-button.placeholder {
                color: $seventy-sixers;
            }
        }
    }

    .condition-operator-dropdown-container {
        align-items: center;

        .filter-dropdown-single-select-field-container {
            flex: 1;
        }

        .select-container {
            padding-left: 10px;
            padding-right: 10px;
            width: 110px;

            .select-button {
                border-radius: 5px;
            }
        }
    }

    .condition-value-dropdown-container {
        align-items: center;
        height: 100%;
        padding-right: 5px;

        .filter-dropdown-text-field-container {
            flex: 1;

            .text-input-container {
                margin: auto;
            }

            input {
                @include dropdown-input();
            }
        }

        .filter-dropdown-date-field-container {
            flex: 1;

            .date-picker-wrapper {
                margin: auto;
            }

            .date-picker-wrapper .date-picker-icon-holder {
                width: 100%;
            }

            .text-input-container {
                margin: auto;
            }

            input {
                @include dropdown-input();
            }
        }

        .filter-dropdown-single-select-field-container {
            flex: 1;
        }

        .select-container {
            width: 100%;

            .select-button {
                border-radius: 5px;
                width: 160px;
            }

            .select-button.placeholder {
                color: $seventy-sixers;
            }
        }
    }

    .condition-value-dropdown-container.show-error {
        .select-container {
            button.select-button {
                @include error-border();
            }
        }

        .filter-dropdown-text-field-container {
            .text-input-container input {
                @include error-border();
            }
        }

        .date-picker-wrapper input {
            @include error-border();
        }

        .select-button.placeholder {
            @include error-border();
        }
    }

    .condition-error-icon-status {
        align-items: center;
        display: flex;

        .icon-alert-default {
            display: block;
            margin: 0 auto;

            use:nth-child(2) {
                fill: $bdl-watermelon-red;
            }
        }
    }
}
