// Z-Indexes
$modal-dialog-z-index: 160 !default;
$menu-z-index: 170 !default;
$notifications-wrapper-z-index: 180 !default;
$overlay-z-index: 190 !default;
$overlay-low-visual-priority-z-index: 150 !default;
$tooltip-z-index: 190 !default;
$tooltip-low-visual-priority-z-index: 150 !default;

// Borders
$bdl-border-radius-size: 4px;
$bdl-border-radius-size-med: $bdl-border-radius-size * 1.5;
$bdl-border-radius-size-large: $bdl-border-radius-size * 2;
$bdl-border-radius-size-xlarge: $bdl-border-radius-size * 3;

// Spacing
$bdl-grid-unit: 4px !default;
$bdl-grid-unit-px: 4 !default; // unitless grid unit (defined in pixels for manual multiplication in JS)
