$size-small-medium-min: 375px;
$size-medium-min: 461px;
$size-large-min: 768px;
$size-small-max: 374px;
$size-small-medium-max: 460px;
$size-medium-max: 767px;
$size-large-max: 1023px;
$size-xlarge-max: 1219px;
$small-screen: unquote('(max-width: #{$size-small-max})');
$small-medium-screen: unquote('(max-width: #{$size-small-medium-max})');
$medium-screen: unquote('(max-width: #{$size-medium-max})');
$large-screen: unquote('(max-width: #{$size-large-max})');
$xlarge-screen: unquote('(max-width: #{$size-xlarge-max})');

@mixin breakpoint($media-query) {
    @media #{$media-query} {
        @content;
    }
}
