.invitation-permission-flyout-overlay {
    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
    }

    .table-body .table-cell:not(:first-child) {
        text-align: center;
    }
}

.invitation-permission-flyout-target {
    position: relative;
    top: 32px;
    height: 20px;
    cursor: pointer;
}
