$small-width: 480px;
$single-column-width: 693px;
$sidebar-toggle-width: 1038px;
$medium-width: 1220px;
$preview-small-width: 849px;
$preview-medium-width: 1000px;

@mixin small-size {
    @media (max-width: #{$small-width}) {
        @content;
    }
}

@mixin single-column-size {
    @media (max-width: #{$single-column-width}) {
        @content;
    }
}

@mixin medium-size {
    @media (min-width: #{$small-width + 1px}) and (max-width: #{$medium-width}) {
        @content;
    }
}

@mixin large-size {
    @media (min-width: #{$medium-width + 1px}) {
        @content;
    }
}

@mixin sidebar-collapse-size {
    @media (max-width: #{$sidebar-toggle-width}) {
        @content;
    }
}

@mixin preview-small-size {
    @media (max-width: #{$preview-small-width}) {
        @content;
    }
}

@mixin preview-medium-size {
    @media (max-width: #{$preview-medium-width}) {
        @content;
    }
}
