@import './variables';
@import '../../../styles/sizes.media';

.copyright-footer {
    display: block;
    margin: $lsb-item-separator-margin 0;
    padding-left: $lsb-padding-x;

    @include medium-size {
        display: none;

        .is-forced-open & {
            display: block;
        }
    }

    a {
        color: $charcoal;
        font-size: 11px;
        line-height: 1.2;
        letter-spacing: .3px;
        white-space: nowrap;
    }
}
