@import './variables';
@import './sizes.media';

.left-sidebar-drop-wrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;

    .left-sidebar-drop-veil {
        align-items: flex-start;
        background-color: rgba($hover-blue-background, .75);
        border: 1px dashed $box-blue;
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .left-sidebar-drop-wrapper-text {
        cursor: default;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
