@import './variables';
@import './sizes.media';

.left-sidebar-removeable-link-container {
    display: flex;
    position: relative;

    &:active,
    &:focus,
    &:hover {
        background-color: $lsb-menu-hover-link-bg;
        color: $twos;
        text-decoration: none;

        .left-sidebar-link:not(.is-selected) {
            color: $twos;
        }

        .lsb-remove-button {
            opacity: 1;
            padding: 0 8px 0 7px;

            .lsb-remove-button-icon {
                transform: scale(1, 1);
            }
        }
    }

    .lsb-remove-button {
        &:active,
        &:focus,
        &:hover {
            .fill-color {
                fill: $twos;
            }
        }
    }

    .left-sidebar-link {
        &:active,
        &:focus {
            .left-sidebar-link-text {
                color: $twos;
                text-decoration: none;
            }
        }
    }
}

.left-sidebar-link-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // @NOTE (04-23-2018): Safari automatically overrides showing of tooltips
    // https://stackoverflow.com/questions/20974276/prevent-safari-from-showing-tooltip-when-text-overflow-is-hidden-with-ellipsis
    &::after {
        content: '';
        display: block;
    }

    @include medium-size {
        display: none;

        .is-forced-open & {
            display: block;
        }
    }
}

// Override default navigation link tooltip visibility
.nav-link-tooltip {
    display: none;

    &.is-visible {
        display: block;
    }

    @include medium-size {
        display: block;

        .is-forced-open & {
            display: none;
        }
    }
}
