@use '@box/blueprint-web-assets/tokens/tokens';

@mixin BackgroundGradient {
    background: linear-gradient(135deg, #fe01da 0%, tokens.$light-blue-100 100%);
    border: tokens.$border-1 solid tokens.$white-opacity-30;
}

@mixin BackgroundGradientHover {
    background: linear-gradient(0deg, #2223, #2223), linear-gradient(135deg, #fe01da 0%, tokens.$light-blue-100 100%);
    border: tokens.$border-1 solid #2222224d;
}

.be-ContentAnswersOpenButton {
    &:not(:disabled):focus,
    &:not(:disabled):hover {
        background-color: tokens.$gray-10;
    }

    &.be-ContentAnswersOpenButton--hasQuestions {
        @include BackgroundGradient;

        svg {
            path {
                fill: tokens.$gray-white;
            }
        }

        &:hover {
            @include BackgroundGradientHover;
        }

        &:not(:disabled):focus {
            @include BackgroundGradientHover;

            box-shadow:
                0 0 0 1px tokens.$gray-white,
                0 0 0 3px tokens.$light-blue-100;
        }
    }
}
