.buik-sort-selected {
    flex: 0 0 20px;
}

.buik-menu-sort.buik-aria-menu [role=menuitem] {
    display: flex;
}

.buik-btn.buik-sort-btn {
    padding: 7px 6px;

    .bce:not(.buik-is-small) & {
        display: none;
    }

    svg {
        display: block;
    }
}
