.be-sort-selected {
    display: flex;
    flex: 0 0 26px;
}

.be-menu-sort.aria-menu .menu-item {
    padding-right: 45px;
}

.btn.be-btn-sort {
    padding: 7px 6px;

    .bce:not(.be-is-small) & {
        display: none;
    }

    svg {
        display: block;
    }
}
