@import '../variables';

.buik-sub-header {
    align-items: center;
    border-bottom: 1px solid $off-white;
    box-shadow: 0 4px 6px -2px $transparent-black;
    display: flex;
    flex: 0 0 50px;
    justify-content: space-between;
    padding: 0 25px;

    .buik-is-small & {
        padding: 0 18px;
    }

    .bce:not(.buik-is-small) & {
        box-shadow: none;
    }

    .bce.buik-is-small & {
        border-bottom: 0 none;
    }
}
