version: 2.1

executors:
  default:
    docker:
      - image: cimg/node:20.18
        user: root
    resource_class: large
    working_directory: ~/buie
  cypress-executor:
    docker:
      - image: cypress/included:13.13.0
        user: root
    resource_class: large
    working_directory: ~/buie

commands:
  yarn-install:
    steps:
      - run:
          name: Installing dependencies
          command: yarn install --non-interactive --frozen-lockfile --cache-folder /node_modules

  build-locales:
    steps:
      - run:
          name: Building locales
          command: yarn --cwd /buie build:i18n

  build-project:
    steps:
      - run:
          name: Building project
          command: yarn --cwd /buie build:prod:npm

  restore-yarn-cache:
    steps:
      - restore_cache:
          keys:
            - yarn-cache-v5-{{ checksum "yarn.lock" }}

  save-yarn-cache:
    steps:
      - save_cache:
          key: yarn-cache-v5-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

  setup-workspace:
    steps:
      - attach_workspace:
          at: /buie

jobs:
  setup:
    executor: default
    steps:
      - checkout
      - restore-yarn-cache
      - yarn-install
      - save-yarn-cache
      - persist_to_workspace:
          root: .
          paths:
            - .

  lint:
    executor: default
    steps:
      - checkout
      - setup-workspace
      - build-locales
      - run:
          name: Commit lint
          command: /buie/scripts/commitlint.sh
      - run:
          name: Code lint
          command: yarn --cwd /buie lint

  flow:
    executor: default
    steps:
      - checkout
      - setup-workspace
      - run:
          name: Flow
          command: yarn --cwd /buie flow check

  build-unit-tests:
    executor: default
    steps:
      - checkout
      - setup-workspace
      - build-locales
      - run:
          name: Babel build
          command: yarn --cwd /buie build:ci:es
      - run:
          name: Checking locales and styles
          command: /buie/scripts/check_generated_files.sh
      - run:
          name: Webpack build
          command: yarn --cwd /buie build:ci:dist
      - run: echo 'export TZ=America/Los_Angeles' >> $BASH_ENV
      - run:
          name: Unit tests
          command: yarn --cwd /buie test --maxWorkers=3

  e2e-tests:
   executor: cypress-executor
   steps:
     - checkout
     - setup-workspace
     - run:
         name: Cypress run
         command: yarn --cwd /buie test:e2e

  chromatic-deploy:
    executor: default
    steps:
      - checkout
      - setup-workspace
      - build-locales
      - build-project
      - run:
          name: Chromatic
          command: yarn --cwd /buie chromatic

workflows:
  version: 2
  lint_test_build:
    jobs:
      - setup
      - lint:
          requires:
            - setup
      - flow:
          requires:
            - setup
      - build-unit-tests:
          requires:
            - setup
      - e2e-tests:
          requires:
            - setup
      - chromatic-deploy:
          requires:
            - setup
