
aliases:
  - &yarn
    name: Installing dependencies
    command: yarn install --non-interactive --frozen-lockfile --cache-folder ~/.cache/yarn

  - &clean
    name: Cleaning
    command: yarn clean

  - &i18n
    name: Building locales
    command: yarn build:i18n

  - &restore-yarn-cache
    keys:
      - yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

  - &save-yarn-cache
    paths:
      - node_modules
      - ~/.npm
      - ~/.cache
    key: yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

defaults: &defaults
  working_directory: ~/buie
  docker:
    - image: cypress/base:10.16.0

version: 2
jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run: *clean
      - run: *i18n
      - run:
          name: Commit lint
          command: ./scripts/commitlint.sh
      - run:
          name: Code lint
          command: yarn lint
      - run:
          name: Flow
          command: yarn flow check

  build-unit-tests:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run: *clean
      - run: *i18n
      - run:
          name: Babel build
          command: yarn build:ci:es
      - run:
          name: Checking locales and styles
          command: ./scripts/check_generated_files.sh
      - run:
          name: Webpack build
          command: yarn build:ci:dist
      - run: echo 'export TZ=America/Los_Angeles' >> $BASH_ENV
      - run:
          name: Unit tests
          command: yarn test --maxWorkers=2

  e2e-tests:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache
      - run:
          name: E2E tests
          command: yarn test:e2e

workflows:
  version: 2
  lint_test_build:
    jobs:
      - lint
      - build-unit-tests
      - e2e-tests
