
aliases:
  - &yarn |
    yarn install --non-interactive --frozen-lockfile --cache-folder ~/.cache/yarn

  - &clean |
    yarn clean

  - &i18n |
    yarn build:i18n

  - &restore-yarn-cache
    keys:
      - yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

  - &restore-yarn-cache-e2e
    keys:
      - yarn-e2e-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

  - &save-yarn-cache
    paths:
      - node_modules
      - ~/.npm
      - ~/.cache
    key: yarn-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

  - &save-yarn-cache-e2e
    paths:
      - node_modules
      - ~/.npm
      - ~/.cache
    key: yarn-e2e-{{ checksum "yarn.lock" }}-{{ checksum ".circleci/config.yml" }}

defaults: &defaults
  working_directory: ~/buie
  docker:
    - image: cypress/base:10

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-e2e
      - run: *yarn
      - save-cache: *save-yarn-cache-e2e
      - run: *clean
      - run: *i18n
      - run:
          name: Babel build
          command: yarn build:ci:es
      - run: ./scripts/check_generated_files.sh
      - run:
          name: Webpack build
          command: yarn build:ci:dist

  lint:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-e2e
      - run: *yarn
      - save-cache: *save-yarn-cache-e2e
      - run: *clean
      - run: *i18n
      - run:
          name: Commit Lint
          command: ./scripts/commitlint.sh
      - run:
          name: Code Lint
          command: yarn lint
      - run:
          name: Flow
          command: yarn flow check

  unit-tests:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-e2e
      - run: *yarn
      - save-cache: *save-yarn-cache-e2e
      - run: echo 'export TZ=America/Los_Angeles' >> $BASH_ENV
      - run:
          name: Unit tests
          command: yarn test --maxWorkers=2

  e2e-tests:
    working_directory: ~/buie
    docker:
      - image: cypress/base:10
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache-e2e
      - run: *yarn
      - save-cache: *save-yarn-cache-e2e
      - run:
          name: E2E tests
          command: yarn test:e2e

workflows:
  version: 2
  lint_test_build:
    jobs:
      - lint
      - unit-tests
      - build
      - e2e-tests
