@import '../../styles/variables';

$bdl-ghost-background-color: $bdl-gray-05;

.bdl-Ghost {
    display: inline-block;
    width: 100%;
    height: 16px;
    background-color: $bdl-ghost-background-color;
    border-radius: $bdl-border-radius-size;
}

.bdl-Ghost--isAnimated {
    animation: bdl-Ghost-keyframes 1s ease-in-out infinite;
}

@keyframes bdl-Ghost-keyframes {
    0% {
        background-color: $bdl-ghost-background-color;
    }

    50% {
        background-color: lighten($bdl-ghost-background-color, 2%);
    }

    100% {
        background-color: $bdl-ghost-background-color;
    }
}
