@import '../common/variables';

.bcpr {
    display: flex;
    flex-direction: column;

    .bcpr-body {
        display: flex;
        flex: 1;
    }

    .bcpr-container {
        display: flex;
        flex: 1;
        position: relative;
    }

    .bcpr-content {
        flex: 1;
    }

    &.be-is-small {
        .bcpr-body {
            position: relative;
        }

        .bcs.bcs-is-open {
            position: absolute;
            right: 0;
        }
    }

    .bcpr-loading-wrapper {
        background-color: $ffive;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        .bcpr-loaded & {
            display: none;
        }
    }
}
