@import '../common/variables';

.bcpr {
    .bcpr-loading {
        color: $twos;
        position: relative;
        text-align: center;

        .bcpr-loading-text {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}
