@import '../../styles/variables';
@import '../../styles/inputs';

/** @define TextInput */

.bdl-TextInput-input {
    @include common-typography;

    height: 32px;
    margin-top: 5px;

    &[type="text"],
    &[type="password"],
    &[type="search"],
    &[type="email"],
    &[type="url"],
    &[type="tel"],
    &[type="number"] {
        @include box-inputs;

        width: 262px;

        &:hover {
            @include box-inputs-hover;
        }

        &:focus {
            @include box-inputs-focus;
        }

        &:disabled {
            background-color: $haze;
            border-color: $efive;
            box-shadow: none;
            color: $bfive;

            &:hover {
                border-color: $efive;
            }
        }
    }

    // IE11 adds a new x to the inputs to clear it
    &::-ms-clear {
        display: none;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
        color: $seesee;
    }

    /* Safari does't treat search input like a normal textfield */
    &[type="search"] {
        appearance: textfield;

        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button {
            display: none;
        }
    }

    &[type="number"] {
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.bdl-TextInput-container {
    @include common-typography;

    margin: 0 0 20px;
    position: relative;

    &.bdl-has-error {
        .bdl-TextInput-input {
            border-color: $amaranth;
        }
    }

    .bdl-TextInput-loadingIndicator {
        display: inline-block;
        margin-left: -21px;
    }

    .bdl-TextInput-iconVerified {
        display: inline-block;
        margin-bottom: -2px;
        margin-left: -24px;
    }

    .bdl-TextInput-label {
        word-wrap: break-word;
    }

    .bdl-TextInput-description {
        color: $sevens;
        display: block;
        word-wrap: break-word;
    }
}
