@import '../../styles/variables';

/**************************************
 * Text Input
 **************************************/

.text-input-container {
    margin: 0 0 20px;
    position: relative;

    .text-input-loading {
        display: inline-block;
        margin-left: -21px;
    }

    .text-input-verified {
        display: inline-block;
        margin-bottom: -2px;
        margin-left: -24px;
    }

    .label {
        word-wrap: break-word;
    }

    .text-input-description {
        color: $sevens;
        display: block;
        word-wrap: break-word;
    }

    input {
        font-family: inherit;
        height: 32px;
        margin-top: 5px;

        &[type="number"] {
            -moz-appearance: textfield;
            -ms-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    &.is-required,
    &.show-error {
        input {
            border-color: $amaranth;
        }
    }
}
