/**************************************
 * Accessibility
 **************************************/

.accessibility-hidden {
    left: -9999px;
    position: absolute;
    top: auto; /* Some browsers ignore left without a top */
}
