.bcow-menu-item-description {
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: underline;
        color: #464A4F;
    }
}

.bcow-tooltip {
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration: underline;
        color: #F9F9F9;
    }
}