@import './base';

.typography {
    display: flex;
    flex-flow: column wrap;
    margin-top: 25px;

    .weights {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        color: $black;
    }

    .weights .preview {
        font-size: 72px;
        line-height: 72px;
    }

    .weights .regular {
        margin-right: 15px;
    }

    .weights .bold .preview {
        font-weight: bold;
        font-family: Lato, sans-serif;
    }

    .font-container,
    .headings-container {
        width: 33%;
    }

    .heading {
        display: flex;
        align-items: center;
        line-height: 32px;
    }

    label {
        margin-right: 10px;
        color: $bdl-watermelon-red;
    }

    .form-font-container label {
        display: inline-block;
        width: 80px;
        line-height: 30px;
    }

    .form-font-container .body,
    .form-font-container .input-text {
        font-size: 14px;
    }

    .form-font-container .input-label {
        font-size: 13px;
    }
}
