@import '~box-ui-elements/es/styles/variables';

.ErrorState {
    padding: 4 * $bdl-grid-unit 6 * $bdl-grid-unit;
    font-size: 14px;
    text-align: center;
    background-color: $bdl-gray-02;
    border: 1px solid $bdl-gray-20;
    border-radius: $bdl-grid-unit;
}
