@import '../../../common/variables';

$repliesPaddingLeft: 40px;

.bcs-BaseComment {
    .bcs-Comment-timestamp {
        margin-bottom: $bdl-grid-unit * 4;
    }

    .bcs-ActivityTimestamp {
        color: $bdl-gray-65;
    }

    .bcs-CommentForm-input {
        background-color: $white;
    }

    .btn-plain:focus-visible {
        outline: auto;
    }

    .bcs-Replies {
        margin: $bdl-grid-unit * 3 0;
        padding-left: $repliesPaddingLeft;
    }

    .bcs-Comment-media {
        margin-bottom: $bdl-grid-unit * 3;
    }
}
