.bcs-comment-confirm-container {
    width: 212px;

    .overlay {
        border-radius: 4px;
        padding: 20px;
    }

    .bcs-comment-confirm-prompt {
        margin-bottom: 20px;
    }

    .bcs-comment-confirm-delete,
    .bcs-comment-confirm-cancel {
        margin-left: 0;
    }

    .bcs-comment-confirm-cancel {
        margin-right: 10px;
    }
}
