@import '../../../common/variables';

// tethered styles
.bcs-comment-delete-confirm {
    z-index: $overlay-z-index;
}

.be {
    .bcs-comment-container {
        position: relative;
        z-index: 1;
    }

    .bcs-comment {
        opacity: 1;
        transition: opacity .33s;

        &.bcs-is-pending {
            opacity: .4;
        }
    }
}
