@import '../../../common/variables';

// the comment container including inline error component
.bcs-Comment {
    position: relative;
    z-index: 1;
}

// the comment activity item
.bcs-Comment-media {
    opacity: 1;
    transition: opacity .33s;

    &.bcs-is-pending {
        opacity: .4;
    }
}

// tethered styles for delete confirmation modal
.bcs-Comment-deleteConfirmationModal {
    z-index: $overlay-z-index;
}

// override for activity feed defaults
.be {
    .bcs-Comment-editor.bcs-activity-feed-comment-input.bcs-comment-input-is-open {
        background-color: inherit;
        border-top: none;

        .bcs-comment-input-form-container {
            margin-right: 0;
        }
    }
}
