@import '../../../common/variables';

// the comment container including inline error component
.bcs-Comment {
    position: relative;
    z-index: 1;
}

// TODO: Remove when newThreadedReplies FF is removed
.bcs-BaseComment {
    position: relative;
    z-index: 1;
}

// the comment activity item
.bcs-Comment-media {
    opacity: 1;
    transition: opacity .33s;

    &.bcs-is-pending {
        opacity: .4;
    }
}

.bcs-Comment-headline {
    // target only Edge because this breaks other browsers
    // but fixes Edge
    @supports (-ms-ime-align: auto) {
        word-break: break-all;
    }
}

// tethered styles for delete confirmation modal
.bcs-Comment-deleteConfirmationModal {
    z-index: $overlay-z-index;
}

// override for activity feed defaults
.be {
    .bcs-Comment-editor.bcs-CommentForm {
        margin-top: 20px;
        padding: 0;
        border-top: none;
    }
}

.bcs-Comment-unresolveComment path {
    fill: $bdl-gray;
}
