@import '../../../common/variables';

.bcs-CreateReply {
    margin-bottom: $bdl-grid-unit * 4;

    .bcs-CreateReply-toggle {
        display: flex;
        align-items: center;
        color: $bdl-gray-65;
        font-weight: bold;

        .bcs-CreateReply-arrow {
            margin-right: $bdl-grid-unit;

            // in design arrow is turning left, but we only have ArrowArcRight, so will transfrom it to left one
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }

    .bcs-CreateReply-form {
        padding: 0;
        border-top: none;
    }
}
