@import '../../styles/variables';

.AdvancedContentInsightsToggle {
    margin-bottom: 0;

    .toggle-simple-label {
        display: flex;
    }

    .toggle-simple-description {
        color: $bdl-gray;
    }
}

.AdvancedContentInsightsToggle-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
