@import '../../../common/variables';

.be-keywords {
    .bdl-PillCloud {
        padding: 0;
        overflow: hidden;
        border: 0 none;

        .bdl-Button.bdl-Pill.bdl-PillCloud-button {
            margin: 0 5px 5px 0;
            color: inherit;
            border: 1px solid $bdl-gray-20;

            &:hover,
            &.is-selected {
                color: $white;
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.pill-cloud-button {
    @extend .bdl-PillCloud-button;
}

.pill-cloud-container {
    @extend .bdl-PillCloud;
}

.btn {
    @extend .bdl-Button;
}

.pill {
    @extend .bdl-Pill;
}
