@import '../../../common/variables';

.be-keywords {
    .bdl-PillCloud,
    .pill-cloud-container {
        padding: 0;
        overflow: hidden;
        border: 0 none;

        .btn.pill.pill-cloud-button {
            margin: 0 5px 5px 0;
            color: inherit;
            border: 1px solid $bdl-gray-20;

            &:hover,
            &.is-selected {
                color: $white;
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
}
