@import '../../../variables';

.be-timeline {
    color: $sevens;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 15px 0 0;

    &:last-child {
        padding-bottom: 5px;
    }

    .be-timeline-label {
        padding-bottom: 6px;
    }

    .be-timeline-line-wrapper {
        flex: 1;
        height: 6px;
        position: relative;
    }

    .be-timeline-line {
        background-color: $blue;
        border-radius: 6px;
        height: 6px;
        opacity: .25;
        position: absolute;
        width: 295px; // match with timeslice.js
    }

    .be-timeline-btns {
        margin-top: 10px;

        button:last-child {
            margin-left: 10px;
        }

        .btn-plain:hover svg path {
            fill: $twos;
        }
    }
}
