.bcs-Versions {
    .bdl-BackButton {
        margin-right: 5px;
    }
}

.bcs-Versions-content {
    height: 100%;
    min-height: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
