@import '../../common/variables';

.bcs-VersionsItemActions-toggle {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    width: 32px;
    height: 24px;
    border-radius: 2px;
    outline: none;
    pointer-events: auto;

    &:focus,
    &:hover {
        background-color: $bdl-gray-10;
        fill: $bdl-gray;
    }

    .fill-color {
        fill: $bdl-gray-50;
    }

    .icon-clock-past {
        margin-left: -2px;
    }
}

.bcs-VersionsItemActions {
    &.dropdown-menu-element {
        z-index: $overlay-z-index;
    }
}
