@import '../../common/variables';

.bcs-VersionsItem {
    $bcs-VersionsItemButton-horizontal: 10px;
    $bcs-VersionsItemButton-vertical: 15px;

    position: relative;

    .bcs-VersionsItemButton {
        padding: $bcs-VersionsItemButton-vertical $bcs-VersionsItemButton-horizontal;
    }

    .bcs-VersionsItemActions {
        .aria-menu {
            padding-bottom: 8px;
            padding-top: 8px;
        }
    }

    .bcs-VersionsItemActions-toggle {
        position: absolute;
        right: $bcs-VersionsItemButton-horizontal;
        top: $bcs-VersionsItemButton-vertical;
    }
}

.bcs-VersionsItem-badge {
    flex: 1 0 auto;
    margin-right: 10px;
}

.bcs-VersionsItem-current {
    color: $bdl-box-blue;
    font-weight: bold;
}

.bcs-VersionsItem-details {
    flex: 1 1 100%;
    overflow: hidden;
}

.bcs-VersionsItem-info {
    align-items: center;
    color: $bdl-gray-62;
    display: flex;
    white-space: nowrap;
}

.bcs-VersionsItem-log {
    margin-right: 35px; // Avoid flowing under action toggle button
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bcs-VersionsItem-size {
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
        content: '•';
        font-size: 8px;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: top;
    }
}
