.bcs-Versions {
    .bcs-section-content:first-child {
        padding-top: 0;
    }

    .bdl-BackButton {
        margin-right: 5px;
    }

    .crawler {
        line-height: 1;
    }
}

.bcs-Versions-content {
    height: 100%;
    min-height: 50px;
    padding-bottom: 10px;
}
