@import '../../common/variables';

.bcs-VersionsItemBadge {
    background-color: $selected-blue-background;
    border-radius: 4px;
    color: $primary-color;
    font-size: 18px;
    padding: 10px 8px;
    text-align: center;
}
