.bcs-Versions {
    .bcs-scroll-content {
        width: 100%;
    }

    .bcs-section-content:first-child {
        padding-top: 0;
    }

    .bdl-BackButton {
        margin-right: 5px;
    }

    .crawler {
        align-items: center;
        display: flex;
        height: 50px;
    }
}

.bcs-Versions-content {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
