@import '../../common/variables';

.bcs-VersionsItemButton {
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: $bdl-gray;
    font-size: 100%;
    line-height: 20px;
    text-align: left;
    background-color: transparent;
    border-radius: $bdl-border-radius-size;
    outline: none;
    transition: background-color 50ms ease-in, border 50ms ease-in;

    &,
    &:hover,
    &:focus {
        border: 1px solid transparent; // Override plain button styles
    }

    &:hover,
    &:focus {
        border-color: $bdl-gray-50;
    }

    &.bcs-is-disabled {
        border-color: transparent;
        cursor: default;
        pointer-events: none;

        .bcs-VersionsItemBadge {
            background-color: $bdl-gray-05;
        }

        .bcs-VersionsItemBadge,
        .bcs-VersionsItem-current {
            color: inherit;
        }
    }

    &.bcs-is-selected {
        background-color: $hover-blue-background;
        border-color: $bdl-box-blue;

        .bcs-VersionsItem-info {
            color: inherit;
        }
    }
}
