@import '../../common/variables';

.bcs-VersionsItemBadge {
    padding: 10px 8px;
    color: $bdl-box-blue;
    font-size: 18px;
    text-align: center;
    background-color: $selected-blue-background;
    border-radius: $bdl-border-radius-size;
}
