@import '../../common/variables';

.bcs-VersionsItemActions-item {
    .fill-color {
        fill: $fours;
    }

    .stroke-color {
        stroke: $fours;
    }
}

.bcs-VersionsItemsActions-toggle {
    align-items: center;
    align-self: flex-start;
    border-radius: 2px;
    display: flex;
    height: 24px;
    justify-content: center;
    pointer-events: auto;
    width: 32px;

    &:focus,
    &:hover {
        background-color: $off-white;
        fill: $fours;
    }


    .fill-color {
        fill: $nines;
    }

    .icon-clock-past {
        margin-left: -2px;
    }
}
