@import '../../../styles/variables';

.bcs-Versions {
    .bcs-scroll-content {
        width: 100%;
    }

    .bcs-section-content:first-child {
        padding-top: 0;
    }

    .bdl-BackButton {
        margin-right: 5px;
    }

    .crawler {
        display: flex;
        align-items: center;
        height: 50px;
    }
}

.bcs-Versions-content {
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.bcs-Versions-empty,
.bcs-Versions-maxEntries {
    padding-top: 10px;
    text-align: center;
}

.bcs-Versions-menu {
    .be & {
        padding-bottom: 20px;
    }
}
