.be-ItemList-header {
    .be-is-small & {
        visibility: collapse;
    }
}

.be-ItemList-nameCell {
    display: flex;
    gap: var(--space-3);
}

.be-ItemList-itemIcon {
    flex-shrink: 0;
}

.be-ItemList-itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.be-ItemList-itemTitle,
.be-ItemList-itemSubtitle {
    overflow: hidden;
    text-overflow: ellipsis;
}
