@import '../../../common/variables';

.be {
    .bcs-CommentForm {
        padding: 20px;
        border-top: solid 1px $bdl-gray-10;

        &.bcs-is-open {
            .bcs-CommentForm-input {
                .public-DraftEditor-content {
                    min-height: 68px;
                    max-height: 140px;
                    overflow: auto;
                }
            }
        }
    }

    .bcs-CommentForm-avatar {
        margin-right: 20px;
    }

    .bcs-CommentForm-body {
        min-width: 0; // Prevents overflow with long text strings in MS Edge
    }

    .bcs-CommentForm-input {
        .mention-selector-wrapper {
            margin: 0;
        }

        .public-DraftEditor-content {
            width: auto;
            cursor: text;
        }
    }

    .bcs-CommentTimestamp-toggle {
        margin-top: $bdl-grid-unit * 2.5;
    }

    .bcs-CommentForm-tip {
        margin-top: 10px;
        color: $bdl-gray-65;
    }

    .bcs-CommentFormControls {
        margin-top: 20px;
        text-align: right;

        .btn {
            margin: 0;
        }

        .btn:last-child {
            margin-left: 10px;
        }
    }
}
