@import 'variables';

@mixin box-inputs {
    border: 1px solid $seesee;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: $twos;
    -webkit-font-smoothing: antialiased;
    padding: 7px;
    transition: border-color linear .15s, box-shadow linear .1s;
}

@mixin box-inputs-hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
}

@mixin box-inputs-focus {
    border: 1px solid $primary-color;
    box-shadow: none;
    outline: 0;
}
