@import 'variables';

@mixin box-inputs {
    padding: 7px;
    color: $bdl-gray;
    border: 1px solid $bdl-gray-20;
    border-radius: $bdl-border-radius-size-med;
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
    transition: border-color linear .15s, box-shadow linear .1s;
    -webkit-font-smoothing: antialiased;
}

@mixin box-inputs-hover {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
}

@mixin box-inputs-focus {
    border: 1px solid $primary-color;
    outline: 0;
}
