// Box Design Language Colors, confirm with design before extending
// @see https://gallery.io/projects/MCHbtQVoQ2HCZTdZ0F79-fQJ/files/MCEJu8Y2hyDScSTYfw7hxWcA-L66cSQvSj4

$white: #fff !default;
$black: #000 !default;

// Box/Primary Blues
$bdl-box-blue: #0061d5 !default;
$bdl-box-blue-80: #3381dd !default;
$bdl-box-blue-50: #619de5 !default;
$bdl-box-blue-40: #99c0ee !default;
$bdl-box-blue-30: #b2cff2 !default;
$bdl-box-blue-20: #ccdff7 !default;
$bdl-box-blue-10: #e5effa !default;
$bdl-box-blue-05: #f2f7fd !default;
$bdl-box-blue-02: #fafcfe !default;

// Box/Primary Grays
$bdl-gray: #222 !default;
$bdl-gray-80: #4e4e4e !default;
$bdl-gray-62: #767676 !default;
$bdl-gray-50: #909090 !default;
$bdl-gray-40: #a7a7a7 !default;
$bdl-gray-30: #bcbcbc !default;
$bdl-gray-20: #d3d3d3 !default;
$bdl-gray-10: #e8e8e8 !default;
$bdl-gray-05: #f4f4f4 !default;
$bdl-gray-02: #fbfbfb !default;

// Dark Blues
$bdl-dark-blue: #003c84 !default;
$bdl-dark-blue-50: #7f9dc1 !default;
$bdl-dark-blue-10: #e5ebf2 !default;
$bdl-dark-blue-05: #f2f5f9 !default;
$bdl-dark-blue-02: #fafbfd !default;

// Light Blues
$bdl-light-blue: #2486fc !default;
$bdl-light-blue-50: #91c2fd !default;
$bdl-light-blue-10: #e9f2fe !default;
$bdl-light-blue-05: #f4f9ff !default;
$bdl-light-blue-02: #fbfdff !default;

// Yelloranges
$bdl-yellorange: #f5b31b !default;
$bdl-yellorange-50: #fad98d !default;
$bdl-yellorange-10: #fef7e8 !default;
$bdl-yellorange-05: #fefbf3 !default;
$bdl-yellorange-02: #fffefb !default;

// Yellows
$bdl-yellow: #ffd700 !default;
$bdl-yellow-50: #ffeb7f !default;
$bdl-yellow-10: #fffbe5 !default;
$bdl-yellow-05: #fffdf2 !default;
$bdl-yellow-02: #fffefa !default;

// Green Lights
$bdl-green-light: #26c281 !default;
$bdl-green-light-50: #92e0c0 !default;
$bdl-green-light-10: #e9f8f2 !default;
$bdl-green-light-05: #f4fcf8 !default;
$bdl-green-light-02: #fbfefd !default;

// Grimaces
$bdl-grimace: #4826c2 !default;
$bdl-grimace-50: #a392e0 !default;
$bdl-grimace-10: #ece9f8 !default;
$bdl-grimace-05: #f6f4fc !default;
$bdl-grimace-02: #fbfbfe !default;

// Purple Rains
$bdl-purple-rain: #9f3fed !default;
$bdl-purple-rain-50: #cf9ff6 !default;
$bdl-purple-rain-10: #f5ebfd !default;
$bdl-purple-rain-05: #faf5fe !default;
$bdl-purple-rain-02: #fdfbff !default;

// Watermelon Reds
$bdl-watermelon-red: #ed3757 !default;
$bdl-watermelon-red-50: #f69bab !default;
$bdl-watermelon-red-10: #fdebee !default;
$bdl-watermelon-red-05: #fef5f6 !default;
$bdl-watermelon-red-02: #fffbfc !default;

// Do not use, deprecated colors below this line
$bdl-secondary-blue: $bdl-dark-blue !default;
$bdl-neutral-01: $bdl-gray !default;
$bdl-neutral-02: $bdl-gray-62 !default;
$bdl-neutral-03: $bdl-gray-50 !default;
$bdl-neutral-04: $bdl-gray-10 !default;
$bdl-neutral-05: $bdl-gray-05 !default;
$bdl-neutral-06: $bdl-gray-02 !default;

// Primary colors
$box-blue: $bdl-box-blue !default;
$primary-color: $bdl-box-blue !default;
$koray-ing: #2a62b9 !default;
$picton-blue: #3392ec !default;
$hover-blue-background: #f6fafd !default;
$hover-blue-border: #d9e3e9 !default;
$selected-blue-background: #ecf4fc !default;
$selected-blue-border: #bfd4df !default;

// Secondary colors
$baby-blue: #bed4de !default;
$blue-purple: #6d83ff !default;
$hover-blue: #48b6f3 !default;
$dusty-plum: #9b59b6 !default;
$sad-sunjin: #72388f !default;
$pale-mint: #eefbf5 !default;
$thats-mint: $bdl-green-light !default;
$shady-acres: #15aa61 !default;
$wild-rice: #ede097 !default;
$early-dawn: #fffbe5 !default;
$lemon-meringue: #ffd522 !default;
$dehydrated: $bdl-yellorange !default;
$kumera: #81721b !default;
$mad-max: #f39c12 !default;
$ayers-rock: #e06e2b !default;
$amaranth: $bdl-watermelon-red !default;
$lavender-blush: #feeff2 !default;
$carissma: #eb8b9c !default;
$great-balls-of-fire: #ef4836 !default;
$king-crimson: #c82341 !default;
$bfive: #b5b5b5 !default;
$dtwo: #d2d2d2 !default;
$efive: #e5e5e5 !default;
$ffive: #f5f5f5 !default;
$fnine: #f9f9f9 !default;
$seesee: #ccc !default;
$haze: #fcfcfc !default;
$off-white: $bdl-neutral-04 !default;
$sf-fog: #bdc3c7 !default;
$karl-fog: #fbfbfc !default;
$silver-chalice: #afafaf !default;
$storms-a-comin: #737f8b !default;
$blue-steel: #2c3e50 !default;
$better-black: #494949 !default;
$downtown-grey: #999ea4 !default;
$twos: $bdl-gray !default;
$fours: #444 !default;
$sevens: #777 !default;
$eights: #888 !default;
$nines: #999 !default;
$eees: #eee !default;
$tendemob-grey: #64686d !default;
$sunset-grey: #464a4f !default;
$seventy-sixers: $bdl-gray-62 !default;
$approx-mischka-grey: #a3adb9 !default;
$lightest-charcoal: #c4c4c4;
$purple-rain: $bdl-purple-rain;

//
// -- Z-INDEX
$modal-dialog-z-index: 160 !default;
$menu-z-index: 170 !default;
$notifications-wrapper-z-index: 180 !default;
$overlay-z-index: 190 !default;
$tooltip-z-index: 190 !default;

// Fonts
@mixin font-family {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin font-aliasing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin fonts {
    @include font-family;
    @include font-aliasing;

    font-size: 13px;
    font-weight: 400;
}

// Box sizing
@mixin box-sizing {
    box-sizing: border-box !important;

    *,
    *::before,
    *::after {
        box-sizing: border-box !important;
    }
}

// Common typography
$bdl-line-height: 20px;

@mixin common-typography {
    @include fonts;

    color: $better-black;
    letter-spacing: .01em;
    line-height: $bdl-line-height;
}

// Borders
$bdl-border-radius-size: 4px;

// Animation
$bdl-transition-duration-200ms: .2s;
