@import '../../../variables';

.be-file-keywords {
    .be-timelines {
        margin: 20px 0 0;
    }

    .be-timeline {
        height: 20px;
    }
}

.be-file-keyword {
    display: inline-block;
    margin: 0 3px 8px;

    .be & .btn-plain {
        border: 1px solid $see-see;
        color: $sevens;
        padding: 5px 10px;

        &.be-file-keyword-word {
            border-radius: 13px;
            // border-radius: 8px 0 0 8px;
            // border-right: 0 none;
            max-width: 265px;
            white-space: normal;
        }

        &.be-file-keyword-delete {
            border-left: 0 none;
            border-radius: 0 8px 8px 0;
        }

        &:focus,
        &:active,
        &:hover,
        &.be-file-keyword-selected {
            background-color: $blue;
            border-color: $blue;
            color: $white;
            text-decoration: none;

            svg path {
                fill: $white;
                stroke: $white;
            }
        }
    }
}
