@import '../../../variables';

.be-keywords {
    .pill-cloud-container {
        border: 0 none;
        overflow: hidden;
        padding: 0;

        .btn.pill.pill-cloud-button {
            border: 1px solid $see-see;
            color: inherit;
            margin: 0 5px 5px 0;

            &:hover,
            &.is-selected {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }
        }
    }
}
