@import '~box-ui-elements/es/styles/variables';

.ContentGhost-body {
    padding-top: 2 * $bdl-grid-unit;
}

.ContentGhost-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 4 * $bdl-grid-unit;
}
