@import '~box-ui-elements/es/styles/variables';

.MessageFooter {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    line-height: 4 * $bdl-grid-unit;
}

.MessageFooter-action {
    margin-left: auto;
}

.MessageFooter-date {
    color: $bdl-gray-65;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: .3px;
}
