@import '~box-ui-elements/es/styles/variables';

.MessageTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4 * $bdl-grid-unit;
}

.MessageTags-tag {
    margin-top: 2 * $bdl-grid-unit;
    margin-right: $bdl-grid-unit;

    .bdl-LabelPill-textContent {
        padding: $bdl-grid-unit 2 * $bdl-grid-unit;
    }
}
