@import '../../styles/variables';

/**************************************
 * Label
 **************************************/

.bdl-Label {
    display: block;
    color: $bdl-gray-62;
    font-weight: bold;

    .bdl-label-optional {
        padding-left: 3px;
    }

    .bdl-InfoIconWithTooltip {
        padding-left: 3px;

        .bdl-Tooltip-icon {
            position: relative;
            top: 3px;
        }
    }
}
