@import '../../styles/variables';

/**************************************
 * Select
 **************************************/

.select-input-container {
    margin: 0 0 20px;

    .select-container {
        margin-top: 5px;
    }

    // add specificity to ensure button style override
    button.bdl-Select-tooltipIcon,
    .bdl-Select-tooltipIcon {
        position: absolute;
        margin-top: 9px;
        margin-left: 10px;
    }

    &.show-error {
        .select-overlay {
            border-color: $bdl-watermelon-red;
        }
    }
}
