@import '../../styles/variables';

/**************************************
 * Select
 **************************************/

.bdl-Select-inputContainer {
    margin: 0 0 20px;

    .bdl-Select-container {
        margin-top: 5px;
    }

    .bdl-Tooltip-iconContainer {
        position: absolute;
        margin-top: 9px;
        margin-left: 10px;
    }

    &.bdl-show-error {
        .bdl-Select-overlay {
            border-color: $bdl-watermelon-red;
        }
    }
}
