// Variables for the container size
$flyout-list-width: 420px;
$flyout-list-height: 460px;
$flyout-list-padding: 30px;
$flyout-footer-spacer: 20px;
$flyout-header-spacer: 12px;

// Variables for the styled text in the flyout container
$flyout-title-font-size: 15px;
$flyout-title-line-height: 16px;
$flyout-footer-font-size: 13px;
$flyout-footer-line-height: 16px;

// Variables for title and footer height to help calculate component height
$flyout-title-height: $flyout-title-line-height + $flyout-header-spacer;
$flyout-footer-height: $flyout-title-line-height + 2 * $flyout-footer-spacer;

// Consumable mixins - to use with the contents of a header flyout
@mixin header-flyout-row-padding {
    padding: 12px 0;
}

@mixin header-flyout-min-height {
    min-height: 72px;
}

@mixin header-flyout-row-borders($color) {
    border-top: 1px solid $color;

    &:last-child {
        border-bottom: 1px solid $color;
    }
}
