@import '../../styles/variables';
@import './variables';

.thumbnail-card {
    display: flex;
    flex: 1 0 $thumbnail-card-min-width;
    flex-direction: column;
    min-width: $thumbnail-card-min-width;
    max-width: $thumbnail-card-max-width;
    height: 200px;
    border: $thumbnail-card-border solid $bdl-gray-10;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(198, 198, 198, .2);
}

.thumbnail-card-details {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 12px;
    line-height: 16px;
    border-top: 1px solid $bdl-gray-05;

    .thumbnail-card-details-content {
        flex: 1;
        overflow: hidden;
    }

    .thumbnail-card-title,
    .thumbnail-card-subtitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .thumbnail-card-subtitle {
        color: $bdl-gray-62;
    }
}

.thumbnail-card-thumbnail-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: $thumbnail-height;
    background-color: $bdl-gray-05;

    .thumbnail-card-thumbnail-viewport {
        position: relative;
        width: 100%;
        height: $thumbnail-height;
        max-height: $thumbnail-height;
        overflow: hidden;
        text-align: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        img,
        svg {
            max-width: 100%;
            max-height: $thumbnail-height;
            vertical-align: middle;
        }

        img {
            box-shadow: 0 0 8px 0 rgba(177, 177, 177, .5);
        }
    }
}
