@import '../../../styles/variables';
@import './variables';

.header-flyout-overlay {
    height: $flyout-list-height;
    width: $flyout-list-width;

    .overlay {
        // TODO: decide which BDL color applies here
        border: 1px solid $off-white;
        padding: 2 * $flyout-header-spacer $flyout-list-padding 0;
    }
}

.header-flyout-list-container {
    padding: 0;

    .flyout-list-container-title {
        padding-bottom: $flyout-header-spacer;
    }

    .flyout-list-title {
        font-size: $flyout-title-font-size;
        line-height: $flyout-title-line-height;
        margin: 0;
    }

    .flyout-list-container-body {
        $title-height: $flyout-title-line-height + $flyout-header-spacer;
        $footer-height: $flyout-title-line-height +  2 * $flyout-footer-spacer;

        // the overall height, minus the top and bottom padding
        height: $flyout-list-height - 2 * $flyout-list-padding;
        margin-bottom: $flyout-list-padding;

        &.with-header {
            // the overall height minus the padding, and header height
            height: $flyout-list-height - (2 * $flyout-list-padding + $title-height);
        }

        &.with-footer {
            // the overall height minus the padding, and the footer height
            height: $flyout-list-height - ($flyout-list-padding + $footer-height);
            margin-bottom: 0;
        }

        &.with-header.with-footer {
            // the overall height minus the padding, and both text heights
            height: $flyout-list-height - ($flyout-list-padding + $title-height + $footer-height);
            margin-bottom: 0;
        }
    }

    .flyout-list-container-footer {
        border-top: 1px solid $off-white;
        font-size: $flyout-footer-font-size;
        line-height: $flyout-footer-line-height;
        padding: $flyout-footer-spacer 0;

        &.hidden {
            display: none;
        }
    }
}
