@import '../../styles/variables';

.bdl-Comment {
    font-size: $bdl-fontSize--dejaBlue;
}

.bdl-Comment-author {
    margin-bottom: $bdl-grid-unit;
    font-weight: bold;
}

.bdl-Comment-date {
    font-size: $bdl-fontSize-medium;
}

.bdl-Comment-content {
    margin-top: 4 * $bdl-grid-unit;
}
