@import '../../styles/variables';

.text-input-with-copy-button-container {
    align-items: flex-end;
    display: flex;
    margin: 0 0 20px;

    .text-input-container {
        margin-bottom: 0;
        margin-right: 0;

        input,
        input:focus {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            width: 100%;
        }
    }

    .btn {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
        margin: 0;
        min-width: 80px;
        transition: background-color .5s ease, border-color .5s ease;
    }

    &.copy-success {
        .btn,
        .btn:hover,
        .btn:active,
        .btn:active:hover {
            background-color: $thats-mint;
            border-color: $thats-mint;
            color: $white;
        }

        input:focus {
            border-color: $thats-mint;
        }
    }
}
