@import '../../styles/variables';

.text-input-with-copy-button-container {
    display: flex;
    align-items: flex-end;
    margin: 0 0 20px;

    .text-input-container {
        margin-right: 0;
        margin-bottom: 0;

        .bdl-text-input-tooltip-wrapper {
            width: 100%;
        }

        input,
        input:focus {
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .bdl-Button,
    .btn {
        margin: 0;
        border-left: 0;
        border-radius: 0;
    }

    .bdl-Button:last-child,
    .btn:last-child {
        min-width: 80px;
        border-top-right-radius: $bdl-border-radius-size-med;
        border-bottom-right-radius: $bdl-border-radius-size-med;
        transition:
            background-color 0.5s ease,
            border-color 0.5s ease;
    }

    &.copy-success {
        .btn:last-child,
        .btn:last-child:hover,
        .btn:last-child:active {
            color: $white;
            background-color: $bdl-green-light;
            border-color: $bdl-green-light;
        }

        input:focus {
            border-color: $bdl-green-light;
        }
    }
}
