@import '../../styles/variables';

.bdl-LabelPill {
    color: $bdl-gray;
    font-weight: bold;
}

.bdl-LabelPill--sizeRegular {
    padding: $bdl-grid-unit;
    font-size: 10px;
    line-height: 10px;
    border-radius: 10px;
}

.bdl-LabelPill--sizeLarge {
    padding: $bdl-grid-unit;
    font-size: $bdl-fontSize;
    line-height: $bdl-line-height;
    border-radius: $bdl-line-height;
}

.bdl-LabelPill--info,
.bdl-LabelPill--default,
.bdl-LabelPill--highlight {
    background-color: $bdl-gray-10;
}

.bdl-LabelPill--warning {
    background-color: $bdl-yellorange-50;
}

.bdl-LabelPill--error {
    background-color: $bdl-watermelon-red-50;
}

.bdl-LabelPill--success {
    background-color: $bdl-green-light-50;
}

.bdl-LabelPill--alert {
    background-color: $bdl-watermelon-red-50;
}

.bdl-LabelPill--ftux {
    background-color: $bdl-box-blue-20;
}

.bdl-LabelPill-iconContent {
    position: relative;
    top: 2px;

    path {
        fill: currentcolor;
    }
}

.bdl-LabelPill--sizeLarge {
    .bdl-LabelPill-textContent {
        margin: 0 $bdl-grid-unit;
    }

    .bdl-LabelPill-iconContent {
        top: 1px;
    }
}

.bdl-LabelPill-textContent {
    margin: 0 $bdl-grid-unit;
}
