@import '../../styles/variables';
@import './mixins';

.bdl-FilePathCell {
    display: flex;
    align-items: center;

    .breadcrumb-item {
        font-size: 13px;
    }

    &.is-external {
        .breadcrumb-item-last .bdl-FilePathCell-breadcrumbName {
            @include isExternal;
        }
    }
}
