@import '../../styles/variables';
@import './mixins';

.bdl-FileNameCell {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        flex-shrink: 0;
    }
}

.bdl-FileNameCell-link {
    @include itemName;

    margin-left: 5px;
    overflow: hidden;
    color: $bdl-gray;
    line-height: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
