@import '../../../common/variables';

$assignee-dropdown-height: 215px;

.be .bcs-task-input-container {
    display: flex;

    .bcs-task-input-form-container {
        flex: 1;
        min-width: 0;

        textarea,
        .date-picker-input {
            width: 100%;
        }

        .checkbox-container {
            // default margin is 20px between form input elements
            // this checkbox needs to be 10px below the pill selector input
            margin-top: -10px;
        }

        .bcs-task-add-due-date-input {
            margin-right: 0;
            margin-left: 0;

            .date-picker-wrapper {
                width: 166px;
            }
        }

        .bcs-task-name-input {
            max-height: 140px;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        input.bdl-PillSelector-input--hidden {
            width: 1px;
        }

        .bdl-PillSelectorDropdown {
            width: 100%;
            margin-left: 0;

            .bdl-PillSelector {
                width: auto;
            }

            &.scrollable {
                .overlay-wrapper {
                    position: absolute;
                    height: $assignee-dropdown-height;
                    overflow-y: scroll;
                    border: 1px solid $bdl-gray-30;
                }

                .overlay {
                    border: none;
                }
            }
        }
    }

    .inline-alert {
        margin: 0 0 20px;
    }
}
