.bce-ItemGridThumbnail {
    margin-bottom: 10px;
    // padding is used to maintain cell's aspect ratio on resize of container
    padding-bottom: 65%;
    position: relative;
}

.bce-ItemGridThumbnail-item {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
