.bce-MetadataSidePanel-subtitle {
    display: flex;
    align-items: center;
}

.bce-MetadataSidePanel-content {
    padding: var(--space-4);

    [data-target-id='TextButton-deleteButton'] {
        visibility: hidden;
    }
}
