@use '@box/blueprint-web-assets/tokens/tokens';

.be-modal.be-modal-share {
    .bce-shared-access-select {
        height: 27px;
        line-height: 15px;
        border-radius: tokens.$radius-2;
    }

    .be-modal-input-group {
        display: flex;

        input[type='text'] {
            flex-grow: 1;
            max-width: 296px;
            text-overflow: ellipsis;
            border-right: 0 none;
            border-radius: tokens.$radius-2 0 0 tokens.$radius-2;

            .be-is-small & {
                width: 237px;
            }
        }
    }

    .be-modal-button-copy {
        min-width: 70px;
        height: 36px;
        margin: 0 0 0 -5px;
        padding: 0 10px;
        font-weight: bold;
        font-size: 10px;
        line-height: 34px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 0 tokens.$radius-2 tokens.$radius-2 0;
    }

    .be-modal-btns {
        align-items: center;
        justify-content: space-between;
    }
}
