@import '~box-ui-elements/es/styles/variables';

.PreviewErrorNotification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, $bdl-gray-02, $bdl-gray-05 14%);
    border-radius: $bdl-border-radius-size-large;
}

.PreviewErrorNotification-image {
    width: 32px;
    height: 32px;
}

.PreviewErrorNotification-message {
    margin-top: 2 * $bdl-grid-unit;
    color: $bdl-gray-80;
    font-size: 14px;
    letter-spacing: .3px;
}
