@import '../common/variables';

@mixin bdl-SidebarNavButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px; // 1px for left border
    height: 60px;
    background-color: transparent;

    &:hover {
        background-color: $bdl-gray-05;
    }

    &.bdl-is-disabled {
        opacity: 0.5;
    }

    &.bdl-is-hidden {
        display: none;
    }
}

@mixin bdl-SidebarNavIcon {
    width: 24px;
    height: 24px;
}

@mixin bdl-SidebarNavIconModernized {
    width: 20px;
    height: 20px;
}

@mixin bcs-SidebarSection {
    margin: 0 8px 20px 25px;

    &:empty {
        margin: 0;
    }
}
