.bcs-activity-indicator {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 15px;
    height: 15px;
    color: white;
    font-size: 10px;
    line-height: 15px;
    background-color: black;
    border-radius: 50%;
}
