@import '../common/variables';

.bcs-activity {
    .bcs-scroll-content {
        width: 100%;
        height: 100%;
    }
}

.bcs-activity--full {
    .bcs-content-header {
        margin: 0;
        padding: 0 $sidebarActivityFeedSpacingHorizontal;
    }
}
