@import '../common/variables';
@import '../../styles/mixins/overlay';

$bcs-AddTaskMenu-v-two-width: 256px;

.bcs-AddTaskMenu-v-two {
    padding: 8px;
}

.bcs-AddTaskMenu-v-two-menuItem {
    display: flex;
    max-width: $bcs-AddTaskMenu-v-two-width;
    white-space: normal;
    gap: 12px;
}

.bcs-AddTaskMenu-v-two-icon {
    align-self: center;
    background-color: $bdl-gray-05;
    min-height: 32px;
    min-width: 32px;
    border-radius: $bdl-border-radius-size-med;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bcs-AddTaskMenu-v-two-title {
    font-weight: bold;
}

.bcs-AddTaskMenu-v-two-description {
    color: $bdl-gray-65;
    font-size: 12px;
    line-height: 14px;
}
