@import '../common/variables';

$bcs-AddTaskMenu-width: 256px;

.bcs-AddTaskMenu {
    padding: 0;
}

.bcs-AddTaskMenu-menuItem {
    display: flex;
    margin-top: 10px;
    max-width: $bcs-AddTaskMenu-width;
    min-height: 80px;
    padding: 10px 20px;
    white-space: normal;
}

.bcs-AddTaskMenu-menuItem--last {
    margin: 0 0 10px;
}

.bcs-AddTaskMenu-icon {
    margin-right: 4px;
}

.bcs-AddTaskMenu-title {
    color: $bdl-neutral-01;
}

.bcs-AddTaskMenu-description {
    color: $bdl-neutral-02;
}
