@import '../common/variables';

$sidebarTabsWidth: 60px;
$sidebarWidth: $sidebarTabsWidth + $sidebarContentWidth;

.be {
    &.bcs {
        display: flex;
        width: auto;
        min-width: $sidebarTabsWidth;
        max-width: $sidebarWidth;
        background-color: $white;
    }

    .bcs-loading {
        display: flex;
        flex: 1;
        align-items: center;
        width: 10px;
        margin: 0 auto;
        font-size: 0;
        white-space: nowrap;
    }

    &.bcs-is-open {
        .bcs-loading {
            width: $sidebarWidth;
        }
    }
}

.is-responsive-web {
    @include breakpoint($medium-screen) {
        .be.bcs {
            flex-basis: 100%;
            flex-direction: column;
            width: 100%;
            min-width: 0;
            max-width: none;
            max-height: 48px;
            transition: max-height .5s ease-in-out 0s;

            &.bcs-is-open {
                position: absolute;
                bottom: 0;
                z-index: 2;
                max-height: 100%;
            }
        }
    }
}
