.bcs-details {
    .bcs-scroll-content {
        display: flex;
        flex-direction: column;
        gap: var(--bp-space-050);
        padding: var(--bp-space-040) var(--bp-space-050) var(--bp-space-050);
    }

    .bcs-section {
        margin: 0;
    }

    .bcs-DetailsSidebar-notices:empty {
        display: none;
    }

    .item-properties dd {
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
