@import '~@box/blueprint-web-assets/tokens/tokens.scss';

.bcs-MetadataSidebarRedesign {
    background-color: $gray-02;
    border-left: 1px solid $gray-10;

    .bcs-MetadataSidebarRedesign-header {
        display: flex;
        justify-content: space-between;
        background-color: $gray-white;
        padding-block: $space-6 $space-5;
        padding-inline: $space-4;
        border-bottom: 1px solid $gray-10;
    }

    .bcs-MetadataSidebarRedesign-content {
        padding: $space-2;
    }
}
