@import '../common/variables';
@import '../../styles/variables';
@import '~@box/blueprint-web-assets/tokens/tokens.scss';

.bcs-MetadataSidebarRedesign {
    width: 340px;
    background-color: $gray-02;
    padding-inline: 10px;
}
