@import '../common/variables';

.bcs-metadata {
    .bcs-scroll-content {
        > .inline-alert {
            margin: 0 10px 10px 25px;
        }

        > .crawler {
            padding-top: 20px;
        }
    }

    .metadata-instance-editor {
        padding: 0 10px 20px 25px;

        .collapsible-card {
            margin-top: 10px;
        }
    }

    .metadata-instance-editor-template-dropdown {
        z-index: 1;
    }

    .metadata-instance-editor-header {
        display: none;
    }

    .metadata-instance-editor-field-read-only dd {
        margin: 0;
    }

    .metadata-instance-editor-instance-title-text {
        max-width: 210px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .collapsible-card.is-open .metadata-instance-editor-instance-title-text {
        max-width: 190px;
    }
}
