@import '../common/variables';

.bcs {
    .bcs-SidebarNav {
        border-left: 1px solid $off-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bcs-SidebarNav-toggle {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: center;
    }
}
