@import '../common/variables';
@import './mixins';

.bcs-SidebarClassification {
    @include bcs-SidebarSection;
}

.bcs-SidebarClassification-edit {
    position: absolute;
    top: 10px;
    right: 20px;
    color: $bdl-box-blue;
}
