@import '../common/variables';
@import './mixins';

.bcs .bcs-NavButton {
    @include bdl-SidebarNavButton;
    
    border-radius: 0;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        width: 3px;
        content: '';
        pointer-events: none;
    }

    &:hover {
        svg .fill-color {
            fill: $bdl-gray-80;
        }
    }

    &.bcs-is-selected {
        &::before {
            background-color: $blue;
        }

        svg .fill-color {
            fill: $blue;
        }
    }
    
    // Blueprint button focus override
    &:not(:disabled)[data-focus-visible] {
        border-radius: var(--radius-1);
        box-shadow: 0 0 0 var(--border-2) var(--outline-focus-on-light);
    }
}

@include breakpoint($medium-screen) {
    .bcs .bcs-NavButton {
        width: $sidebarTabResponsiveSize;
        height: $sidebarTabResponsiveSize;
        margin-right: $bdl-grid-unit * 3;

        &::before {
            inset: $sidebarTabResponsiveSize 0 0 0;
            width: auto;
            height: 2px;
        }
    }
}
