@import '../common/variables';

.bcs {
    .bcs-SidebarNav {
        border-left: 1px solid $off-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bcs-SidebarNav-footer {
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: center;

        // Need to add these overriding styles because there is a specificity issue with .btn-plain
        .btn-plain.bdl-SidebarToggleButton {
            height: 24px;
            margin: 0 3px;
            padding: 4px;
        }
    }
}
