@import '../common/variables';

.bcs-section-content {
    padding: 15px 0 5px;
}

.bcs-section {
    margin: 0 8px 20px 25px;
}

.be .btn-plain.bcs-section-title {
    align-items: center;
    border-bottom: 1px solid $off-white;
    color: initial;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px;
    text-align: left;
    width: 100%;

    .icon-caret-down {
        transition: transform $bdl-transition-duration-200ms;
    }

    &:active,
    &:focus {
        border-bottom-color: $blue;
        text-decoration: none;

        svg path {
            fill: $twos;
        }
    }
}

.be .bcs-section-open .btn-plain.bcs-section-title .icon-caret-down {
    transform: rotateZ(180deg);
}
