@import '../../common/variables';
@import '../mixins';

.bcs-SelectableActivityCard {
    outline: none;
    transition: background-color 300ms ease-in-out 25ms;

    &[aria-disabled='false'] {
        cursor: pointer;

        &:hover,
        &:focus {
            @include bcs-selected-item;
        }
    }
}
