@import '../../../styles/variables';

.metadata-instance-editor-field-custom {
    align-items: center;
    display: flex;

    .text-input-container {
        flex: 1;
        overflow-x: hidden;

        .label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }

    &:last-child .metadata-instance-editor-field-read-only {
        margin-bottom: 0;
    }
}

.metadata-instance-editor-field-custom-actions {
    margin: 5px 0 0 10px;

    .btn {
        height: 32px;
        margin: 0 0 0 -1px;
        padding: 10px;
        width: 32px;

        span {
            display: flex;
        }
    }
}
