@import '../../styles/variables';

.public-DraftEditorPlaceholder-root {
    margin: 8px 10px;
    color: $bdl-gray-65;
}

.bdl-is-disabled .public-DraftStyleDefault-block,
.is-disabled .public-DraftStyleDefault-block {
    width: 262px;
    padding: 8px 10px;
    border: 1px solid $bdl-gray-20;
    border-radius: $bdl-border-radius-size;
}

.draft-js-editor {
    overflow: hidden;
}
