@import '../variables';

.buik-crawler {
    font-size: 0;
    margin: 0 auto;
    white-space: nowrap;
    width: 10px;
}

.buik-crawler div {
    animation: buik_crawler .66s infinite ease-in-out;
    background-color: $blue;
    border-radius: 4px;
    display: inline-block;
    height: 10px;
    width: 2px;
}

.buik-btn-primary .buik-crawler div {
    background-color: $white;
}

.buik-crawler.buik-crawler-is-small {
    transform: scale(.7);
}

.buik-crawler.buik-crawler-is-large {
    transform: scale(2);
}

.buik-btn-is-loading .buik-crawler div {
    transform: translateZ(0);
    will-change: transform, opacity;
}

.buik-crawler div:nth-child(2) {
    animation-delay: .1s;
    margin-left: 2px;
}

.buik-crawler div:last-child {
    animation-delay: .2s;
    left: 8px;
    margin-left: 2px;
}

@keyframes buik_crawler {
    0%,
    80%,
    100% {
        opacity: .5;
        transform: scaleY(1.2);
    }

    40% {
        opacity: 1;
        transform: scaleY(1.6);
    }
}
