@import '../common/variables';

.bcpr-PreviewError {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bdl-gray;
    text-align: center;
}

.bcpr-PreviewError-message {
    max-width: 400px;
    margin-top: 20px;
    font-size: 14px;
}
