%form-attribute-item {
    padding-bottom: 20px;
    border-bottom: 1px solid $bdl-gray-10;

    .section-content {
        margin-left: 100px;
    }
}

@mixin isExternal {
    color: $bdl-gray-65;
    font-style: italic;
}

@mixin itemName {
    &.bdl-is-external {
        @include isExternal;
    }
}
