@import '../../styles/variables';
@import './mixins';

.bdl-ItemNameCell {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        flex-shrink: 0;
    }
}

.bdl-ItemNameCell-name {
    @include itemName;

    margin-left: 5px;
    overflow: hidden;
    color: $bdl-gray;
    line-height: 1.5em;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    &.bdl-is-folder:hover {
        margin-left: 5px;
        text-decoration: underline;
    }
}
