@import '../../../styles/variables';

.bdl-ContentExplorerItemList--responsive {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 285px;
}

.content-explorer-item-list {
    .table-header-item {
        color: $bdl-gray-65;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.035em;
        text-transform: none;
    }

    .table-body {
        border-top: 1px solid $bdl-gray-10;
        outline: none;
    }

    .table-row {
        &.disabled .table-cell {
            opacity: 0.3;
        }

        &:not(.is-selected, .disabled):hover {
            background-color: $hover-blue-background;
        }

        &:focus::before {
            background-color: transparent;
            content: none;
        }

        .table-cell {
            padding: 0;
        }
    }

    .item-list-name-container {
        display: flex;
        align-items: center;

        .icon-chevron {
            margin-top: 1px;
            margin-left: 7px;
        }
    }

    .item-list-name {
        display: flex;
        align-items: center;
        padding-right: 1px;
        color: $bdl-gray;
        font-size: 14px;

        &.link:hover {
            color: $bdl-box-blue;

            .icon-chevron {
                border-color: $bdl-box-blue !important;
            }
        }
    }

    .item-list-button-col .radio-container,
    .item-list-button-col .checkbox-container {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
    }

    .item-list-name-label {
        margin-left: 15px;
        color: $bdl-box-blue;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
    }

    .item-list-loading-placeholder {
        width: 75%;
        height: 12px;
        background-color: $bdl-gray-30;
        border-radius: $bdl-border-radius-size;
    }
}
