@import '../../../styles/variables';

.content-explorer-item-list {
    .table-header-item {
        color: $bdl-gray-62;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: .035em;
        text-transform: none;
    }

    .table-body {
        border-top: 1px solid $bdl-gray-10;
        outline: none;
    }

    .table-row {
        &.disabled .table-cell {
            opacity: .3;
        }

        &:not(.is-selected):not(.disabled):hover {
            background-color: $hover-blue-background;
        }

        &:focus::before {
            background-color: transparent;
            content: none;
        }

        .table-cell {
            padding: 0;
        }
    }

    .item-list-name-container {
        align-items: center;
        display: flex;

        .icon-chevron {
            margin-left: 7px;
            margin-top: 1px;
        }
    }

    .item-list-name {
        align-items: center;
        color: $bdl-gray;
        display: flex;
        font-size: 14px;
        padding-right: 1px;

        &.link:hover {
            color: $bdl-box-blue;

            .icon-chevron {
                border-color: $bdl-box-blue !important;
            }
        }
    }

    .item-list-button-col .radio-container,
    .item-list-button-col .checkbox-container {
        flex: 1;
        margin-bottom: 0;
        text-align: center;
    }

    .item-list-name-label {
        color: $bdl-box-blue;
        font-size: 11px;
        font-weight: bold;
        margin-left: 15px;
        text-transform: uppercase;
    }

    .item-list-loading-placeholder {
        background-color: $bdl-gray-30;
        border-radius: 3px;
        height: 12px;
        width: 75%;
    }
}
