@import '../../styles/variables';

@keyframes reveal_badge {
    0% {
        color: $bdl-coral;
        transform: scale(0);
    }

    20% {
        transform: scale(1.25);
    }

    45% {
        transform: scale(.9);
    }

    65% {
        color: $bdl-coral;
        transform: scale(1);
    }

    100% {
        color: $white;
        transform: scale(1);
    }
}

.count-badge {
    background-color: $bdl-coral;
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba($black, .3);
    color: $white;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 0 2px;
    text-align: center;
    transform: scale(0);

    &.is-visible.animate {
        animation-delay: 0s;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: reveal_badge;
        animation-timing-function: ease-out;
    }

    &.is-visible:not(.animate) {
        transform: scale(1);
    }
}
