.box-ui-component{
    @import '../../styles/variables';

    $horizontal-offset: 10px;
    $arrow-offset: -3px;
    $arrow-size: 5px;
    $rotation-bottom: 225deg;
    $rotation-top: 45deg;
    $rotation-middle-right: 135deg;
    $rotation-middle-left: 315deg;

    @keyframes flyout_overlay {
        0% {
            opacity: 0;
        }

        60% {
            opacity: 1;
        }

        100% {
            transform: rotateY(0) rotateX(0);
        }
    }

    @keyframes flyout_overlay_top_right_aligned {
        0% {
            transform: rotateY(-10deg) rotateX(-10deg);
        }
    }

    @keyframes flyout_overlay_top_left_aligned {
        0% {
            transform: rotateY(10deg) rotateX(-10deg);
        }
    }

    @keyframes flyout_overlay_top_center_aligned {
        0% {
            transform: rotateY(0) rotateX(-10deg);
        }
    }

    @keyframes flyout_overlay_bottom_right_aligned {
        0% {
            transform: rotateY(10deg) rotateX(10deg);
        }
    }

    @keyframes flyout_overlay_bottom_left_aligned {
        0% {
            transform: rotateY(-10deg) rotateX(10deg);
        }
    }

    @keyframes flyout_overlay_bottom_center_aligned {
        0% {
            transform: rotateY(0) rotateX(10deg);
        }
    }

    @keyframes flyout_overlay_middle_right_aligned {
        0% {
            transform: rotateY(10deg) rotateX(0);
        }
    }

    @keyframes flyout_overlay_middle_left_aligned {
        0% {
            transform: rotateY(-10deg) rotateX(0);
        }
    }

    @keyframes flyout_overlay_middle_center_aligned {
        0% {
            transform: rotateY(0) rotateX(10deg);
        }
    }

    &.flyout-overlay {
        @include common-typography;

        box-sizing: border-box;
        z-index: $overlay-z-index;

        & > div:not(.should-outline-focus):focus {
            outline: none;
        }

        .overlay {
            border-radius: $bdl-border-radius-size;
            padding: 15px;
        }

        &::before {
            border: $arrow-size solid $white;
            box-shadow: 1px 1px 0 0 $sf-fog;
            content: '';
            position: absolute;
            z-index: $overlay-z-index + 1;
        }

        // Bottom
        &.flyout-overlay-target-attached-bottom.flyout-overlay-target-attached-left {
            &::before {
                left: $horizontal-offset;
                top: $arrow-offset;
                transform: rotate($rotation-bottom);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_top_left_aligned .125s;
                transform-origin: left top;
            }
        }

        &.flyout-overlay-target-attached-bottom.flyout-overlay-target-attached-right {
            &::before {
                right: $horizontal-offset;
                top: $arrow-offset;
                transform: rotate($rotation-bottom);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_top_right_aligned .125s;
                transform-origin: right top;
            }
        }

        &.flyout-overlay-target-attached-bottom.flyout-overlay-target-attached-center {
            &::before {
                left: 50%;
                top: $arrow-offset;
                transform: rotate($rotation-bottom);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_top_center_aligned .125s;
                transform-origin: center top;
            }
        }

        // Top
        &.flyout-overlay-target-attached-top.flyout-overlay-target-attached-left {
            &::before {
                bottom: $arrow-offset;
                left: $horizontal-offset;
                transform: rotate($rotation-top);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_bottom_left_aligned .125s;
                transform-origin: left bottom;
            }
        }

        &.flyout-overlay-target-attached-top.flyout-overlay-target-attached-right {
            &::before {
                bottom: $arrow-offset;
                right: $horizontal-offset;
                transform: rotate($rotation-top);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_bottom_right_aligned .125s;
                transform-origin: right bottom;
            }
        }

        &.flyout-overlay-target-attached-top.flyout-overlay-target-attached-center {
            &::before {
                bottom: $arrow-offset;
                left: 50%;
                transform: rotate($rotation-top);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_bottom_center_aligned .125s;
                transform-origin: center bottom;
            }
        }

        // Middle
        &.flyout-overlay-target-attached-middle.flyout-overlay-target-attached-left {
            &::before {
                margin-top: -$arrow-size;
                right: $arrow-offset;
                top: 50%;
                transform: rotate($rotation-middle-left);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_middle_right_aligned .125s;
                transform-origin: right center;
            }
        }

        &.flyout-overlay-target-attached-middle.flyout-overlay-target-attached-right {
            &::before {
                left: $arrow-offset;
                margin-top: -$arrow-size;
                top: 50%;
                transform: rotate($rotation-middle-right);
            }

            .overlay {
                animation: flyout_overlay .125s, flyout_overlay_middle_left_aligned .125s;
                transform-origin: left center;
            }
        }
    }
}

