@import '../../styles/variables';

.flyout-overlay {
    @include common-typography;

    z-index: $overlay-z-index;
    box-sizing: border-box;

    & > div:not(.should-outline-focus):focus {
        outline: none;
    }

    .overlay {
        padding: 15px;
        border-radius: $bdl-border-radius-size;
    }

    &.flyout-overlay-target-attached-left,
    &.flyout-overlay-target-attached-right,
    &.dropdown-menu-element-attached-center {
        .overlay {
            @include bdl-openComponentAnimation($bdl-transitionDurationBase);
        }
    }
}
