@import '../../styles/variables';

.bdl-OverlayHeader {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    padding: ($bdl-grid-unit * 3) ($bdl-grid-unit * 4);
    background-color: $white;
    box-shadow: $bdl-header-box-shadow;
}

.bdl-OverlayHeader-content {
    flex-grow: 1;
}
