@import '../inputs';

/**************************************
 * Forms
 **************************************/

/* Note: Only useful for labels that do not wrap their target input */
.label-sep::after {
    content: ':';
}

/* Select component with container */

.select-container select,
.select-container .select-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    padding: 5px 0 5px 10px;
    position: relative;
    width: 100%;
    z-index: 1; /* captures click */
}

.select-container select {
    background: none;
    border: none;
    color: $twos;
    padding-right: 25px;
}

.select-container .select-button:disabled,
.select-container select:disabled {
    cursor: default;
}

.select-container {
    display: inline-block;
    position: relative;
}

.select-container .select-button,
.select-container .select-container-inner {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

.select-container .select-overlay {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.select-container .select-overlay,
.select-container .select-button {
    background-color: $white;
    border: 1px solid $dtwo;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
    -webkit-transition: border-color linear .15s, box-shadow linear .1s;
    transition: border-color linear .15s, box-shadow linear .1s;
}

.select-container .select-overlay::before,
.select-container .select-button::before {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid $better-black;
    content: "";
    height: 0;
    position: absolute;
    right: 11px;
    top: 15px;
    width: 0;
}

.select-container .select-button {
    color: $twos;
    padding-right: 25px;
}

.select-container .select-button:focus,
.select-container select:focus {
    outline: none;
}

.select-container .select-button:focus,
.select-container select:focus ~ .select-overlay {
    border: 1px solid $primary-color;
}

.select-container .select-button:hover,
.select-container select:hover ~ .select-overlay {
    border: 1px solid #4c4c4c;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}

.select-container .select-button:disabled,
.select-container select:disabled {
    color: $bfive;
}

.select-container .select-button:disabled,
.select-container select:disabled ~ .select-overlay {
    background-color: $haze;
    border-color: $efive;
    box-shadow: none;
}

.select-container .select-button:disabled:hover,
.select-container select:disabled:hover ~ .select-overlay {
    box-shadow: none;
}

.select-container .select-button:disabled::before,
.select-container select:disabled ~ .select-overlay::before {
    border-top: 3px solid #d5d5d5;
}

.select-container.is-invalid select + .select-overlay,
.select-container.is-invalid .select-button:focus ~ .select-overlay,
.select-container.is-invalid select:focus ~ .select-overlay,
.select-container.is-invalid select:hover + .select-overlay {
    border: 1px solid $amaranth;
}

.select-container .select-button:active {
    background-color: $efive;
}

.select-container-x-small {
    width: 50px;
}

.select-container-small {
    width: 100px;
}

.select-container-medium {
    width: 200px;
}

.select-container-large {
    width: 262px;
}

.select-container-x-large {
    width: 345px;
}

.select-container.huge {
    width: 500px;
}

/* Disable any IE specific styling for Select elements */
select::-ms-expand {
    display: none;
}
