@import '../inputs';

/**************************************
 * Forms
 **************************************/

/* Inputs */

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
div[contentEditable='true'],
textarea {
    width: 262px;

    @include box-inputs;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='email']:hover,
input[type='url']:hover,
input[type='tel']:hover,
input[type='number']:hover,
div[contentEditable='true']:hover,
textarea:hover {
    @include box-inputs-hover;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='number']:focus,
div[contentEditable='true']:focus,
textarea:focus {
    @include box-inputs-focus;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: $bdl-gray-20;
}

input[type='text'].bdl-is-invalid,
input[type='password'].bdl-is-invalid,
input[type='search'].bdl-is-invalid,
input[type='email'].bdl-is-invalid,
input[type='url'].bdl-is-invalid,
input[type='tel'].bdl-is-invalid,
input[type='number'].bdl-is-invalid,
div[contentEditable='true'].bdl-is-invalid,
textarea.bdl-is-invalid {
    border: 1px solid $bdl-watermelon-red;
}

input[type='text'].bdl-is-invalid:focus,
input[type='password'].bdl-is-invalid:focus,
input[type='search'].bdl-is-invalid:focus,
input[type='email'].bdl-is-invalid:focus,
input[type='url'].bdl-is-invalid:focus,
input[type='tel'].bdl-is-invalid:focus,
input[type='number'].bdl-is-invalid:focus,
div[contentEditable='true'].bdl-is-invalid:focus,
textarea.bdl-is-invalid:focus {
    border: 1px solid #f44;
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='search']:disabled,
input[type='email']:disabled,
input[type='url']:disabled,
input[type='tel']:disabled,
input[type='number']:disabled,
div[contentEditable='true']:disabled,
textarea:disabled {
    color: $bdl-gray-30;
    background-color: $bdl-gray-02;
    border-color: $bdl-gray-10;
    box-shadow: none;

    &:hover {
        border-color: $bdl-gray-10;
    }
}

/* safari does't treat search input like a normal textfield */
input[type='search'] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button {
        display: none;
    }
}

/* IE10+ adds a new x to the inputs to clear it, hiding it for now */
input::-ms-clear {
    display: none;
}

textarea {
    vertical-align: top;
}

.input-x-small,
.input-x-small[type] {
    width: 100px;
}

.input-small,
.input-small[type] {
    width: 150px;
}

.input-medium,
.input-medium[type] {
    width: 300px;
}

.input-large,
.input-large[type] {
    width: 375px;
}

.input-x-large,
.input-x-large[type] {
    width: 475px;
}

.input-full,
.input-full[type] {
    width: 100%;
}

/* Note: Only useful for labels that do not wrap their target input */
.label-sep::after {
    content: ':';
}

/* Select component with container */

.bdl-Select-container select,
.bdl-Select-container .bdl-SelectButton {
    position: relative;
    z-index: 1; /* captures click */
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 5px 0 5px 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bdl-Select-container select {
    padding-right: 25px;
    color: $bdl-gray;
    background: none;
    border: none;
}

.bdl-Select-container .bdl-SelectButton:disabled,
.bdl-Select-container select:disabled {
    cursor: default;
}

.bdl-Select-container {
    position: relative;
    display: inline-block;
}

.bdl-Select-container .bdl-SelectButton,
.bdl-Select-container .bdl-Select-container-inner {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
}

.bdl-Select-container .bdl-Select-overlay {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bdl-Select-container .bdl-Select-overlay,
.bdl-Select-container .bdl-SelectButton {
    background-color: $white;
    border: 1px solid $bdl-gray-20;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05);
    -webkit-transition: border-color linear .15s, box-shadow linear .1s;
    transition: border-color linear .15s, box-shadow linear .1s;
}

.bdl-Select-container .bdl-Select-overlay::before,
.bdl-Select-container .bdl-SelectButton::before {
    position: absolute;
    top: 15px;
    right: 11px;
    width: 0;
    height: 0;
    border-top: 3px solid $bdl-gray-80;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: transform $bdl-transition-duration-200ms;
    content: '';
}

.bdl-Select-container .bdl-SelectButton[aria-expanded='true']::before {
    transform: rotateZ(180deg);
}

.bdl-Select-container .bdl-SelectButton {
    padding-right: 25px;
    color: $bdl-gray;
}

.bdl-Select-container .bdl-SelectButton:focus,
.bdl-Select-container select:focus {
    outline: none;
}

.bdl-Select-container .bdl-SelectButton:focus,
.bdl-Select-container select:focus ~ .bdl-Select-overlay {
    border: 1px solid $primary-color;
}

.bdl-Select-container .bdl-SelectButton:hover,
.bdl-Select-container select:hover ~ .bdl-Select-overlay {
    border: 1px solid #4c4c4c;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}

.bdl-Select-container .bdl-SelectButton:disabled,
.bdl-Select-container select:disabled {
    color: $bdl-gray-30;
}

.bdl-Select-container .bdl-SelectButton:disabled,
.bdl-Select-container select:disabled ~ .bdl-Select-overlay {
    background-color: $bdl-gray-02;
    border-color: $bdl-gray-10;
    box-shadow: none;
}

.bdl-Select-container .bdl-SelectButton:disabled:hover,
.bdl-Select-container select:disabled:hover ~ .bdl-Select-overlay {
    box-shadow: none;
}

.bdl-Select-container .bdl-SelectButton:disabled::before,
.bdl-Select-container select:disabled ~ .bdl-Select-overlay::before {
    border-top: 3px solid #d5d5d5;
}

.bdl-Select-container.bdl-is-invalid select + .bdl-Select-overlay,
.bdl-Select-container.bdl-is-invalid .bdl-SelectButton:focus ~ .bdl-Select-overlay,
.bdl-Select-container.bdl-is-invalid select:focus ~ .bdl-Select-overlay,
.bdl-Select-container.bdl-is-invalid select:hover + .bdl-Select-overlay {
    border: 1px solid $bdl-watermelon-red;
}

.bdl-Select-container .bdl-SelectButton:active {
    background-color: $bdl-gray-10;
}

.bdl-Select-container-x-small {
    width: 50px;
}

.bdl-Select-container-small {
    width: 100px;
}

.bdl-Select-container-medium {
    width: 200px;
}

.bdl-Select-container-large {
    width: 262px;
}

.bdl-Select-container-x-large {
    width: 345px;
}

.bdl-Select-container.huge {
    width: 500px;
}

/* Disable any IE specific styling for Select elements */
select::-ms-expand {
    display: none;
}
