/**************************************
 * Inline Notifications
 **************************************/

.inline-alert {
    border-radius: 2px;
    display: none;
    margin: 10px 0;
    padding: 14px 10px;

    &.inline-alert-visible {
        display: block;
    }

    &.inline-alert-warning {
        background-color: $early-dawn;
        border: 1px solid $wild-rice;
        color: $kumera;
    }

    &.inline-alert-error {
        background-color: $lavender-blush;
        border: 1px solid $carissma;
        color: $king-crimson;
    }

    &.inline-alert-success {
        background-color: $pale-mint;
        border: 1px solid $thats-mint;
        color: $thats-mint;
    }

    &.inline-alert-info {
        background-color: rgba($picton-blue, .1);
        border: 1px solid rgba($box-blue, .4);
    }
}
