/**************************************
 * Links
 **************************************/

/* Link styling for non-anchor tags such as buttons */

a,
.lnk {
    color: $box-blue;
    outline: none;
    text-decoration: none;
}

.lnk {
    background: transparent none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline;
    filter: none;
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.lnk:hover,
.lnk:active {
    background: transparent;
    box-shadow: none;
    height: auto;
    line-height: inherit;
}

.lnk:active {
    color: $box-blue;
    text-decoration: underline;
}

a:focus,
.lnk:focus,
a.is-disabled:focus,
.lnk.is-disabled:focus {
    outline: none;
    text-decoration: underline;
}

a.is-disabled,
a.is-disabled:hover,
a.is-disabled:active,
.lnk.is-disabled,
.lnk.is-disabled:hover,
.lnk.is-disabled:active {
    color: $nines;
    cursor: default;
    text-decoration: none;
}

.lnk-plain {
    color: inherit;
}

.lnk-plain:hover,
.lnk-plain:active {
    text-decoration: none;
}

.lnk-plain.is-disabled,
.lnk-plain.is-disabled:hover,
.lnk-plain.is-disabled:active {
    color: $nines;
}

a svg {
    pointer-events: none;
}

// Link styling from box-react-ui: should probably get merged with the above?
// Also see nav-sidebar.scss before merging
.link {
    color: $tendemob-grey;
    font-smoothing: antialiased;
    line-height: 1.5em;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px fade-out($black, .996);
    transition: color .05s;
    white-space: nowrap;

    &:hover {
        color: $box-blue;
    }
}

.link-group-title {
    color: $approx-mischka-grey;
    font-size: 10px;
    letter-spacing: .1em;
    line-height: 28px;
    text-transform: uppercase;
}
