/**************************************
 * Overlay
 **************************************/

$opacity-duration: .075s;
$transform-duration: .125s;

.overlay-wrapper {
    $overlay-padding: 8px 0;

    position: relative;
    display: inherit;

    .overlay {
        position: absolute;
        left: -99999px;
        z-index: 90;
        overflow-x: hidden;
        transform-origin: left top;
        transform-style: preserve-3d;
        pointer-events: none;
    }

    &.is-visible {
        .overlay {
            left: 0;
            animation: overlay-open $transform-duration forwards;
            pointer-events: all;
        }
    }

    @keyframes overlay-open {
        0% {
            transform: rotateY(-10deg) rotateX(-10deg);
            opacity: 0;
        }

        60% {
            opacity: 1;
        }

        100% {
            transform: rotateY(0deg) rotateX(0deg);
        }
    }
}

.overlay {
    margin: 0;
    padding: 8px 0;
    background: $white;
    border: 1px solid $bdl-gray-30;
    box-shadow: 0 2px 6px 0 fade-out($black, .9);

    hr {
        height: 0;
        margin: 8px 0;
        border: 0;
        border-top: 1px solid $bdl-gray-30;
    }
}

.toggle-overlay-container {
    > .btn {
        margin-bottom: 0;
        margin-left: 0;
    }
}

.toggle-overlay {
    .overlay {
        margin-top: 5px;
    }
}
