/**************************************
 * Pills
 **************************************/

$pillTextColorDark: lighten($black, 31%);

.pill,
.btn.pill {
    align-items: center;
    background-color: $primary-color;
    border-radius: 3px;
    color: $white;
    display: flex;
    flex: none;
    height: 24px;
    margin: 1px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .pill-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .close-btn {
        color: $white;
        cursor: pointer;
        flex: none;
        font-size: 8px;
        margin-left: 8px;
    }

    &.is-invalid {
        background-color: $white;
        color: $pillTextColorDark;

        .close-btn {
            color: $pillTextColorDark;
        }

        .pill-text {
            border-bottom: 2px dotted $king-crimson;
        }
    }

    &.is-selected {
        box-shadow: inset 0 0 0 1px $white;
    }
}

.pill-warning {
    background-color: $early-dawn;
    border: 1px solid $wild-rice;
    color: $kumera;

    a {
        color: $kumera;
    }
}

.pill-error {
    background-color: $lavender-blush;
    border: 1px solid $carissma;
    color: $king-crimson;

    a {
        color: $king-crimson;
    }
}

.pill.pill-cloud-button {
    background-color: $white;
    border: 1px solid $primary-color;
    color: $primary-color;
    display: inline-block;
    margin: 3px;

    &.is-selected {
        box-shadow: none;
    }

    &:not(.is-disabled) {
        &:focus {
            border-color: darken($primary-color, 8%);
            box-shadow: 0 1px 2px fade-out($black, .9);
        }
    }
}

.pill-cloud-container {
    border: 1px solid $efive;
    overflow-y: scroll;
    padding: 8px;
}
