/**************************************
 * Typography
 **************************************/

html,
a {
    @include font-aliasing;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    @include common-typography;
}

p {
    margin: 0 0 20px;
}

.strong,
strong {
    font-weight: 700;
}

.em,
em {
    font-style: italic;
}

small {
    font-size: 85%;
}

ul,
ol,
dl {
    margin: 0 0 10px 25px;
    padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
ul dl,
ol dl,
dl ul,
dl ol,
dl dl {
    margin-bottom: 0;
}

li {
    line-height: 20px;
}

input,
button,
select,
div[contentEditable='true'],
textarea {
    @include font-family;

    font-size: 99%;
}

.txt-small {
    font-size: 12px;
}

.txt-medium {
    font-size: 14px;
}

.txt-large {
    font-size: 16px;
}

.txt-x-large {
    font-size: 30px;
}

.txt-normal {
    font-weight: normal;
}

.txt-bold {
    font-weight: bold;
}

.txt-break-all {
    word-break: break-all;
}

.txt-ellipsis {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
