@import '../../styles/variables';

.quick-search {
    display: inline-block;
    width: 100%;
    transition: width .25s linear;

    .selector-dropdown-wrapper {
        width: 100%;
    }

    .overlay {
        border-radius: $bdl-border-radius-size;
    }

    ul.overlay {
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transform: scaleY(0);
        transition: transform .2s ease;
    }

    .is-visible > ul.overlay {
        transform: scaleY(1);
    }
}
