@import '../../styles/variables';

.quick-search-message {
    width: 100%;

    > .overlay {
        background-color: $bdl-gray-02;
        color: $bdl-gray-50;
        text-align: center;
        width: 100%;
    }
}
