@import '../../styles/variables';

.quick-search-message {
    width: 100%;

    > .overlay {
        width: 100%;
        color: $bdl-gray-50;
        text-align: center;
        background-color: $bdl-gray-02;
        border-radius: $bdl-border-radius-size-med;
    }
}
