.quick-search {
    display: inline-block;
    transition: width .25s linear;
    width: 100%;

    .selector-dropdown-wrapper {
        width: 100%;
    }

    .overlay {
        border-radius: 2px;
    }

    ul.overlay {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0;
        transform: scaleY(0);
        transition: transform .2s ease;
    }

    .is-visible > ul.overlay {
        transform: scaleY(1);
    }
}
