@import '../../styles/variables';

@mixin bdl-ClassificationBadge {
    align-items: center;
    border: 1px solid;
    border-radius: $bdl-border-radius-size;
    display: inline-flex;
    margin: 0;
    padding: 0 5px;
}

@mixin bdl-ClassificationBadge-name {
    font-size: 10px !important; // To inhibit overriding
    font-weight: 600;
    line-height: 16px;
}
