@import '../../styles/variables';
@import './mixins';

.bdl-AddClassificationBadge {
    @include bdl-ClassificationBadge;

    background-color: $bdl-gray-02;
    border-color: $bdl-gray-20;

    &:hover {
        background-color: $bdl-gray-05;
    }
}

.bdl-AddClassificationBadge-name {
    @include bdl-ClassificationBadge-name;

    color: $bdl-gray-62 !important; // To inhibit overriding
}
