@import '../../styles/variables';
@import './mixins';

.bdl-ClassifiedBadge,
.bdl-ClassifiedBadge:hover {
    @include bdl-ClassificationBadge;

    background-color: $bdl-yellorange-10;
    border-color: $bdl-yellorange;
}

.bdl-ClassifiedBadge-name {
    @include bdl-ClassificationBadge-name;

    color: $bdl-gray !important; // To inhibit overriding
    text-transform: uppercase;
}
