@import '../../styles/variables';

.bdl-Classification {
    .bdl-Label,
    .label {
        margin-top: 12px;
        font-weight: normal;
    }
}

.bdl-Classification--redesign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-4);
}

.bdl-Classification-definition {
    max-height: $bdl-line-height * 5;
    margin-top: 3px;
    overflow-y: auto;
    line-height: $bdl-line-height;
}

.bdl-Classification-missingMessage {
    color: $bdl-gray-80;
}

.bdl-Classification-appliedByAiDetails {
    margin-bottom: var(--space-5);
    margin-top: var(--space-05);
}

.bdl-Classification-propertySection {
    .bdl-Classification-sectionLabel {
        margin-block-end: var(--space-1);
    }
}
