@import '../../styles/variables';

.bdl-Classification {
    .label {
        margin-top: 12px;
        font-weight: normal;
    }
}

.bdl-Classification-definition {
    margin-top: 3px;
}

.bdl-Classification-missingMessage {
    color: $bdl-gray-50;
}
