@import '../../../styles/variables';

.timestamp-item {
    color: $bdl-box-blue-80;
    font-size: $bdl-btn-text-icon-size;
    font-weight: normal;
    line-height: $bdl-line-height;
    padding: 6px 4px;
    letter-spacing: 0.3px;
    border-radius: $bdl-border-radius-size;
    background-color: $bdl-box-blue-10;
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
