@import '../../../styles/variables';

/**************************************
 * Mention Selector
 **************************************/

.mention-selector-wrapper {
    position: relative;
    margin: 0 0 20px;

    .content-editable-container {
        margin: 0;
    }

    .mention-start-state {
        position: absolute;
        z-index: 90;
        width: 100%;
        padding: 8px;
        background: $white;
        border: 1px solid $bdl-gray-30;
        box-shadow: 0 2px 6px 0 fade-out($black, .9);
    }
}
