@import '../../../styles/variables';

/**************************************
 * Mention Selector
 **************************************/

.mention-selector-wrapper {
    margin: 0 0 20px;
    position: relative;

    .content-editable-container {
        margin: 0;
    }

    .mention-start-state {
        background: $white;
        border: 1px solid $sf-fog;
        box-shadow: 0 2px 6px 0 fade-out($black, .9);
        padding: 8px;
        position: absolute;
        width: 100%;
        z-index: 90;
    }
}
