@import '../../../../../styles/variables';

.bcs-ActivityMessage {
    white-space: pre-wrap;

    .link {
        color: $bdl-box-blue;
        white-space: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bcs-ActivityMessage-edited {
    color: $bdl-gray-62;
}

.bcs-ActivityMessage-mention {
    overflow: initial;
    white-space: normal;
}

.bcs-ActivityMessage-translate {
    display: block;
    color: $bdl-box-blue;
}

.bcs-ActivityMessage-collapsed {
    /* webkit-line-clamp only works in combination with -webkit-box */
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.bcs-ActivityMessage-toggleMoreLess {
    color: $bdl-box-blue;

    &:hover,
    &:active {
        font-weight: bold;
    }
}

.bcs-ActivityMessageLoading {
    margin-top: 3px;
}
