@import '../../../../../styles/variables';

.bcs-ActivityMessage {
    white-space: pre-wrap;

    .link {
        color: $bdl-box-blue;
        white-space: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bcs-ActivityMessage-mention {
    overflow: initial;
    white-space: normal;
}

.bcs-ActivityMessage-translate {
    display: block;
    color: $bdl-box-blue;
}

.bcs-ActivityMessageLoading {
    margin-top: 3px;
}
