// Box/Primary Blues
.box-blue {
    background-color: $bdl-box-blue;
}

.box-blue-50 {
    background-color: $bdl-box-blue-50;
}

.box-blue-05 {
    background-color: $bdl-box-blue-05;
}

// Box/Primary Grays
.gray {
    background-color: $bdl-gray;
}

.gray-62 {
    background-color: $bdl-gray-62;
}

.gray-50 {
    background-color: $bdl-gray-50;
}

.gray-20 {
    background-color: $bdl-gray-20;
}

.gray-10 {
    background-color: $bdl-gray-10;
}

.gray-05 {
    background-color: $bdl-gray-05;
}

.gray-02 {
    background-color: $bdl-gray-02;
}

// Dark Blues
.dark-blue {
    background-color: $bdl-dark-blue;
}

// Light Blues
.light-blue {
    background-color: $bdl-light-blue;
}

// Yelloranges
.yellorange {
    background-color: $bdl-yellorange;
}

.yellorange-10 {
    background-color: $bdl-yellorange-10;
}

// Yellows
.yellow {
    background-color: $bdl-yellow;
}

.yellow-10 {
    background-color: $bdl-yellow-10;
}

// Green Lights
.green-light {
    background-color: $bdl-green-light;
}

// Grimaces
.grimace {
    background-color: $bdl-grimace;
}

// Purple Rains
.purple-rain {
    background-color: $bdl-purple-rain;
}

// Watermelon Reds
.watermelon-red {
    background-color: $bdl-watermelon-red;
}

.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
}

.swatch {
    border-radius: 3px;
    height: 40px;
    margin-bottom: 4px;
    width: 200px;
}

.swatch-container {
    margin: 10px;
}

.swatch-container label {
    margin: 3px 0 5px;
}
