.box-blue {
    background-color: $box-blue;
}

.koray-ing {
    background-color: $koray-ing;
}

.dusty-plum {
    background-color: $dusty-plum;
}

.sad-sunjin {
    background-color: $sad-sunjin;
}

.thats-mint {
    background-color: $thats-mint;
}

.shady-acres {
    background-color: $shady-acres;
}

.lemon-meringue {
    background-color: $lemon-meringue;
}

.dehydrated {
    background-color: $dehydrated;
}

.mad-max {
    background-color: $mad-max;
}

.amaranth {
    background-color: $amaranth;
}

.ayers-rock {
    background-color: $ayers-rock;
}

.great-balls-of-fire {
    background-color: $great-balls-of-fire;
}

.king-crimson {
    background-color: $king-crimson;
}

.fnine {
    background-color: $fnine;
}

.sf-fog {
    background-color: $sf-fog;
}

.storms-a-comin {
    background-color: $storms-a-comin;
}

.blue-steel {
    background-color: $blue-steel;
}

.downtown-grey {
    background-color: $downtown-grey;
}

.tendemob-grey {
    background-color: $tendemob-grey;
}

.sunset-grey {
    background-color: $sunset-grey;
}

.coral {
    background-color: $bdl-coral;
}

.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
}

.swatch {
    border-radius: 3px;
    height: 40px;
    margin-bottom: 4px;
    width: 200px;
}

.swatch-container {
    margin: 10px;
}

.swatch-container label {
    margin: 3px 0 5px;
}
