.dropdown-menu-example-button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 38px;

    .avatar {
        height: 28px;
        width: 28px;
    }

    .toggle-arrow {
        width: 7px;
    }

    /* For demo only */
    &:focus {
        outline: -webkit-focus-ring-color auto 5px !important;
    }
}

div.dropdown-menu-test {
    z-index: 29;
}
