.accessible-overlay-content {
    min-width: 200px;
}

.amsterdam-survey-overlay::before {
    left: 15px;
}

button.amsterdam-survey-button {
    path {
        fill: $white;
    }

    &.btn-plain {
        background: $box-blue;
        border-radius: 4px;
        height: 40px;
        margin-right: 100px;
        width: 40px;
    }
}
