.icons-example {
    .dark-toggle {
        margin-right: 5px;
    }

    .icon-set {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 0;

        &.dark {
            background: #333;

            .icon-label {
                color: #efefef;
            }
        }

        .icon {
            margin: 30px 20px;
            min-width: 200px;
            text-align: center;
            width: 20%;

            svg {
                max-height: 250px;
                max-width: 100%;
            }
        }

        .icon-label {
            display: block;
        }
    }
}
