.bdl-PillSelectorDropdown {
    div.bdl-PillSelector {
        width: 360px;
    }

    .dropdown-secondary-text {
        color: #737f8b;
    }
}

.bdl-Pill.bdl-PillCloud-button.is-selected {
    color: #fff;
    background-color: #0061d5;
}
