.pill-selector-wrapper {
    div.pill-selector-input-wrapper {
        width: 360px;
    }

    .dropdown-secondary-text {
        color: #737f8b;
    }
}

.pill.pill-cloud-button.is-selected {
    background-color: #0061d5;
    color: #fff;
}
