@import '../../src/styles/base';
@import './ColorExamples';
@import './ContentExplorerExamples';
@import './ContextMenuExamples';
@import './DatePickerExamples';
@import './DropdownMenuExamples';
@import './FlyoutExamples';
@import './Lato';
@import './TypographyExamples';
@import './MetadataExamples';
@import './IconExamples';

.icon-wrapper svg {
    margin-right: 20px;
}

.themed {
    .fill-color {
        fill: #333;
    }

    .stroke-color {
        stroke: #333;
    }
}
