* {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.typography {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

    .weights {
        color: $black;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .weights .preview {
        font-size: 72px;
        line-height: 72px;
    }

    .weights .regular {
        margin-right: 15px;
    }

    .weights .bold .preview {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    .font-container,
    .headings-container {
        width: 33%;
    }

    .heading {
        align-items: center;
        display: flex;
        line-height: 32px;
    }

    label {
        color: $great-balls-of-fire;
        margin-right: 10px;
    }

    .form-font-container label {
        display: inline-block;
        line-height: 30px;
        width: 80px;
    }

    .form-font-container .body,
    .form-font-container .input-text {
        font-size: 14px;
    }

    .form-font-container .input-label {
        font-size: 13px;
    }
}
