@import '../../styles/variables';

.collapsible-card {
    // no overflow hidden sticky header
    border-radius: $bdl-border-radius-size;

    .collapsible-card-header {
        align-items: center;
        border-radius: $bdl-border-radius-size;
        display: flex;
        flex-direction: row;
        position: relative; // for action items
        width: 100%;

        &.has-sticky-header {
            position: sticky;
            top: 0; // required by sticky position
            z-index: 1; // required by sticky position
        }
    }

    .collapsible-card-action-items {
        bottom: 0;
        position: absolute;
        right: 34px;
    }

    .collapsible-card-header-caret {
        position: absolute;
        right: 0;
    }

    .btn-plain.collapsible-card-title {
        align-items: center;
        display: flex;
        padding: 10px 0;
        position: relative;
        text-align: left;
        width: 100%;
    }

    .collapsible-card-content {
        padding: 10px 0;
    }

    &.is-bordered {
        border: 1px solid $eees;

        .collapsible-card-header {
            background-color: $white;
        }

        .btn-plain.collapsible-card-title,
        .collapsible-card-content {
            padding: 10px;
        }

        &.is-open .btn-plain.collapsible-card-title {
            border-bottom: 1px solid $eees;
        }

        .collapsible-card-header-caret {
            right: 10px;
        }
    }

    &:not(.is-bordered) {
        .btn-plain.collapsible-card-title {
            border-bottom: 1px solid $eees;

            &:hover,
            &:active,
            &:focus {
                border-bottom-color: $box-blue;
                text-decoration: none;
            }
        }
    }
}
