
@import '../../styles/variables';

.collapsible-card {
    .collapsible-card-header {
        align-items: center;
        background-color: $white;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 10;

        &.has-sticky-header {
            position: sticky;
        }

        .collapsible-card-action-items {
            bottom: 0;
            position: absolute;
            right: 34px;
        }

        .collapsible-card-header-caret {
            display: flex;
            position: absolute;
            right: 10px;
            top: 18px;
            z-index: 1;
        }
    }

    &.is-open {
        .collapsible-card-header {
            .collapsible-card-header-caret.icon-caret-down {
                transform: rotateZ(-90deg);
            }
        }
    }

    .btn-plain.collapsible-card-title {
        align-items: center;
        display: flex;
        padding: 10px;
        text-align: left;
        width: 100%;
    }

    &.is-open .btn-plain.collapsible-card-title .icon-caret-down {
        transform: none;
    }

    &.is-bordered {
        border: 1px solid $eees;
        border-radius: 4px;

        &.is-open .btn-plain.collapsible-card-title {
            border-bottom: 1px solid $eees;
            border-radius: 4px 4px 0 0;
        }
    }

    &:not(.is-bordered) {
        .btn-plain.collapsible-card-title {
            border-bottom: 1px solid $eees;
            padding: 5px 0 10px;

            &:hover,
            &:active,
            &:focus {
                border-bottom-color: $box-blue;
                text-decoration: none;
            }
        }

        .collapsible-card-content {
            padding: 0;
        }
    }

    .collapsible-card-content {
        padding: 10px;
    }
}
