@import '../../styles/variables';

/**************************************
 * Loading Indicators
 **************************************/

.crawler {
    font-size: 0;
    line-height: 1;
    margin: 0 auto;
    white-space: nowrap;
    width: 10px;
}

.crawler div {
    -webkit-animation: crawler .66s infinite ease-in-out;
    animation: crawler .66s infinite ease-in-out;
    background-color: $primary-color;
    border-radius: 4px;
    display: inline-block;
    height: 10px;
    width: 2px;
}

.btn-primary .crawler div {
    background-color: $white;
}

.crawler.is-small {
    transform: scale(.7);
}

.crawler.is-medium {
    transform: scale(1.5);
}

.crawler.is-large {
    transform: scale(2);
}

.is-loading .crawler div {
    transform: translateZ(0);
    will-change: transform, opacity;
}

.crawler div:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    margin-left: 2px;
}

.crawler div:last-child {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    left: 8px;
    margin-left: 2px;
}

@-webkit-keyframes crawler {
    0%,
    80%,
    100% {
        opacity: .5;
        -webkit-transform: scaleY(1.2);
    }

    40% {
        opacity: 1;
        -webkit-transform: scaleY(1.6);
    }
}

@keyframes crawler {
    0%,
    80%,
    100% {
        opacity: .5;
        transform: scaleY(1.2);
    }

    40% {
        opacity: 1;
        transform: scaleY(1.6);
    }
}
