@mixin icon-shared-link-style-override($foregroundColor, $backgroundColor) {
    .foreground-color {
        fill: $foregroundColor;
    }

    .background-color {
        fill: $backgroundColor;
    }
}
