.bdl-GridView {
    .ReactVirtualized__Table__rowColumn:first-child {
        margin: 0;
    }
}

.bdl-GridView-body {
    padding: 5px;
    outline: none;
}

.bdl-GridView-row {
    display: flex;
    justify-content: flex-start;
}

.bdl-GridView-tableRow {
    width: 100% !important;
    padding-right: 0 !important;
    border: none;
}
