@import '../../../styles/variables';
@import '../../../styles/common/_animations';
@import '../mixins';

.bdl-AdditionalTab {
    @include bdl-SidebarNavButton;

    &:hover {
        svg path {
            fill: $bdl-gray-80;
        }
    }
}

.bcs-SidebarNav--modernized {
    .bdl-AdditionalTab:not(.bdl-is-disabled):hover svg,
    .bdl-AdditionalTab:not(.bdl-is-disabled):hover img,
    .bdl-AdditionalTab:not(.bdl-is-disabled):focus svg,
    .bdl-AdditionalTab:not(.bdl-is-disabled):focus img {
        transform: scale(1.09);
        transition: transform 150ms;
    }
}

.bdl-AdditionalTab-icon {
    @include bdl-openComponentAnimation(0.5s);
    @include bdl-SidebarNavIcon;

    border-radius: 5px;
}
