@import '../../../styles/variables';
@import '../../../styles/common/animations.scss';
@import '../mixins';

.bdl-AdditionalTabLoading {
    @include bdl-SidebarNavButton;
}

$bdl-AdditionalTabs-fade-in-time: 0s;

.bdl-AdditionalTabLoading-placeholder {
    background-color: $nines;
    border-radius: 5px;
}

.bdl-AdditionalTabLoading-placeholder--loading {
    @include bdl-loadingPulse(#f4f4f4, $eees, $bdl-AdditionalTabs-fade-in-time);
}

.bdl-AdditionalTabLoading-moreIcon {
    @include bdl-fadeIn($bdl-AdditionalTabs-fade-in-time);

    .fill-color {
        fill: #eee;
    }
}
