@import '../../../styles/variables';
@import '../../../styles/common/animations';
@import '../mixins';

$bdl-AdditionalTabs-fade-in-time: .5s;

.bdl-AdditionalTabPlaceholder {
    @include bdl-SidebarNavButton;
}

.bdl-AdditionalTabPlaceholder-icon {
    @include bdl-openComponentAnimation($bdl-AdditionalTabs-fade-in-time);

    width: 24px;
    height: 24px;
    background-color: $bdl-gray-50;
    border-radius: $bdl-border-radius-size-med;
}

.bdl-AdditionalTabPlaceholder-icon--loading {
    @include bdl-loadingPulseAnimation(#f4f4f4, $bdl-gray-10, $bdl-AdditionalTabs-fade-in-time);
}

.bdl-AdditionalTabPlaceholder-moreIcon {
    @include bdl-openComponentAnimation($bdl-AdditionalTabs-fade-in-time);
}
