@import '../../variables';

.bcs-skills-is-busy {
    align-items: center;
    background-color: $lighter-white;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
