@import '../../styles/variables';

.bdl-Nudge {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 40;
    width: 220px;
    padding: 16px;
    background-color: $white;
    border: solid 1px $bdl-gray-02;
    border-radius: $bdl-border-radius-size;
    box-shadow: 0 3px 6px 0 rgba($black, .1);

    &.bdl-is-closed {
        display: none;
    }
}

.bdl-Nudge-button {
    margin: 0 8px 8px;

    button {
        width: 100%;
        margin: 0;
        font-weight: bold;
        line-height: 15px;
        white-space: normal;
    }
}

.bdl-Nudge-closeButton.btn {
    float: right;
    padding: 0;
    background-color: initial;
    border: 0;
}

.bdl-Nudge-header {
    margin: 0 8px 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.bdl-Nudge-content {
    margin: 8px 8px 24px;
    color: $bdl-gray-80;
    font-size: 13px;
    line-height: 20px;
}

.bdl-Nudge-illustration {
    margin: 24px;
}
