@import '../../../../styles/variables';

$ca-Bar-borderRadius: 10px;

.ca-Bar-value {
    flex: 1 1 auto;
    background-color: $bdl-box-blue;
    border-radius: $ca-Bar-borderRadius;

    @include bdl-transition($bdl-transitionDurationBase, height);
}

.ca-Bar {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-end;
    height: 100%;
    border-radius: $ca-Bar-borderRadius;

    &.is-horizontal {
        width: 100%;

        .ca-Bar-value {
            @include bdl-transition($bdl-transitionDurationBase, width);
        }
    }
}
