.be {
    .bcs-inline-delete-container {
        margin-top: 3px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        &.bcs-is-confirming {
            opacity: 1;
        }

        .bcs-inline-delete {
            vertical-align: top;
        }

        .bcs-inline-delete-no,
        .bcs-inline-delete-yes {
            margin: 0 3px;
        }

        .flyout-wrapper .overlay-wrapper .overlay {
            min-width: 120px;

            .overlay-title {
                white-space: nowrap;
            }
        }

        .flyout-wrapper .overlay-wrapper.left {
            .overlay {
                padding: 10px 15px;
                transform: translateY(-20%);
            }

            .arrow {
                top: 20%;
            }
        }
    }
}
