@import '../../../styles/variables';

.metadata-view {
    .drag-handle {
        cursor: col-resize;
    }

    .name-cell-container {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .header-column-label {
        overflow: hidden;
        padding-left: 10px;
        white-space: nowrap;
    }
}
