.metadata-view-header-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    .folder-empty-state-graphic {
        opacity: .5;
    }

    .message-header-text {
        font-size: 10px;
        font-weight: bold;
    }

    .message-subtitle-text {
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
        width: 240px;
    }

    .metadata-empty-state-graphic {
        opacity: .5;
    }
}

