@import '../../../styles/variables';

.metadata-view {
    .metadata-view-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .metadata-view-title {
            color: $downtown-grey;
            font-size: 10px;
        }

        .metadata-view-template-name {
            color: $black;
        }

        .metadata-view-pagination {
            height: 60px;
            width: 100px;
        }
    }

    .metadata-items-container {
        display: flex;
        flex-direction: row;
        height: 200px;
        overflow: hidden;
        padding: 15px;

        .cell-text-content-container {
            margin-left: 4px;
            text-overflow: ellipsis;
        }

        .icon-cell-container {
            flex: 0 1 32px;
            height: 32px;
            margin: 0 10px;
        }

        .item-name-cell-container {
            color: $twos;
        }

        // this is to overwrite react virtualized default styles
        .table-header span {
            max-width: none;
        }

        .table-header-row-container {
            border-bottom: 1px solid $off-white;
            color: $seventy-sixers;
            flex: auto;
            font-weight: 400;
            text-transform: none;
            width: auto;

            .table-header {
                display: flex;
                flex-direction: row;
                margin-left: 0;
            }
        }

        .updated-by-container {
            margin-left: 4px;
        }
    }

    .table-header:first-of-type {
        margin-left: 0;
    }
}

.metadata-view-query-bar {
    background: $fnine;
    border: 1px solid $ffive;
    border-radius: $bdl-border-radius-size;
    display: flex;
    padding: 5px;

    .button-container {
        display: flex;
        flex: 1;

        .button-icon {
            height: 16px;
            margin: 3px 10px 0 0;
            width: 16px;
        }
    }
}

// TODO: Inline all .scss files into one.
// I'm finding it time-consuming to decide which .scss owns each specific style I need to edit.
