@import '../../../styles/variables';

.metadata-view {
    .cell-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    .cell-container.item-name-cell-container {
        margin-left: 0;
    }
}
