@import '../../../styles/variables';

.metadata-view-skeleton-table {
    height: 100%;
    margin-top: 10px;
    overflow: hidden;

    .skeleton-table-row {
        border-bottom: 1px solid $ffive;
        height: 37px;
        position: relative;
    }

    .skeleton-content {
        background-color: $ffive;
        border-radius: 2px;
        height: 15px;
        position: absolute;
        top: 10px;
        width: 250px;
    }
}
