@import '../../../common/variables';

$bcs-AssigneeList-avatar-size: 28px;

.bcs-AssigneeList-list {
    margin: 0;
    padding: 0;
}

.bcs-AssigneeList-listItem {
    display: flex;
    align-items: center;
    margin: 6px 0 0;
    padding: 3px 0;
}

.bcs-AssigneeList-listItemAvatar {
    width: $bcs-AssigneeList-avatar-size;
    height: $bcs-AssigneeList-avatar-size;
    margin-right: 10px;
    font-size: 9px;
}

.bcs-AssigneeList-toggleBtn {
    margin-top: 10px;
    margin-left: $bcs-AssigneeList-avatar-size + 10px;
    color: $bdl-box-blue;
}
