@import '../../../common/variables';
@import '../../mixins';

$bcs-AvatarGroupAvatar-avatar-size: 32px;

.bcs-AvatarGroupAvatar {
    position: relative;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: $bcs-AvatarGroupAvatar-avatar-size;
    height: $bcs-AvatarGroupAvatar-avatar-size;
}

.bcs-AvatarGroupAvatar-avatar {
    width: 100%;
    height: 100%;
}
