@import '../../styles/variables';

$cascade-policy-background: #f1e2fd;

.metadata-cascade-notice {
    margin: 10px 0;
    padding: 14px 15px;
    color: $bdl-gray;
    background-color: $cascade-policy-background;
    border: none;
    border-radius: $bdl-border-radius-size;
}

.metadata-cascade-editor {
    color: $bdl-gray;
    background-color: $bdl-gray-05;
    border: none;
    border-radius: $bdl-border-radius-size;

    hr {
        display: block;
        height: 1px;
        padding: 0;
        border: 0;
        border-top: 1px solid $bdl-gray-10;
    }

    .metadata-operation-not-immediate {
        color: $bdl-gray-65;
        font-weight: bold;

        svg {
            position: relative;
            top: 8px;
            margin-left: -5px;
        }
    }
}

.metadata-cascade-enable {
    margin: 10px 0;
    padding: 14px 15px;

    .metadata-cascade-ai-logo {
        position: relative;
        top: 3px;
        margin-right: 3px;
    }
}

.toggle-container.metadata-cascade-toggle {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.cascade-policy-text {
    clear: left;
}

.cascade-policy-link {
    color: $bdl-box-blue;
}

.metadata-cascading-mode {
    margin: 10px 0;
    padding: 10px 15px 15px;

    .metadata-cascading-options {
        padding: 10px;

        .radio-container {
            margin: 0;
        }
    }
}

.metadata-cascade-ai-agent-selector {
    margin-top: 4px;
}
