@import '../../styles/variables';

.metadata-instance-editor-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .metadata-instance-editor-footer-delete .bdl-Button--plain {
        color: $bdl-watermelon-red;
    }

    .metadata-instance-editor-footer-save-cancel .bdl-Button:last-child {
        margin-right: 0;
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.btn-plain {
    @extend .bdl-Button--plain;
}

.btn {
    @extend .bdl-Button;
}
