@import '../../styles/variables';

.metadata-instance-editor-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .metadata-instance-editor-footer-delete .bdl-PlainButton {
        color: $bdl-watermelon-red;
    }

    .metadata-instance-editor-footer-save-cancel .bdl-Button:last-child {
        margin-right: 0;
    }
}
