@import '../../styles/variables';

.metadata-instance-confirm-cover {
    align-items: center;
    background-color: inherit;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.metadata-instance-confim-container {
    max-width: 350px;
    text-align: center;
}
