.metadata-instance-editor-instance {
    .attributes-hidden-message {
        font-style: italic;
        text-align: center;
    }

    .no-attributes-message {
        font-style: italic;
        text-align: center;
    }

    .bdl-SelectField {
        .bdl-SelectFieldDropdown {
            max-width: 100%;
        }
    }
}
