@import '../../../common/variables';

@mixin avatar-badge-icon {
    position: absolute;
    right: -2px;
    bottom: -2px;
    background: $white;
    border: 1px solid $white;
    border-radius: 50%;
}
