@import '../../../common/variables';

@mixin avatar-badge-icon {
    background: $white;
    border: 1px solid $white;
    border-radius: 50%;
    bottom: -2px;
    position: absolute;
    right: -2px;
}
