@import '../../../common/variables';
@import './mixins';

$avatar-size: 28px;

.bcs-AssigneeList-list {
    margin: 0;
    padding: 0;
}

.bcs-AssigneeList-listItem {
    align-items: center;
    display: flex;
    margin: 6px 0 0 0;
    padding: 3px 0;

    .bcs-AssigneeList-detailsStatus {
        color: $bdl-neutral-02;
        font-size: 12px;
    }
}

.bcs-AssigneeList-listItemAvatar {
    margin-right: 10px;

    .bcs-AvatarGroup-avatar {
        height: $avatar-size;
        width: $avatar-size;
    }
}

.bcs-AssigneeList-listItemDetails {
    line-height: 16px;
}

.bcs-AssigneeList-listItemStatus {
    color: $bdl-neutral-02;
}

.lnk.bcs-AssigneeList-expandBtn {
    margin-left: $avatar-size + 10px;
    margin-top: 5px;
}

.bcs-AssigneeList-statusIcon {
    @include avatar-badge-icon;
}

.bcs-AvatarGroup-avatarContainer {
    display: inline-block;
    height: $avatar-size;
    position: relative;
    width: $avatar-size;
}
