@import '../../../common/variables';

.bcs-AssigneeDetails {
    overflow: hidden;
    line-height: 16px;
}

.bcs-AssigneeDetails-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bcs-AssigneeDetails-status {
    color: $bdl-gray-65;
}
