@import '../../../common/variables';
@import './vars';

$assignment-avatar-spacing: 4px;

.bcs-task-assignment-container {
    .bcs-task-assignments {
        display: flex;
        margin: 10px 0;
    }

    .bcs-task-assignment-avatar {
        height: 32px;
        width: 32px;
    }

    .bcs-task-assignment-count {
        align-items: center;
        background: $bdl-neutral-02;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        justify-content: center;
    }
}

.bcs-task-assignment-list-flyout {
    max-width: 100%;
    width: 280px;

    // reset base styles set by ui-elements
    ul {
        margin: 0;
        padding: 0;
    }

    .bcs-task-assignment-list {
        max-height: 215px;
        overflow: hidden auto;
        overflow-y: overlay; // nicer scroll bar for Blink engines only
    }

    .bcs-task-assignment-list-title {
        font-size: 15px;
        margin: 0 0 12px 0;
    }

    .bcs-task-assignment-list-item {
        align-items: center;
        display: flex;
        margin: 6px 0 0 0;
        padding: 3px 0;

        .bcs-task-assignment-details-status {
            color: $bdl-neutral-02;
        }
    }

    .bcs-task-assignment-list-item-avatar {
        margin-right: 10px;
    }

    .bcs-task-assignment-list-item-details {
        line-height: 16px;
    }

    .bcs-task-assignment-list-item-status {
        color: $bdl-neutral-02;
    }

    .bcs-task-assignment-tooltip {
        text-align: center;

        .bcs-task-assignment-details-name {
            font-weight: bold;
        }
    }
}

// rules used in both .bcs-task-assignment-container and .bcs-task-assignment-list-flyout
.bcs-task-assignment-status-icon {
    @include avatar-badge-icon;
}

.bcs-task-assignment-avatar-container {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px;

    & + .bcs-task-assignment-avatar-container,
    & + .bcs-task-assignment-count-container {
        margin-left: $assignment-avatar-spacing;
    }
}
