@import '../../../common/variables';
@import './mixins';

$avatar-spacing: 4px;

.bcs-avatar-group {
    display: flex;
    margin: 10px 0;

    .bcs-avatar-group-avatar {
        height: 32px;
        width: 32px;
    }

    .bcs-avatar-group-overflow-count {
        align-items: center;
        background: $bdl-neutral-02;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        justify-content: center;
    }

    .bcs-avatar-group-avatar-container {
        margin-left: $avatar-spacing;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .bcs-avatar-group-overflow-count-container {
        margin-left: $avatar-spacing;

        &:hover,
        &:active {
            margin-left: $avatar-spacing;
        }
    }
}

.bcs-avatar-group-list-flyout {
    max-width: 100%;
    width: 280px;

    // reset base styles set by ui-elements
    ul {
        margin: 0;
        padding: 0;
    }

    .bcs-avatar-group-list {
        max-height: 215px;
        overflow: hidden auto;
        overflow-y: overlay; // nicer scroll bar for Blink engines only
    }

    .bcs-avatar-group-list-title {
        font-size: 15px;
        margin: 0 0 12px 0;
    }

    .bcs-avatar-group-list-item {
        align-items: center;
        display: flex;
        margin: 6px 0 0 0;
        padding: 3px 0;

        .bcs-avatar-group-details-status {
            color: $bdl-neutral-02;
        }
    }

    .bcs-avatar-group-list-item-avatar {
        margin-right: 10px;
    }

    .bcs-avatar-group-list-item-details {
        line-height: 16px;
    }

    .bcs-avatar-group-list-item-status {
        color: $bdl-neutral-02;
    }

    .bcs-avatar-group-tooltip {
        text-align: center;

        .bcs-avatar-group-details-name {
            font-weight: bold;
        }
    }
}

// rules used in both .bcs-avatar-group and .bcs-avatar-group-list-flyout
.bcs-avatar-group-status-icon {
    @include avatar-badge-icon;
}

.bcs-avatar-group-avatar-container {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px;
}
