@import '../../../common/variables';
@import './mixins';

.bcs-AvatarGroup {
    display: flex;
    margin: 10px 0;

    .bcs-AvatarGroup-avatar {
        height: 32px;
        width: 32px;
    }

    .bcs-AvatarGroup-overflowCount {
        align-items: center;
        background: $bdl-neutral-02;
        border-radius: 100%;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        justify-content: center;
    }

    $avatar-spacing: 4px;

    .bcs-AvatarGroup-avatarContainer + .bcs-AvatarGroup-avatarContainer {
        margin-left: $avatar-spacing;
    }

    .bcs-AvatarGroup-overflowCountContainer {
        margin-left: $avatar-spacing;

        &:hover,
        &:active {
            margin-left: $avatar-spacing;
        }
    }
}

.bcs-AvatarGroup-listFlyout {
    max-width: 100%;
    width: 280px;

    .bcs-AvatarGroup-list {
        margin: 0;
        max-height: 215px;
        overflow: hidden auto;
        overflow-y: overlay; // nicer scroll bar for Blink engines only
        padding: 0;
    }

    .bcs-AvatarGroup-listTitle {
        font-size: 15px;
        margin: 0 0 12px 0;
    }

    .bcs-AvatarGroup-listItem {
        align-items: center;
        display: flex;
        margin: 6px 0 0 0;
        padding: 3px 0;

        .bcs-AvatarGroup-detailsStatus {
            color: $bdl-neutral-02;
        }
    }

    .bcs-AvatarGroup-listItemAvatar {
        margin-right: 10px;
    }

    .bcs-AvatarGroup-listItemDetails {
        line-height: 16px;
    }

    .bcs-AvatarGroup-listItemStatus {
        color: $bdl-neutral-02;
    }

    .bcs-AvatarGroup-tooltip {
        text-align: center;

        .bcs-AvatarGroup-detailsName {
            font-weight: bold;
        }
    }
}

// rules used in both .bcs-AvatarGroup and .bcs-AvatarGroup-listFlyout
.bcs-AvatarGroup-statusIcon {
    @include avatar-badge-icon;
}

.bcs-AvatarGroup-avatarContainer {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px;
}
