@import '../../../common/variables';
@import './vars';

$success-color: $shady-acres;
$error-color: $red;
$card-left-offset: 40px;

.bcs-task {
    opacity: 1;
    transition: opacity .33s;

    &.bcs-is-pending {
        opacity: .4;
    }

    .bcs-task-content {
        margin-left: $card-left-offset;
    }

    .bcs-task-due-date {
        color: $bdl-neutral-02;
        font-weight: bold;

        span:first-child {
            padding-right: 3px;
        }

        &.bcs-task-overdue {
            color: $error-color;
        }
    }

    .bcs-task-avatar {
        height: 100%;
        position: relative;
    }

    .bcs-task-avatar-badge {
        @include avatar-badge-icon;

        right: 4px;
    }

    .bcs-task-status-container {
        margin-top: 8px;
    }

    .bcs-task-status {
        color: $bdl-neutral-02;
        font-weight: bold;
    }

    .bcs-task-status-message {
        &.completed,
        &.approved {
            color: $bdl-green-light;
        }

        &.rejected {
            color: $bdl-watermelon-red;
        }
    }

    .bcs-task-pending-assignment {
        margin-top: 5px;
    }

    .bcs-comment {
        .bcs-comment-user-name {
            margin-right: 3px;

            &.link {
                white-space: normal;
            }
        }
    }

    button:first-of-type.bcs-task-action-button {
        margin-left: 0;
    }
}
