@import '../../../common/variables';
@import './mixins';

$bcs-task-grid: 4px;
$bcs-task-left-offset: 10 * $bcs-task-grid;

// Comment overrides
.bcs-Task {
    .bcs-comment {
        .bcs-comment-user-name {
            margin-right: 0;

            &.link {
                white-space: normal;
            }
        }
    }
}

.bcs-Task-body {
    opacity: 1;
    transition: opacity .33s;

    &.bcs-is-pending {
        opacity: .4;
    }
}

.bcs-Task-content {
    margin-left: $bcs-task-left-offset;
}

.bcs-Task-avatar {
    height: 100%;
    position: relative;
}

.bcs-Task-avatarBadge {
    @include avatar-badge-icon;

    border-width: 2px;
    right: $bcs-task-grid;
}

.bcs-Task-statusContainer {
    margin-top: 2 * $bcs-task-grid;
}

.bcs-Task-assigneeListContainer {
    margin-top: $bcs-task-grid;
}

.bcs-Task-actionsContainer {
    margin-top: 5 * $bcs-task-grid;
}
