@import '../../../common/variables';
@import '../../mixins';

$bcs-task-left-offset: 10 * $bdl-grid-unit + 2px;

.bcs-Task-media {
    opacity: 1;
    transition: opacity 0.33s;

    &.bcs-is-pending {
        opacity: 0.4;
    }

    .bdl-Media-body {
        overflow: hidden;
    }
}

.bcs-Task-avatar {
    position: relative;
    height: 100%;
}

.bcs-Task-headline {
    // target only Edge because this breaks other browsers
    // but fixes Edge
    @supports (-ms-ime-align: auto) {
        word-break: break-all;
    }
}

.bcs-Task-status {
    margin-top: 3 * $bdl-grid-unit;
    margin-bottom: 2 * $bdl-grid-unit;

    & > * {
        margin-right: $bdl-grid-unit;
    }
}

.bcs-Task-dueDate {
    margin-bottom: 3 * $bdl-grid-unit;
}

.bcs-Task-assigneeListContainer {
    margin-top: $bdl-grid-unit;
}

.bcs-Task-actionsContainer {
    margin-top: 5 * $bdl-grid-unit;
}

// tethered styles for delete confirmation modal
.bcs-Task-deleteConfirmationModal {
    z-index: $overlay-z-index;
}

.bcs-Task-menuTarget {
    display: inline-block;
}
