@import '../../../common/variables';

$success-color: $shady-acres;
$error-color: $red;
$gray: $nines;
$assignment-avatar-spacing: 4px;
$card-left-offset: 40px;

.be .bcs-task {
    opacity: 1;
    transition: opacity .33s;

    &.bcs-is-pending {
        opacity: .4;
    }

    .bcs-task-content {
        margin-left: $card-left-offset;
    }

    .bcs-task-assignment-container {
        margin-left: 40px;
    }

    .bcs-task-due-date {
        color: $bdl-neutral-02;
        font-weight: bold;
        margin-top: 8px;

        span:first-child {
            padding-right: 3px;
        }

        &.bcs-task-overdue {
            color: $error-color;
        }
    }

    .bcs-task-assignments {
        display: flex;
        margin: 10px 0;
    }

    .bcs-task-assignment-avatar {
        height: 32px;
        width: 32px;
    }

    .bcs-task-assignment-count {
        align-items: center;
        background: $gray;
        border-radius: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    .bcs-task-assignment-status {
        display: inline-block;
        height: 32px;
        position: relative;
        width: 32px;

        & + .bcs-task-assignment-status,
        & + .bcs-task-assignment-count {
            margin-left: $assignment-avatar-spacing;
        }
    }

    .bcs-task-assignment-status-icon {
        &.completed,
        &.approved,
        &.rejected {
            background: $white;
        }
    }

    .bcs-task-status {
        align-items: center;
        display: flex;
        margin-top: 18px;
    }

    .bcs-task-status-icon {
        border: 1px solid $white;
        border-radius: 100%;
        bottom: 0;
        height: 14px;
        margin-right: 5px;
        width: 14px;

        &.completed,
        &.approved,
        &.rejected {
            background: $white;
        }

        &.pending,
        &.inProgress,
        &.notStarted {
            align-items: center;
            color: white;
            display: flex;
            font-size: 80%;
            font-weight: bold;
            justify-content: center;

            .fill-color {
                fill: $gray;
            }
        }
    }

    .bcs-task-pending-assignment {
        margin-top: 5px;
    }

    .bcs-comment-user-name {
        margin-right: 0;
    }

    button:first-of-type.bcs-task-action-button {
        margin-left: 0;
    }
}
