@import '../../styles/variables';

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.box-ui-security-cloud-game {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: $bdl-dark-blue;

    .box-ui-security-cloud-game-message {
        flex: none;
        padding: 10px;
        color: $white;
        font-size: 16px;
        text-align: center;
        background-color: rgba(0, 0, 0, .1);
    }

    .box-ui-security-cloud-game-board {
        position: relative;
        display: flex;
        flex: 1;
    }
}

.drag-cloud {
    position: absolute;
    cursor: move;
    fill: $white;
}

.drop-cloud {
    position: absolute;
    display: inline-block;
    fill: darken($bdl-dark-blue, 20%);

    .logo {
        position: absolute;
        bottom: -5px;
        width: 100%;
        text-align: center;

        svg {
            width: 50%;

            path {
                fill: $white;
            }
        }
    }

    &.is-over {
        .icon-cloud {
            animation: pulse 1s ease-in-out infinite;
        }
    }
}
