@import '../../styles/variables';

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.bdl-SecurityCloudGame {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: $bdl-box-blue;

    .bdl-SecurityCloudGame-message {
        flex: none;
        height: 40px;
        padding: 10px;
        overflow: hidden;
        color: $white;
        font-size: 16px;
        white-space: nowrap;
        text-align: center;
        text-overflow: ellipsis;
        background-color: rgb(0 0 0 / 10%);
    }

    .bdl-SecurityCloudGame-board {
        position: relative;
        display: flex;
        flex: 1;
    }
}

.bdl-SecurityCloudGame-liveText {
    position: absolute;
    left: -9999px;
}

.bdl-SecurityCloudGame-tooltip.bdl-Tooltip {
    max-width: 100%;
}

.bdl-DragCloud {
    position: absolute;
    cursor: move;
    fill: $white;

    &.is-moving {
        fill: $bdl-gray-20;
    }
}

.bdl-DropCloud {
    position: absolute;
    display: inline-block;
    fill: darken($bdl-dark-blue, 20%);

    .logo {
        position: absolute;
        bottom: -5px;
        width: 100%;
        text-align: center;

        svg {
            width: 50%;

            path {
                fill: $white;
            }
        }
    }

    &.is-over {
        .icon-cloud {
            animation: pulse 1s ease-in-out infinite;
        }
    }
}
