@import '../../styles/variables';

/**************************************
 * Category Selector
 **************************************/

.bdl-CategorySelector {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 32px;

    .bdl-CategorySelector-links {
        height: 32px;
        overflow: hidden;
    }

    .bdl-CategorySelector-pill {
        margin-right: 8px;
    }

    .bdl-CategorySelector-pill,
    .bdl-CategorySelector-more-label {
        display: inline-block;
        height: 32px;
        padding: 8px 16px;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        white-space: nowrap;
        text-align: center;
        border-radius: 16px;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus {
            padding: 8px 16px;
            font-weight: bold;
            background-color: $bdl-gray-05;
        }

        &.is-selected {
            color: #fff;
            background-color: $bdl-box-blue;

            .fill-color {
                fill: #fff;
            }
        }
    }

    .bdl-CategorySelector-more {
        &.hide {
            display: none;
        }
    }
}
