@import '../variables';

.be-header {
    align-items: center;
    background: $almost-white;
    border-bottom: 1px solid $off-white;
    display: flex;
    flex: 0 0 70px;
    padding: 0 25px 0 0;

    .be-is-small & {
        padding-right: 20px;
    }

    .be-search {
        flex: 1;
        padding-left: 20px;
    }
}
