@import '../variables';

.be-logo {
    padding-left: 20px;

    .be-logo-custom {
        max-height: 32px;
        max-width: 80px;

        .be-is-small & {
            max-width: 75px;
        }
    }

    .be-logo-placeholder {
        align-items: center;
        background-color: $off-white;
        border: 1px dashed;
        display: flex;
        height: 32px;
        justify-content: center;
        width: 75px;

        .be-is-small & {
            width: 60px;
        }

        span {
            font-size: 10px;
            text-transform: uppercase;
        }
    }

    svg {
        display: block;
    }
}
