@import '~box-react-ui/lib/styles/variables';

$blue: #0061d5 !default;
$light-blue: #e4f4ff !default;
$grey-blue: #bed4de !default;
$dark-cerulean: #1a5976 !default;
$white: #fff !default;
$black: #000 !default;
$twos: #222 !default;
$threes: #333 !default;
$off-white: #eaeaea !default;
$sevens: #777 !default;
$almost-white: #fcfcfc !default;
$red: #c82341 !default;
$see-see: #ccc !default;
$bfive: #b5b5b5 !default;
$efive: #e5e5e5 !default;
$ffive: #f5f5f5 !default;
$haze: #fafafa !default;
$grey: #bdc3c7 !default;

$transparent-black: rgba($threes, .04) !default;
$lightest-black: rgba($threes, .1) !default;
$lighter-black: rgba($threes, .2) !default;
$darker-black: rgba($threes, .4) !default;
$lighter-white: rgba($white, .9) !default;
$lighter-grey-blue: rgba($grey-blue, .4) !default;
$lighter-light-blue: rgba($light-blue, .4) !default;

$font: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$sidebarContentWidth: 340px;

@mixin rendering {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin reset {
    @include rendering;

    /* stylelint-disable declaration-no-important */
    box-sizing: border-box !important;
    /* stylelint-enable declaration-no-important */
    font-family: $font;
    font-size: 13px;

    * {
        @include rendering;

        /* stylelint-disable declaration-no-important */
        box-sizing: border-box !important;
        /* stylelint-enable declaration-no-important */
        font-family: inherit;

        &::after,
        &::before {
            box-sizing: inherit;
            color: inherit;
            font-family: inherit;
            text-rendering: inherit;
        }
    }
}

@mixin placeholder {
    font-family: $font;
    font-weight: 200;
    opacity: .6;
}
