@import '../../styles/variables';

.share-menu {
    .menu-item {
        display: flex;
        align-items: center;

        div {
            line-height: 1.3;
        }

        svg {
            margin-right: 10px;
        }

        .share-option-description {
            color: $bdl-gray-50;
        }
    }
}
