@import '../variables';

.buik-btn.buik-btn-plain.buik-timeline-time {
    border-radius: 6px;
    cursor: pointer;
    height: 6px;
    opacity: .6;
    position: absolute;

    &:focus,
    &:active,
    &:hover {
        opacity: 1;
    }
}
