@import '../variables';

.buik-btn.buik-btn-plain.buik-timeline-time {
    cursor: pointer;
    height: 6px;
    position: absolute;

    &:focus,
    &:active,
    &:hover {
        /* stylelint-disable declaration-no-important */
        background-color: $blue !important;
        /* stylelint-enable declaration-no-important */
    }
}
