@use '@box/blueprint-web-assets/tokens/tokens';
@import '../variables';

.be-item-label {
    display: block;
    width: 100%;
    overflow: hidden;
    color: tokens.$gray-black;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}
