@import '../variables';

.be-item-name {
    overflow: hidden;
    font-size: $bdl-fontSize--legacy;
    line-height: 16px;
    white-space: normal;
    text-align: left;
    text-overflow: ellipsis;
}
