@import '../../styles/variables';

.bdl-CustomMetadataField {
    display: flex;
    align-items: center;

    .text-input-container {
        flex: 1;
        overflow-x: hidden;

        .bdl-Label,
        .label {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:last-child .bdl-ReadOnlyMetadataField {
        margin-bottom: 0;
    }
}

.bdl-CustomMetadataField-customActions {
    margin: 5px 0 0 10px;

    .btn {
        width: 32px;
        height: 32px;
        margin: 0 0 0 -1px;
        padding: 10px;

        span {
            display: flex;
        }
    }
}
