@import '../../styles/variables';

.metadata-instance-field-multi-select {
    margin: 0 0 20px;

    .label {
        word-wrap: break-word;
    }

    label .select-container {
        display: block;

        .select-button {
            z-index: inherit;
        }
    }

    &-desc {
        display: inline-block;
        margin-bottom: 5px;
        color: $bdl-gray-62;
        word-wrap: break-word;
    }
}
