@import '../../styles/variables';

/**************************************
 * Checkbox
 **************************************/

.checkbox-label {
    display: inline-flex;
    position: relative;
    user-select: none;

    > input[type='checkbox'] {
        flex: none;
        height: 14px;
        margin: 3px 0 0;
        opacity: 0;
        width: 14px;

        + span {
            &::before {
                background: $white;
                border: 1px solid $downtown-grey;
                border-radius: 2px;
                content: '';
                height: 14px;
                left: 0;
                position: absolute;
                top: 3px;
                width: 14px;
            }

            &::after {
                backface-visibility: hidden;
                border-bottom: 2px solid $primary-color;
                border-right: 2px solid $primary-color;
                content: '';
                height: 7px;
                left: 5px;
                position: absolute;
                top: 6px;
                transform: rotate(45deg) scale(0) translate3d(0, 0, 0);
                transition: transform .1s ease;
                width: 4px;
            }
        }

        &:checked + span::after {
            transform: rotate(45deg) scale(1) translate3d(0, 0, 0);
        }

        &:focus + span::before {
            border-color: $primary-color;
        }

        &:disabled {
            + span::before {
                background-color: $karl-fog;
                border: 1px solid $dtwo;
            }

            + span::after {
                border-color: $bfive;
            }
        }

        + span + span {
            margin-left: 10px;
        }
    }
}

.checkbox-tooltip-wrapper {
    align-items: center;
    display: flex;

    > .info-tooltip {
        flex: none;
        height: 16px;
        margin-left: 5px;
        position: relative;
        width: 16px;

        > svg path {
            fill: $primary-color;
        }
    }
}

.checkbox-container {
    margin: 0 0 20px;

    > .label {
        margin: 8px 0;
    }
}

.checkbox-subsection,
.checkbox-description {
    margin-left: 24px;
    margin-top: 2px;
}

.checkbox-description {
    color: $downtown-grey;
}
