$banner-height: 40px;

/** When a body-button-banner template is showing in banner frame, the banner-body-button-banner class
 * will be added to InAppMessengerProvider component, the selector will use this to generate different
 * CSS props. Here the class added to InAppMessengerProvider is <frameName>-<templateName>, ex:
 * For body-button-banner, frameName is banner, templateName is body-button-banner.
 */
$in-app-messenger-banner-selector: '.in-app-messenger-provider.banner-body-button-banner';

@mixin in-app-messenger-banner-mixin($top) {
    top: $top + $banner-height;
}

@mixin in-app-messenger-banner-padding-top-mixin($padding-top) {
    padding-top: $padding-top + $banner-height;
}
