// Constraints for the shadow shape
$scroll-shadow-height: 30px;

.scroll-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    position: relative;

    .scroll-wrap-container {
        flex-grow: 1;
        overflow-y: auto;

        &::before,
        &::after {
            border-radius: inherit;
            content: '';
            display: block;
            height: $scroll-shadow-height;
            opacity: 0;
            position: absolute;
            transition: opacity .1s ease-in-out;
            width: 100%;
        }

        // default
        &::before {
            box-shadow: 0 ($scroll-shadow-height / 2) $scroll-shadow-height (-$scroll-shadow-height / 2.5) rgba(0, 0, 0, .25);
            top: -$scroll-shadow-height;
            z-index: 20;
        }

        &::after {
            bottom: -$scroll-shadow-height;
            box-shadow: 0 (-$scroll-shadow-height / 2) $scroll-shadow-height (-$scroll-shadow-height / 2.5) rgba(0, 0, 0, .25);
            z-index: 30;
        }

        &.style--cover {
            &::before,
            &::after {
                margin: 0 -5%;
                width: 110%;
            }
        }

        &.style--contain {
            &::before {
                top: -($scroll-shadow-height + 10px);
            }

            &::after {
                bottom: -($scroll-shadow-height + 10px);
            }
        }
    }

    &.is-showing-top-shadow {
        .scroll-wrap-container::before {
            opacity: 1;
        }
    }

    &.is-showing-bottom-shadow {
        .scroll-wrap-container::after {
            opacity: 1;
        }
    }
}
