@import '../../styles/variables';

/**************************************
 * Section
 **************************************/

.section {
    display: flex;
    margin: 40px 0;

    .section-title {
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 13px;
    }

    .section-description {
        width: 270px;
        padding-right: 35px;
        color: $bdl-gray-80;
    }

    .section-content {
        flex: 1;
    }
}
