@import './styles';

.bdl-PresenceCollaboratorsList {
    padding: 5px;

    .dropshadow-list,
    .dropshadow-list-with-buttons {
        overflow: hidden auto;
    }

    .dropshadow-list::before,
    .dropshadow-list::after,
    .dropshadow-list-with-buttons::before,
    .dropshadow-list-with-buttons::after {
        position: absolute;
        left: 7.5%;
        display: inline-block;
        width: 85%;
        height: 10px;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        content: '';
    }

    .dropshadow-list.is-scrollable-above::before,
    .dropshadow-list.is-scrollable-below::after,
    .dropshadow-list-with-buttons.is-scrollable-above::before,
    .dropshadow-list-with-buttons.is-scrollable-below::after {
        opacity: 1;
    }

    .dropshadow-list::before,
    .dropshadow-list-with-buttons::before {
        top: 41px;
        z-index: 999;
        box-shadow: 0 4px 6px -4px rgb(0 0 0 / 35%);
    }

    .dropshadow-list::after {
        bottom: 11px;
        z-index: 999;
        box-shadow: 0 -4px 6px -4px rgb(0 0 0 / 35%);
    }

    .dropshadow-list-with-buttons::after {
        bottom: 72px;
        z-index: 999;
        box-shadow: 0 -4px 6px -4px rgb(0 0 0 / 35%);
    }

    /* GROWTH-382 */
    .presence-autofly .overlay {
        padding-bottom: 28px;
    }

    .presence-autofly .dropshadow-list::after {
        bottom: 28px;
    }

    .presence-autofly .presence-overlay-request-stats {
        display: block;
        margin-top: 8px;
        margin-bottom: -18px;
        text-align: right;
    }

    .presence-autofly-first-load .btn-primary {
        margin-top: 16px;
        margin-left: 0;
    }

    .presence-autofly-first-load .btn-primary:not(.is-disabled):focus {
        box-shadow: none;
    }

    /* end GROWTH-382 */
}

.bdl-PresenceCollaborator {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bdl-PresenceCollaboratorsList-list {
    max-height: 200px;
    overflow: hidden auto;
}

.bdl-PresenceCollaboratorsList-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $bdl-gray;
    font-size: 15px;
}

.bdl-PresenceCollaboratorsList-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
