@import '~box-ui-elements/es/styles/variables';

.MessageTextContent-title {
    margin-bottom: 2 * $bdl-grid-unit;
    font-weight: bold;
    font-size: 18px;
    line-height: 6 * $bdl-grid-unit;
}

.MessageTextContent-body {
    margin-bottom: 2 * $bdl-grid-unit;
    color: #4e4e4e;
    font-size: 14px;
    line-height: 5 * $bdl-grid-unit;
}
