.MessagePreviewContent {
    height: 288px;

    &.is-loading {
        display: none;
    }

    .bp-image img {
        top: 0 !important; /* stylelint-disable-line declaration-no-important */
        left: 0 !important; /* stylelint-disable-line declaration-no-important */
        width: 100% !important; /* stylelint-disable-line declaration-no-important */
    }

    img.zoomable {
        cursor: default;
    }
}
