@import '../../../variables';

.be-faces {
    position: relative; // For section title icons

    .inline-alert {
        margin: 0 0 20px;
    }

    .btn-plain.be-face-edit {
        border-radius: 3px;
        height: 24px;
        padding-top: 1px;
        position: absolute;
        right: 15px;
        top: -46px;
        width: 24px;

        &:hover svg path {
            fill: $twos;
        }

        &.be-faces-is-editing {
            background-color: $off-white;

            .icon-edit > .fill-color {
                fill: $fivef;
            }
        }
    }

    .be-faces-buttons {
        margin-right: -5px;
        padding-top: 7px;
        text-align: right;
    }
}
