@import '../../../variables';

.be-faces {
    position: relative; // For section title icons

    .btn-plain.be-face-edit {
        border-radius: 3px;
        height: 24px;
        padding-top: 1px;
        position: absolute;
        right: 15px;
        top: -46px;
        width: 24px;

        &:hover svg path {
            fill: $twos;
        }
    }

    .be-faces-buttons {
        margin: 7px -5px 0 0;
        text-align: right;
    }

    &.be-faces-is-editing {
        .btn-plain.be-face-edit {
            background-color: $off-white;
        }
    }
}
