@import '../../styles/variables';

// the outermost element
.bdl-Media {
    align-items: flex-start;
    display: flex;
}

// the media content, ie, an avatar
.bdl-Media-figure {
    align-self: flex-start;
    flex: 0 0 auto;
    justify-self: flex-start;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

// the main content, e.g. title and message
.bdl-Media-body {
    flex: 1 1 auto;
}

// the "..." menu button, meant to be used inside Media-body
// float is used to reflow content instead of pushing it to the left
.bdl-Media-menu {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}
