@import '../../styles/variables';

// the outermost element
.bdl-Media {
    align-items: flex-start;
    display: flex;
}

// the media content, ie, an avatar
.bdl-Media-figure {
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
}

// the main content, e.g. title and message
.bdl-Media-body {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
    // handle wrapping long words in text content without breaking
    // float position of menu
    overflow-wrap: break-word;
    word-break: break-word; // CJK scripts
    word-wrap: break-word; // old IE
}

// the "..." menu button, meant to be used inside Media-body
.bdl-Media-menu {
    // float is used to reflow content instead of pushing it to the left
    float: right;

    // overrides for .btn-plain's margin resets on focus states
    &,
    &:active,
    &:hover,
    &:focus {
        margin-bottom: 5px;
        margin-left: 10px;
    }
}
