@import '../../styles/variables';

.select-field {
    .overlay {
        min-width: 100%;
    }

    li[role='separator'] {
        margin: 10px 0;
        border-bottom: 1px solid $bdl-gray-20;
    }
}

.select-option {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.select-option-check-icon {
    position: relative;
    left: -5px;
    flex: none;
    width: 16px;
    height: 16px;
}
