.be {
    &.bce,
    &.bcp {
        height: 600px;
    }

    &.bcpr {
        .bcs {
            box-shadow: initial;
        }
    }

    &.bcu {
        height: 400px;
    }

    &.bcow {
        width: 100px;
    }

    &.bce,
    &.bcp,
    &.bcpr,
    &.bcs,
    &.bcu {
        box-shadow: 0 0 20px 0 rgba(85, 85, 85, .42);
    }
}

[data-preview='ContentSidebar'] {
    > div {
        display: inline-block;
    }

    .bcs {
        height: 1000px;
    }
}

[data-preview='ContentPreview'] {
    .bcpr {
        height: 600px;
    }
}
