@import '../../../../../styles/variables';

$width: 660px;
$supported-width: 1.1 * $width;

.bdl-PreviewTitleBodyTwoButtonsModalTemplate {
    @media only screen and (max-width: $supported-width - 1px) {
        display: none;
    }

    letter-spacing: 0.3px;

    .bdl-PreviewTitleBodyTwoButtonsModalTemplate-previewContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        .MessagePreviewContent {
            width: 400px;
            max-height: 200px;

            .MessagePreviewGhost-ghost {
                width: 400px;
                max-height: 200px;
            }
        }

        .bp-container {
            max-width: 400px;
            max-height: 200px;

            .bp {
                background-color: $white;
            }
        }
    }

    .modal-actions {
        justify-content: center;
        margin-top: 0;

        .btn {
            height: 40px;
            padding: 0 30px;
        }
    }

    .modal-content {
        margin-top: 0;

        .bdl-PreviewTitleBodyTwoButtonsModalTemplate-body a {
            font-weight: bold;
        }

        .footnote {
            font-size: 8px;
        }
    }

    .modal-dialog {
        width: $width;
        padding: 40px 120px;
    }

    .modal-header {
        margin-right: 0;
    }

    .bdl-PreviewTitleBodyTwoButtonsModalTemplate-title {
        width: 100%;
        margin: 0 0 16px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        word-wrap: break-word;
    }
}
