@import '../../styles/variables';

.access-stats-item {
    list-style: none;

    .access-stats-item-content {
        &,
        &.bdl-Button--plain,
        &.bdl-Button--plain:focus,
        &.bdl-Button--plain:hover {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0 0 5px;
            padding: 9px;
            color: $bdl-dark-blue;
            line-height: 10px;
            text-align: left;
            background: $selected-blue-background;
            border-radius: 2px;
        }

        &.bdl-Button--plain:focus,
        &.bdl-Button--plain:hover {
            .access-stats-label {
                text-decoration: underline;
            }
        }
    }

    .access-stats-label {
        flex-grow: 1;
    }

    svg {
        margin-right: 8px;
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.btn-plain {
    @extend .bdl-Button--plain;
}
