@import '../../styles/variables';

.access-stats-item {
    list-style: none;

    .access-stats-item-content {
        background: $selected-blue-background;
        border-radius: 2px;
        color: $koray-ing;
        display: flex;
        line-height: 10px;
        margin: 0 0 5px;
        padding: 9px;
        text-align: left;
        width: 100%;
    }

    svg {
        margin-right: 8px;
    }

    .access-stats-label {
        flex-grow: 1;
    }

    .btn-plain {
        .access-stats-label:hover {
            text-decoration: underline;
        }
    }
}
