.bdl-AllowDownloadSection {
    &.bdl-is-disabled {
        opacity: .5;
    }

    .direct-link-input {
        .text-input-container {
            input {
                width: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
