@import '~box-ui-elements/es/styles/variables';
@import '~styles/variables';

$columns1prct: 100%;
$columns3prct: calc(33.3333% - 6.6666px); /* 100%/3 - 20px/3 */
$columns5prct: calc(20% - 8px); /* 100%/5 - 40px/5 */

.bdl-GridView {
    // margin: 20px 0 0;
    padding: 0 5px;

    .bdl-GridView-row {
        display: flex;
        justify-content: space-between;
    }

    &.bdl-GridView--columns-1 .bdl-GridViewSlot {
        flex-basis: $columns1prct;
        max-width: $columns1prct;
    }

    &.bdl-GridView--columns-3 .bdl-GridViewSlot {
        flex-basis: $columns3prct;
        max-width: $columns3prct;
    }

    &.bdl-GridView--columns-5 .bdl-GridViewSlot {
        flex-basis: $columns5prct;
        max-width: $columns5prct;
    }

    .ReactVirtualized__Table__rowColumn:first-of-type {
        margin: 0;
    }

    .table-row {
        border: none;
    }
}
