.new-folder-modal {
    .folder-name-input {
        .bdl-Label,
        .label {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        input {
            width: 100%;
        }
    }
}
