.new-folder-modal {
    .folder-name-input {
        .bdl-Label {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        input {
            width: 100%;
        }
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.label {
    @extend .bdl-Label;
}
