@import 'src/elements/common/variables';

$annotationThreadWidth: 340px;
$annotationThreadHeight: 600px;

.bat {
    max-width: $annotationThreadWidth;
    max-height: $annotationThreadHeight;
    background-color: $white;
}
