@import 'src/styles/variables';

$annotationThread-width: 340px;
$annotationThread-height: 600px;

.bat {
    max-width: $annotationThread-width;
    max-height: $annotationThread-height;
    background-color: $white;
}
