@import '../../styles/variables';

.btn.bdl-CloseButton {
    width: $bdl-btn-height;
    height: $bdl-btn-height;
    padding: 0;
    background-color: $bdl-gray-10;
    border: none;
    border-radius: $bdl-border-radius-size-med;
}
