@import '../../styles/variables';

.bdl-ImageTooltipContent-image {
    display: flex;

    img {
        width: 100%;
    }
}

.bdl-ImageTooltipContent-contentWrapper {
    padding: 24px 32px;
    color: $bdl-gray-80;
    font-size: 14px;
    background-color: $white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba($black, .1);
}

.bdl-ImageTooltipContent-title {
    margin-top: 0;
    color: $bdl-gray;
    font-weight: bold;
}

.bdl-ImageTooltipContent-content {
    margin: 0;
}
