.bdl-Button.be-btn-add {
    margin-left: 7px;
    padding: 5px 6px;

    svg {
        display: block;
    }
}


/*
* Section below is for bdl-namespace backwards compatibility.
* Do not add changes below this line.
*/
.btn {
    @extend .bdl-Button;
}
