@use '@box/blueprint-web-assets/tokens/tokens.scss';

@import '../../common/variables';

.bcs-DocGenSidebar {
    padding: 0 tokens.$space-6 0 tokens.$space-6;
}

.bcs-DocGen--center {
    display: flex;
    justify-content: center;
}

.bcs-TagsSection {
    margin-top: tokens.$space-6;
    padding-bottom: tokens.$space-6;
    border-bottom: tokens.$border-1 solid tokens.$gray-10;
}

.bcs-TagsSection-header {
    font-size: tokens.$caption-default-font-size;
    line-height: tokens.$caption-default-line-height;
}

.bcs-DocGen-accordion {
    padding: 0;

    &:first-child {
        padding: 0;
    }
}

.bcs-TagsSection-accordion-wrapper {
    width: '100%';
    min-width: 'fit-content';
    height: '100%';
    overflow-x: 'auto';
    overflow-y: 'auto';
}

.bcs-DocGen-accordion * {
    width: auto;
    padding: 0;
    font-size: tokens.$body-default-bold-font-size;

    .bcs-DocGen-tagPath {
        padding-left: 0;
        font-weight: bold;
    }
}

.bcs-DocGen-collapsible {
    padding-top: tokens.$space-3;
    padding-right: tokens.$space-6;
    border: none;
}

.bcs-DocGenSidebar-loading {
    margin-top: tokens.$space-4;
}

.bcs-DocGen-emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bcs-DocGen-emptyState--icon {
    margin-top: tokens.$space-15;
    margin-bottom: tokens.$space-4;
}

.bcs-DocGen-error-state {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--icon {
        margin-top: tokens.$space-15;
        margin-bottom: tokens.$space-4;
    }

    &--message {
        text-align: center;
    }
}
