@import '../../common/variables';

.bcs-DocGenSidebar {
    padding: 0 24px 0 24px;
}

.bcs-DocGen--center {
    display: flex;
    justify-content: center;
}

.bcs-TagsSection {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $bdl-gray-10;
}

.bcs-TagsSection-header {
    font-size: $bdl-fontSize-minimum;
    line-height: 14px;
}

.bcs-DocGen-accordion {
    padding: 0;

    &:first-child {
        padding: 0;
    }
}

.bcs-TagsSection-accordion-wrapper {
    width: '100%';
    min-width: 'fit-content';
    height: '100%';
    overflow-x: 'auto';
    overflow-y: 'auto';
}

.bcs-DocGen-accordion * {
    width: auto;
    padding: 0;

    .bcs-DocGen-tagPath {
        padding-left: 0;
        font-weight: bold;
        font-size: $bdl-fontSize--dejaBlue;
    }
}

.bcs-DocGen-collapsible {
    padding-top: 14px;
    padding-right: 24px;
    border: none;
}

.bcs-DocGenSidebar-loading {
    margin-top: 16px;
}

.bcs-DocGen-emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bcs-DocGen-emptyState--icon {
    margin-top: 60px;
    margin-bottom: 15px;
}

.bcs-DocGen-error-state {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--icon {
        margin-top: 60px;
        margin-bottom: 15px;
    }
}
