@import '../../../common/variables';

$sidebarThreadedActivityCardSpacingTop: 10px;
$sidebarThreadedActivityCardSpacingHorizontal: $sidebarActivityFeedSpacingHorizontal - $sidebarActivityFeedSelectedItemSpacing;
$sidebarActivityFeedSelectedItemBorderWidth: 2px;

.bcs-ActivityThread {
    padding: $sidebarActivityFeedSelectedItemBorderWidth $sidebarActivityFeedSelectedItemSpacing;
    box-shadow: 0 1px 0 0 $bdl-gray-10;

    &:hover {
        background-color: $bdl-light-blue-05;
    }

    .bcs-ActivityThread-selectWrapper {
        padding-bottom: $sidebarActivityFeedSpacingVertical - $sidebarActivityFeedSelectedItemBorderWidth;
    }

    .bcs-ActivityCard {
        padding: $sidebarThreadedActivityCardSpacingTop $sidebarThreadedActivityCardSpacingHorizontal $sidebarActivityFeedSpacingVertical;
    }

    .bcs-ActivityThread-content > .bcs-ActivityCard {
        padding-top: $sidebarThreadedActivityCardSpacingTop - $sidebarActivityFeedSelectedItemBorderWidth;
    }

    .bcs-ActivityThread-toggle {
        color: $bdl-box-blue;

        &,
        &:hover,
        &:active {
            margin-bottom: $sidebarActivityFeedSpacingVertical;
            margin-left: $sidebarActivityFeedSpacingHorizontal;
            font-weight: bold;
        }
    }

    .bcs-SelectableActivityCard[aria-disabled='false'] {
        &:hover,
        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }

    .bcs-AnnotationActivity-menu {
        top: 10px;
    }

    .bcs-Comment-timestamp {
        margin-bottom: 16px;

        .bcs-ActivityTimestamp {
            color: $bdl-gray;
        }
    }

    .bcs-CommentForm-input {
        background-color: $white;
    }

    .btn-plain:focus-visible {
        outline: auto;
    }
}

.bcs-ActivityItem.bcs-is-focused .bcs-ActivityThread {
    box-shadow: none;

    &,
    &:hover {
        background-color: $white;
    }

    .bcs-ActivityThread-selectWrapper {
        background-color: $bdl-light-blue-05;
        border-radius: $bdl-border-radius-size-med;
        box-shadow: 0 0 0 $sidebarActivityFeedSelectedItemBorderWidth $bdl-box-blue;
    }
}

.be .bcs-activity-feed .bcs-activity-feed-items-container .bcs-ActivityItem.bcs-is-focused .bcs-ActivityThread .bcs-ActivityCard {
    box-shadow: none;
    animation: none;
}

// Disable legacy annotation select indicator (orange bar)
.be .bcs-activity-feed-annotation-activity.bcs-ActivityItem.bcs-is-focused .bcs-ActivityThread .bcs-ActivityCard::before {
    content: none;
}
