@import '../../../common/variables';

.bcs-ActivityThreadReplies {
    position: relative;
    margin-bottom: $sidebarActivityFeedSpacingVertical;
    padding-left: $sidebarActivityFeedSpacingHorizontal;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $sidebarActivityFeedSpacingHorizontal;
        width: $bdl-grid-unit;
        background: $bdl-gray-10;
        border-radius: $bdl-border-radius-size;
        content: '';
    }

    .bcs-ActivityCard {
        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.bcs-ActivityThreadReplies-loading {
    padding-bottom: $bdl-grid-unit * 5;
}
