@import '../../../common/variables';

.bcs-ActivityThreadReplies {
    position: relative;
    padding-left: $sidebarActivityFeedSpacingHorizontal;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $sidebarActivityFeedSpacingHorizontal;
        width: 4px;
        background: $bdl-gray-10;
        border-radius: 2px;
        content: '';
    }

    .bcs-Comment {
        margin: $sidebarActivityFeedSpacingVertical $sidebarActivityFeedSpacingHorizontal;
        padding: 0;
    }
}
