@import '../../../common/variables';

.bcs-ActivityThreadReplyForm-toggle {
    display: flex;
    align-items: center;

    &,
    &:hover {
        padding: $bdl-grid-unit $sidebarActivityFeedSpacingHorizontal ($bdl-grid-unit * 5);
    }

    .bcs-ActivityThreadReplyForm-arrow {
        margin-right: $bdl-grid-unit;
        // in design arrow is turning left, but we only have ArrowArcRight, so will transfrom it to left one
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}
