@import '../../../common/variables';

.be .bcs-activity-feed {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $sidebarContentWidth;
    height: 100%;

    ol,
    ul {
        list-style: none;
    }

    li {
        line-height: 20px;
    }

    .bcs-activity-feed-items-container {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;

        > .inline-alert-error {
            margin: 9px 20px;
        }

        .bcs-version-item {
            &:first-child .bcs-version {
                margin-top: 0;
            }
        }

        .bcs-activity-feed-task,
        .bcs-activity-feed-task-new,
        .bcs-activity-feed-comment,
        .bcs-activity-feed-app-activity {
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $bdl-gray-10;

            &:first-child .bcs-comment {
                margin-top: 0;
            }

            &.bcs-is-focused::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin-right: -25px;
                margin-left: -25px;
                background-color: transparent;
                animation: fade-out 6s ease-out;
                content: '';

                @keyframes fade-out {
                    0% {
                        background-color: $bdl-box-blue;
                        opacity: .05;
                    }

                    67% {
                        background-color: $bdl-box-blue;
                        opacity: .05;
                    }

                    100% {
                        background-color: transparent;
                        opacity: 0;
                    }
                }
            }
        }

        .bcs-activity-feed-task {
            padding-bottom: 28px;
        }
    }

    .bcs-activity-feed-active-state {
        width: 100%;
        padding: 9px 25px;

        > li:last-child {
            margin-bottom: 10px;
        }
    }

    .bcs-activity-feed-empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bcs-empty-state-cta {
            display: flex;
            flex-direction: column;
            align-items: center;

            aside {
                width: 200px;
                margin-top: 6px;
                text-align: center;
            }
        }

        .bcs-activity-feed-empty-state-illustration {
            margin-top: 60px;
            margin-bottom: 15px;
        }
    }

    .bcs-activity-feed-comment-input {
        flex: 0 0 auto;
        min-height: 93px;
        max-height: 500px;
        overflow: hidden;
        background-color: $white;

        &.bcs-is-disabled {
            opacity: .4;
            pointer-events: none;
        }

        .selector-dropdown-wrapper {
            // Override z index to prevent a new stacking context under the approval comment form
            z-index: auto;
            width: 100%;
        }

        .overlay {
            max-height: 95px;
            overflow: auto;
        }
    }
}
