@import '../../../common/variables';

.bcs-ActivityItem {
    &.hasNewThreadedReplies {
        padding: 2px $bdl-grid-unit * 2;

        // This brittle selector is here in order to only select the parent BaseComment and not the BaseComments which constitute its replies.
        & > div {
            padding: $bdl-grid-unit * 3 $bdl-grid-unit * 3 $bdl-grid-unit;
        }

        &.bcs-is-hoverable:hover {
            background-color: $bdl-light-blue-05;
        }
    }
}

.bcs-ActivityItem.bcs-is-focused {
    &.hasNewThreadedReplies {
        background-color: $white;

        & > div {
            background-color: $bdl-light-blue-05;
            border-radius: $bdl-border-radius-size-med;
            box-shadow: 0 0 0 2px $bdl-box-blue;
        }
    }
}
