@import '../../../common/variables';

.bcs-ActivityThreadReplyForm-toggle {
    display: flex;
    align-items: center;
    color: $bdl-gray-65;

    .bcs-ActivityThreadReplyForm-arrow {
        margin-right: $bdl-grid-unit;

        // in design arrow is turning left, but we only have ArrowArcRight, so will transfrom it to left one
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}

.btn-plain.bcs-ActivityThreadReplyForm-toggle {
    &,
    &:hover,
    &:active {
        margin-left: $sidebarActivityFeedSpacingHorizontal;
        font-weight: bold;
    }
}

.bcs-CommentForm.bcs-ActivityThreadReplyForm-comment {
    padding-top: 0;
    border-top: none;
}
