@import './styles';

.bdl-PresenceAvatarList {
    display: flex;
    align-items: center;

    .presence-avatar {
        display: flex;
    }
}

.bdl-PresenceAvatarList-count {
    min-width: $bdl-Presence-avatar-size;
    max-width: 34px;
    height: $bdl-Presence-avatar-size;
    color: $bdl-gray;
    line-height: $bdl-Presence-avatar-size;
    text-align: center;
    vertical-align: top;
    background-color: $bdl-gray-20;
    border-radius: $bdl-Presence-avatar-size * .5;

    &:hover {
        cursor: pointer;
    }
}
