@import './styles';

.bdl-PresenceCollaborator-info-container {
    display: inline-block;
    margin-left: 10px;
}

.bdl-PresenceCollaborator-info-name {
    width: 180px;
    overflow: hidden;
    color: $bdl-gray;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        color: $bdl-gray;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bdl-PresenceCollaborator-info-time {
    color: $bdl-gray-65;
    font-size: 12px;
}
