@import '../../styles/variables';

.file-version-list {
    border: 1px solid $sf-fog;
    margin-bottom: 20px;
}

.file-version-row {
    border-top: 1px solid $off-white;
    display: flex;
    padding: 8px 5px;

    .file-version-icon {
        width: 32px;
    }

    .file-version-content {
        width: 340px;
    }

    .file-version-title {
        line-height: 13px;
    }

    .file-version-badge {
        background-color: $selected-blue-background;
        color: $koray-ing;
    }

    .file-version-name {
        overflow-wrap: break-word;
        padding: 0 5px;
        word-wrap: break-word;
    }

    .file-version-info {
        margin-top: 10px;

        p {
            font-size: 12px;
            line-height: 12px;
            margin: 0 0 10px;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        .file-version-retention-info {
            color: $ayers-rock;
        }
    }

    .file-version-limit-exceeded-message {
        font-size: 11px;
    }

    .file-version-actions {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    &.is-deleted {
        .file-version-info,
        .file-version-name,
        .file-version-badge {
            color: $nines;
        }
    }
}
