@import '../../styles/variables';

/**************************************
 * Avatars
 **************************************/

.avatar {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    user-select: none;

    %circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        backface-visibility: hidden;
        transition: transform .3s;
    }

    .avatar-icon,
    .avatar-image {
        @extend %circle;
    }

    .avatar-initials {
        @extend %circle;

        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: bold;
        line-height: 1;
    }

    @for $i from 1 through length($avatar-colors) {
        .avatar-initials[data-bg-idx='#{$i - 1}'] {
            background-color: nth($avatar-colors, $i);
        }
    }

    &.avatar--large {
        width: 44px;
        height: 44px;

        .avatar-initials {
            font-size: 14px;
        }
    }
}
