@import '../../styles/variables';

/**************************************
 * Avatars
 **************************************/

$size-default: 32px;
$size-large: 44px;

.avatar {
    border-radius: 100%;
    display: inline-block;
    height: $size-default;
    position: relative;
    transition: .3s;
    user-select: none;
    width: $size-default;

    .avatar-icon,
    .avatar-image,
    .avatar-initials {
        backface-visibility: hidden;
        border-radius: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform .3s;
        width: 100%;
    }

    .avatar-initials {
        align-items: center;
        color: $white;
        display: flex;
        font-weight: bold;
        justify-content: center;
    }

    &.avatar--large {
        height: $size-large;
        width: $size-large;
    }
}
