@import '../variables';

.buik-breadcrumb {
    align-items: center;
    display: flex;
    min-width: 20px;

    &:first-child {
        min-width: 64px;
    }

    .btn-plain {
        color: $sevens;

        &:last-child {
            color: $twos;
        }
    }
}

.buik-breadcrumb-seperator {
    margin: 1px 8px 0 5px;
}
