@import '../../styles/variables';

.bdl-ContentAnswersGridCard {
    margin-top: $bdl-grid-unit * 4;

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $bdl-grid-unit * 8;
        height: $bdl-grid-unit * 8;
        background: $bdl-light-blue-20;
        border-radius: 50%;
    }

    &-body {
        padding: $bdl-grid-unit * 4;
        background-color: $white;
        border: 1px solid $bdl-gray-10;
        border-radius: $bdl-border-radius-size-xlarge;
    }

    .bdl-Media-figure {
        margin: $bdl-grid-unit * 4 .75rem 0 0;
    }
}
