@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-ContentAnswersModalContent {
        flex: 1 1 auto;
        width: auto;
        padding: 0 $bdl-grid-unit * 5 $bdl-grid-unit * 5 $bdl-grid-unit * 5;
        overflow: auto;

        ul {
            margin: 0;
        }
    }
}
