@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-ContentAnswersModal-content {
        display: flex;
        flex-direction: column;
        background-color: $bdl-gray-05;
    }

    .modal-dialog-container {
        height: 100%;
        max-height: 702px;
    }

    .modal-dialog {
        width: 768px;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    .modal-header-container {
        z-index: 1;
        margin: 0;
        padding: $bdl-grid-unit * 4 $bdl-grid-unit * 5;
        box-shadow: 0 0 8px rgba(0, 0, 0, .05), 0 1px 0 $bdl-gray-10;

        .modal-title {
            display: flex;
            align-items: center;
        }

        .bdl-BoxAiLogo {
            margin-right: $bdl-grid-unit * 3;
        }
    }

    .modal-content {
        flex-grow: 1;
        margin-top: 0;
        overflow: hidden;
    }

    .bdl-ContentAnswersModalFooter-submitButton {
        height: $bdl-btn-height-large;
        margin: 0;
        font-size: 14px;
    }
}
