@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-ContentAnswersGridCard {
        margin-top: $bdl-grid-unit * 4;

        .bdl-ContentAnswersGridCard-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $bdl-grid-unit * 8;
            height: $bdl-grid-unit * 8;
            background: $bdl-light-blue-20;
            border-radius: 50%;
        }

        .bdl-ContentAnswersGridCard-body {
            padding: $bdl-grid-unit * 4;
            background-color: $white;
            border: 1px solid $bdl-gray-10;
            border-radius: $bdl-border-radius-size-xlarge;
        }

        .bdl-Media-figure {
            margin: $bdl-grid-unit * 4 $bdl-grid-unit * 3 0 0;
        }
    }
}
