@import '../../styles/variables';

.bdl-ContentAnswersOpenButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $bdl-gray-02;
    border: none;

    .btn-content {
        display: flex;
    }

    &:not(.bdl-is-disabled):focus,
    &:not(.bdl-is-disabled):hover {
        background-color: $bdl-gray-10;
    }
}
