@import '../../styles/variables';

.bdl-ContentAnswersGridCard {
    margin-top: $bdl-grid-unit * 4;

    .bdl-BoxAIIcon-iconAvatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: $bdl-light-blue-20;
        border-radius: 50%;
    }

    .bdl-ContentAnswersGridCard-body {
        padding: $bdl-grid-unit * 4;
        background-color: white;
        border: 1px solid $bdl-gray-10;
        border-radius: $bdl-border-radius-size-xlarge;
    }

    .bdl-Media-figure {
        margin: $bdl-grid-unit * 4 $bdl-grid-unit * 4 0 0;
    }
}
