@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-ContentAnswersModalFooterActions {
        position: relative;
        top: -$bdl-grid-unit * 4;
        display: flex;
        padding: $bdl-grid-unit * 3 0 0 0;
    }

    .bdl-ContentAnswersModalFooterActions-button {
        margin: auto;

        &:not(.bdl-is-disabled):focus {
            border: 1px solid #bcbcbc;
            box-shadow: 0 0 0 1px $white, 0 0 0 3px $bdl-light-blue;
        }
    }
}
