@import '../../styles/variables';

.bdl-ContentAnswersModalFooterActions {
    position: relative;
    top: -$bdl-grid-unit * 4;
    right: 0;
    left: 0;
    align-self: flex-start;
    width: 100%;
    padding: $bdl-grid-unit * 3 0 0 0;
}

.bdl-ContentAnswersModalFooterActions-button {
    display: flex;
    align-items: center;
    margin: auto;

    &:not(.bdl-is-disabled):focus {
        border: 1px solid #bcbcbc;
        box-shadow: 0 0 0 1px $white, 0 0 0 3px $bdl-light-blue;
    }
}
