@import '../../styles/variables';

.bdl-ContentAnswersModalFooter {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: end;
    padding: $bdl-grid-unit * 4 $bdl-grid-unit * 5;
    background: $white;
    border-radius: 0 0 $bdl-border-radius-size-xlarge $bdl-border-radius-size-xlarge;
    box-shadow: 0 0 8px rgba(0, 0, 0, .05), 0 -1px 0 $bdl-gray-10;

    .bdl-ContentAnswersModalFooter-avatar {
        height: $bdl-grid-unit * 8;
        margin-bottom: $bdl-grid-unit;
    }

    .text-area-container {
        width: 100%;
        margin: 0 $bdl-grid-unit * 4;
    }

    textarea {
        width: 100%;
        height: $bdl-grid-unit * 10;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.25rem;
        letter-spacing: .01875rem;
        border: none;
        border-radius: $bdl-border-radius-size-med;
        box-shadow: 0 0 0 .0625rem $bdl-gray-50;
        padding-block: .625rem;
        padding-inline: .75rem;
    }

    textarea:focus {
        border: 1.5px solid $bdl-box-blue;
    }
}
