@import '../../styles/variables';

.bdl-InlineError {
    margin-top: $bdl-grid-unit * 4;

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $bdl-grid-unit * 8;
        height: $bdl-grid-unit * 8;
        background: $bdl-light-blue-20;
        border-radius: 50%;
    }

    &-text {
        flex-grow: 1;
        margin: 0 $bdl-grid-unit * 3;
        font-size: $bdl-fontSize--dejaBlue;
    }

    &-AlertIcon {
        width: 20px;
        height: 20px;
    }

    .bdl-Media-figure {
        margin: $bdl-grid-unit * 4 $bdl-grid-unit * 3 0 0;
    }

    .bdl-Media-body {
        display: flex;
        align-items: center;
        padding: $bdl-grid-unit * 3 $bdl-grid-unit * 4;
        background-color: $bdl-watermelon-red-10;
        border: 2px solid $bdl-watermelon-red-50;
        border-radius: $bdl-grid-unit * 3;
    }
}
