@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-Question {
        margin-top: 1rem;
        white-space: pre-wrap;

        .bdl-Media-figure {
            margin-right: $bdl-grid-unit * 3;
        }

        .bdl-Media {
            align-items: center;
            color: $bdl-gray;
            font-size: 15px;
        }
    }
}
