@import '../../styles/variables';

.bdl-ContentAnswersModal {
    .bdl-WelcomeMessage {
        .bdl-ContentAnswersGridCard {
            margin-top: $bdl-grid-unit * 5;
        }

        .bdl-WelcomeMessage-title {
            margin: 0;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
        }

        .bdl-WelcomeMessage-askQuestionText {
            margin: $bdl-grid-unit * 3 0;
            font-size: 15px;
        }

        .bdl-WelcomeMessage-clearChatText {
            margin: 0;
            color: $bdl-gray-65;
            font-size: 13px;
        }
    }
}
