@import '../common/variables';
@import '../../styles/mixins/overlay';

$bcs-AddTaskMenu-width: 256px;

.bcs-AddTaskMenu {
    @include bdl-Overlay-container;
}

.bcs-AddTaskMenu-menuItem {
    display: flex;
    max-width: $bcs-AddTaskMenu-width;
    min-height: 80px;
    white-space: normal;

    &:focus {
        outline: none !important; // Override needed until default menus are updated
    }

    @include bdl-Overlay-listItemContainer;
}

.bcs-AddTaskMenu-title {
    font-weight: bold;
}

.bcs-AddTaskMenu-description {
    color: $bdl-gray-65;
    font-size: 11px;
    line-height: 14px;
}
