@import '../common/variables';
@import './mixins';

.bcs-details {
    .bcs-scroll-content {
        padding-top: 15px;
    }

    .item-properties dd {
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.bcs-DetailsSidebar-notices {
    @include bcs-SidebarSection;
}
