@import '../../styles/variables';

.bdl-MenuHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
}

.bdl-MenuHeader-content {
    display: flex;
    flex: 1;
    padding-right: 5px;
}

.bdl-MenuHeader-title-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.bdl-MenuHeader-title {
    @include bdl-lineClamp;

    margin: 0;
    color: $bdl-gray;
    font-weight: bold;
    font-size: 16px;
}

.bdl-MenuHeader-subtitle {
    margin: 0;
    color: $bdl-gray-65;
    font-size: 12px;
}
