@import '../variables';

.be-progress-container {
    left: 0;
    position: absolute;
    top: 0;
    transition: .4s opacity;
    width: 100%;

    .be-progress {
        background: $blue;
        box-shadow: 0 1px 5px 0 $light-blue;
        height: 2px;
        max-width: 100%;
        transition: .4s width;
    }
}
