.AdvancedContentInsightsToggle {
    margin-bottom: 0;

    .toggle-simple-label {
        display: flex;
    }
}

.AdvancedContentInsightsToggle-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
