@import '../../../styles/variables';
@import '../../../styles/common/_animations';
@import '../mixins';

.bdl-AdditionalTab {
    @include bdl-SidebarNavButton;

    &:hover {
        svg path {
            fill: $bdl-gray-80;
        }
    }
}

.bdl-AdditionalTab-icon {
    @include bdl-openComponentAnimation(.5s);
    @include bdl-SidebarNavIcon;

    border-radius: 5px;
}
