@import '../../styles/variables';

@mixin bdl-RoundPill($background-color: $bdl-gray-10, $border-color: $bdl-gray-10, $selected-background-color: $bdl-gray-20, $selected-border-color: $white) {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 28px;
    margin: $bdl-grid-unit - 1px $bdl-grid-unit * .5;
    padding-top: 2px;
    padding-left: 2px;
    overflow: hidden;
    font-weight: normal;
    line-height: $bdl-line-height + $bdl-grid-unit;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 14px;

    .bdl-Avatar-externalBadge {
        border-color: $background-color;
    }

    &.bdl-RoundPill--selected {
        font-weight: bold;
        background-color: $selected-background-color;
        border: 1px solid $selected-border-color;

        .bdl-Avatar-externalBadge {
            border-color: $selected-background-color;
        }
    }
}
