@import '../../styles/variables';

.custom-new-field {
    padding: 10px 25px 20px;
    background-color: $bdl-gray-10;
    border-radius: $bdl-border-radius-size;

    .text-input-container {
        flex: 1;
        margin: 10px 0;

        input[type='text'] {
            width: 100%;
        }
    }

    .custom-new-field-header {
        display: flex;
        align-items: center;

        h5 {
            margin: 8px 5px 8px 0;
            font-size: 14px;
        }

        > div {
            display: flex;
        }
    }
}

.custom-new-field-actions {
    margin: 20px 0 0;
    text-align: right;

    .btn {
        margin: 0 0 0 10px;
    }
}
