@import '../../styles/variables';

.metadata-instance-editor-header {
    z-index: 3;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}
