@import '../constants/buttons';

/**
 * Mixin for PlainButton to handle overriding margins for the hover/active states.
 */
@mixin bdl-Button-margins($margin) {
    margin: $margin;

    &:hover,
    &:active {
        margin: $margin;
    }
}

/**
 * Mixin to create large buttons. Should not often be needed directly,
 * use the size="large" prop on the Button component instead.
 */
@mixin bdl-Button--large {
    padding: 0 $bdl-btn-padding-horizontal;
    font-size: $bdl-fontSize--dejaBlue;
    line-height: $bdl-btn-height-large - 2 * $bdl-btn-border-width;
}
