@import '../../styles/variables';

.bdl-ContactRestrictionNotice {
    color: $bdl-gray;

    .bdl-SelectButton {
        margin: $bdl-grid-unit * 3 auto;
    }

    .bdl-SelectFieldDropdown {
        z-index: $overlay-z-index;
        max-width: 100%;
    }
}

.bdl-ContactRestrictionNotice-contactEmail {
    text-decoration: underline;
}

.bdl-ContactRestrictionNotice-loadingIndicator {
    display: flex;
    align-items: center;
    height: 34px;
    margin: $bdl-grid-unit * 3 auto;
}

.bdl-ContactRestrictionNotice-removeBtn {
    color: $bdl-gray;
    text-align: left;
    text-decoration: underline;
}
