.ums-share-permissions-menu {
    .ums-share-permissions-menu-item {
        display: flex;
        align-items: center;

        .ftux-editable-shared-link {
            margin-left: 10px;
        }
    }
}
