@import '../common/variables';

.bcp-content {
    display: flex;
    flex: 1 0 160px;
    flex-direction: column;
    position: relative;
}

.bcp-ShareAccessSelect--loading {
    align-items: center;
    display: flex;
    height: 30px;
}
