@keyframes bdl-PreviewLoading-pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.95);
    }
}

.bdl-PreviewLoading-icon {
    width: 50%;
    height: 50%;
    transform: scale(1);
    animation: bdl-PreviewLoading-pulse 500ms ease-in-out infinite alternate both;
}
