@import '../../styles/variables';

.datalist-item {
    margin: 0 ($bdl-grid-unit * 2);
    padding: $bdl-grid-unit ($bdl-grid-unit * 9) $bdl-grid-unit ($bdl-grid-unit * 2);
    border-radius: $bdl-border-radius-size * 2;

    &.is-active {
        background-color: fade-out($bdl-gray, .95);
        cursor: pointer;
    }
}
