@import '../../../common/variables';

.be {
    .bcs-collapsed-keywords,
    .bcs-keywords {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        padding: 9px;
        color: #a64dee;
        background-color: #f5ebfd;
        border-radius: 4px;

        .bcs-keywords-actions {
            display: flex;
            justify-content: flex-end;
        }

        .bcs-keywords-message {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .bcs-keywords-info {
            position: relative;
            flex: none;
            width: 16px;
            height: 16px;

            path {
                fill: #a64dee;
            }
        }

        .bcs-keywords-range {
            white-space: nowrap;
        }
    }

    .bcs-keywords-actions-tooltip {
        max-width: 250px;

        > span {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
