@import '../../styles/variables';

/**************************************
 * Progress Bar
 **************************************/

.progress-bar-container {
    width: 100%;

    .progress-bar {
        height: 3px;
        background-color: $primary-color;
        transition: width .2s ease-in;
    }
}
