@import '../../elements/common/variables';
@import '../../styles/variables';

.bdl-GridView {
    .ReactVirtualized__Table__rowColumn:first-child {
        margin: 0;
    }

    & .bce-more-options {
        align-self: flex-start;
    }

    & .bce-btn-more-options {
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
    }
}

.bdl-GridView-body {
    outline: none;
    padding: 5px;
}

.bdl-GridView-row {
    display: flex;
    justify-content: flex-start;
}

.bdl-GridView-slotWrapper {
    flex: 0 1 auto;
    overflow: hidden;
    padding: 5px;
    white-space: normal;
}

.bdl-GridView-slot {
    border: 1px solid $bdl-gray-10;
    box-shadow: 0 1px 5px rgba(50, 50, 50, .1);
    height: 100%;

    &:hover,
    &:active,
    &:focus {
        border-color: $bdl-box-blue-50;
    }

    &.bdl-GridView-slot--selected {
        border-color: $bdl-box-blue-50;
    }
}

.bdl-GridView-tableRow {
    border: none;
}
