@import '../../elements/common/variables';
@import '../../styles/variables';

.bdl-GridViewSlot {
    border: 1px solid $bdl-gray-10;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 15px;
    white-space: normal;
}

.bdl-GridViewSlot-blank {
    border: none;
    box-shadow: none;
}
