@import '../../elements/common/variables';
@import '../../styles/variables';

.bdl-GridViewSlot {
    border: 1px solid $bdl-gray-10;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 15px;
    white-space: normal;

    &.bdl-GridViewSlot--blank {
        border: none;
        box-shadow: none;
    }
}

.bdl-GridView-itemThumbnail {
    margin-bottom: 10px;
    padding-bottom: 65%;
    position: relative;

    .bdl-GridView-itemIcon {
        bottom: 0;
        height: 50%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 50%;
    }
}
